<div th:fragment="sidevav">

        <ul class="navbar-nav bg-dark-sidebar sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
		
            <a class="sidebar-brand d-flex align-items-center justify-content-left" th:href="@{/dashboard}">
                <div class="sidebar-brand-icon">
                    <img src="img/avatar.png" alt="" width="36">
                </div>
                
                <div class="sidebar-brand-text mx-2 text-left"><span class="text-muted text-sm" th:text="${session.organizationName}"></span> <br> 
              
                </div>   
            </a>
			
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active mt-3" th:if="${session.user_role == 1 or session.user_role == 9 or 
				session.user_role == 2 or session.user_role == 3 or session.user_role == 12} ">
                <a class="nav-link" th:href="@{/dashboard}">
                    <img src="img/menu-home.svg" alt="" class="mr-2">
                    <span>Home</span></a>
            </li>
			<li class="nav-item" th:if="${session.user_role == 9}">
				    <a class="nav-link" th:href="@{/upiVoucherIssuanceNew}">
				        <img src="img/menu-upi-voucher.svg" alt="" class="mr-2">
				        <span>UPI Voucher</span></a>
				 </li>
				 <li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9}">
	                <a class="nav-link" th:href="@{/manageEmployee}">
	                    <img src="img/people.png" alt="" class="mr-2">
	                    <span>People</span></a>
	            </li> 
				<li class="nav-item" th:if="${session.user_role == 9}">
		         <a class="nav-link" th:href="@{/vehiclemanagement}">
		               <img src="img/menu-vehicle.png" alt="" class="mr-2">
		               <span>Vehicle Management</span></a>
		       </li>
			 <!-- <li class="nav-item" th:if="${session.user_role == 9}">
   		         <a class="nav-link" th:href="@{/brandDashboard}">
   		               <img src="img/menu-brand.png" alt="" class="mr-2">
   		               <span>Brand Management</span></a>
   		       </li>-->
			<!-- <li class="nav-item" th:if="${session.user_role == 3 or session.user_role == 2 or session.user_role == 1 or session.user_role == 9}">
   	             <a class="nav-link" th:href="@{/expenseReimbursements}">
   	                 <img src="img/expenses-h.svg" alt="" class="mr-2">
   	                 <span>Expense Request</span></a>
   	         </li>
			 <li class="nav-item" th:if="${session.user_role == 3 or session.user_role == 2 or session.user_role == 1 or session.user_role == 9}">
   	             <a class="nav-link" th:href="@{/travelRequest}">
   	                 <img src="img/travel-request-h.svg" alt="" class="mr-2">
   	                 <span>Travel Request</span></a>
   	         </li>-->
			 
			 <li class="nav-item" th:if="${session.user_role == 3 or session.user_role == 2 or session.user_role == 1 or session.user_role == 9}">
  	             <a class="nav-link" th:href="@{/requestApproveVouchers}">
  	                 <img src="img/menu-expenses-advances.svg" alt="" class="mr-2">
  	                 <span>Request Advances</span></a>
  	         </li>
						 
			 <li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9 or session.user_role == 3}">
 			   <a class="nav-link" th:href="@{/roleAccess}">
 			       <img src="img/menu-admin-settings.svg" alt="" class="mr-2">
 			       <span>Admin Settings</span></a>
 			</li>
			 			
		<!--	<li class="nav-item" th:if="${session.user_role == 2}">
               <a class="nav-link" th:href="@{/employeeProfile}">
                <img src="img/menu-employee-payroll.svg" alt="" class="mr-2"> <span>Employee Profile</span> </a>
           </li>
		-->
           
			<!--moved to admin settings-->
            <!-- <li class="nav-item" th:if="${session.user_role == 3  or session.user_role == 9  or session.user_role == 1 }">
                <a class="nav-link" th:href="@{/expanceTravel}">
                    <img src="img/menu-workplace.svg" alt="" class="mr-2">
                    <span>Workplace</span></a>
            </li>-->
			
			<!--<li class="nav-item" th:if="${session.user_role == 1}">
			    <a class="nav-link" th:href="@{/expenseReimbursementsCompany}">
			        <img src="img/menu-expenses-advances.svg" alt="" class="mr-2">
			        <span>Expenses & Advances</span></a>
			</li>-->
			
			<!--<li class="nav-item">
	           <a class="nav-link" th:href="@{/expenseReimbursements}">
	               <img src="img/pf.png" alt="" class="mr-2">
	               <span>Expenses & Advances</span></a>
			 </li> -->
				   
             <!--  <li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9}">
                <a class="nav-link" th:href="@{/employeeBand}">
                    <img src="img/menu-admin-settings.svg" alt="" class="mr-2">
                    <span>Employee Band Settings</span></a>
            </li>-->
			 
			
			<!--<li class="nav-item" th:if="${session.user_role == 9 or session.user_role == 12 }">
                <a class="nav-link" th:href="@{/displaymanagerMaster}">
                    <img src="img/pf.png" alt="" class="mr-2">
                    <span>Manager Master</span></a>
            </li> 
			
			<li class="nav-item" th:if="${session.user_role == 12 }">
            <a class="nav-link" th:href="@{/displayjobTitlemaster}">
                <img src="img/pf.png" alt="" class="mr-2">
                <span>Job Title Master</span></a>
            </li> -->
			<li class="nav-item" th:if="${session.user_role == 12}">
               <a class="nav-link" th:href="@{/displaybankMaster}">
                   <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                   <span>Bank Master</span></a>
           </li>
		
		<!--  <li class="nav-item" th:if="${session.user_role == 12 or session.user_role == 9}">
             <a class="nav-link" th:href="@{/helpdeskadmin}">
                 <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                 <span>Helpdesk Support</span></a>
         </li>-->
		    
		 
		           	
            <!-- <li class="nav-item" th:if="${session.user_role == 9}">
                 <a class="nav-link" th:href="@{/linkBankDetail}">
                     <img src="img/menu-admin-settings.svg" alt="" class="mr-2">
                     <span>Link Bank Account</span></a>
             </li>
-->
		<!--  <li class="nav-item" th:if="${session.user_role == 9}">
		      <a class="nav-link" th:href="@{/userVoucheCreation}">
		          <img src="img/menu-upi-voucher.svg" alt="" class="mr-2">
		          <span>Existing User</span></a>
		  </li> -->
		
		 <li class="nav-item" th:if="${session.user_role == 12}">
 		    <a class="nav-link" th:href="@{/displayvoucherMaster}">
 		        <img src="img/pf.png" alt="" class="mr-2">
 		        <span>Voucher Master</span></a>
 		 </li>
		 <li class="nav-item" th:if="${session.user_role == 3}">
	 	    <a class="nav-link" th:href="@{/reputeUpiVoucherIssuance}">
	 	        <img src="img/menu-upi-voucher.svg" alt="" class="mr-2">
	 	        <span>UPI Voucher Issuance</span></a>
	 	 </li>
		<!-- <li class="nav-item" th:if="${session.user_role == 2 or session.user_role == 9}">
            <a class="nav-link" th:href="@{/requestVoucher}">
                <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                <span>Request Vouchers</span></a>
        </li>
		<li class="nav-item" th:if="${session.user_role == 2 or session.user_role == 9}">
           <a class="nav-link" th:href="@{/requestedVoucherList}">
               <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
               <span>Approve Vouchers</span></a>
       </li>-->
		 <li class="nav-item" th:if="${session.user_role == 12}">
             <a class="nav-link" th:href="@{/displayWaitlist}">
                 <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                 <span>Waitlist</span></a>
         </li>
		 
		<!--<li class="nav-item" th:if="${session.user_role == 12 or session.user_role == 9}">
             <a class="nav-link" th:href="@{/cotodelApproval}">
                 <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                 <span>Cotodel Wallet Approvel</span></a>
         </li>-->
		 <li class="nav-item" th:if="${ session.user_role == 9 or session.user_role == 3}">
             <a class="nav-link" th:href="@{/cotowallet}">
                 <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                 <span>Cotodel Wallet</span></a>
         </li>
	<!--	<li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9}">
            <a class="nav-link" href="https://helpdesk.cotodel.com/helpdesk/" target="_blank">
                <img src="img/support.png" alt="" class="mr-2">
                <span>Support</span></a>
        </li>-->
		
	  <li class="nav-item" th:if="${session.user_role == 2 or session.user_role == 1 or session.user_role == 9}">
	            <a class="nav-link" th:href="@{/customSupport}">
	                <img src="img/support.png" alt="" class="mr-2">
	                <span>Customer Support</span></a>
	        </li>
	   <li class="nav-item" th:if="${session.user_role == 7 }">
	           <a class="nav-link" th:href="@{/helpdeskaction}">
	               <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
	               <span>Helpdesk Support</span></a>
	       </li>
		<!--  <li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9}">
               <a class="nav-link" th:href="@{/payment}">
                   <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
                   <span>Pay Now</span></a>
           </li>-->
            <!-- Sidebar Toggler (Sidebar) -->

        <!--     <li class="nav-item li-btm">               
                <img src="img/undraw_profile.svg" alt="" width="30" class="mr-2">
                <span class="text-muted text-sm" th:text="${session.mobile}"></span>
                <a href="#" class="float-right mt-1"><i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i></a>
            </li>
 		-->
				   
	 <!--  <li class="nav-item" th:if="${session.user_role == 1 or session.user_role == 9 or session.user_role == 10}">
           <a class="nav-link" th:href="@{/directorOnboarding}">
               <img src="img/menu-employee-incentives.svg" alt="" class="mr-2">
               <span>Director Onboarding</span></a>
       </li>-->
	   
	   
     </ul>
        
       

</div>