<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<body id="page-top" onload="getOutletDetail(), getGeographicDropdownList()">
	
    <div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
			      
		<div th:insert="fragments/sidenav.html :: sidevav"></div>
		
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav top-nav">
                        <!-- Nav Item - User Information -->
                    </ul>
					<!-- Right Icons + Profile -->
					    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
					      <!-- Wallet Icon -->
					     <!-- <li class="nav-item mr-3">
					        <a href="/settings/wallet" role="button">
					          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
					        </a>
					      </li>-->
						  <li class="nav-item mr-3">
		  			        <a href="/cotowallet" role="button">
		  			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
		  			        </a>
		  			      </li>
					      <!-- Notification Icon -->
					      <li class="nav-item mr-3">
					        <a href="#" role="button">
					          <img src="img/Notification-icon.png" alt="Notification" class="nav-icon-img">
					        </a>
					      </li>

					      <!-- Profile Dropdown -->
					      <li class="nav-item dropdown no-arrow">
					        <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          <img class="img-profile rounded-circle" src="img/undraw_profile.svg" alt="User" style="width: 32px; height: 32px;">
					        </a>
					        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
					          <a class="dropdown-item" href="/ProfileInfo">
					            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
					          </a>
					       <!--   <a class="dropdown-item" href="#">
					            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
					          </a>-->
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="/logout">
					            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
					          </a>
					        </div>
					      </li>
					    </ul>
                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-underline">
                                <li  class="nav-item" th:if="${session.user_role == 9 or session.user_role == 1 }" ><a data-toggle="tab" href="#home1" class="nav-link active">Home</a></li>
                                <li  class="nav-item" th:if="${session.user_role == 9 or session.user_role == 1  or session.user_role == 3}" id="bandli"><a data-toggle="tab" href="#menu11" class="nav-link">Outlets</a></li>
                                <li  class="nav-item" th:if="${session.user_role == 9 or session.user_role == 3}" ><a class="nav-link" data-toggle="tab" href="#menu22">Schemes</a></li>
								<li  class="nav-item" th:if="${session.user_role == 9 or session.user_role == 3}" ><a class="nav-link" data-toggle="tab" href="#menu33">Analytics</a></li>
							
                            </ul>

                            <div class="tab-content">
                                <div id="home1" class="tab-pane in active" th:if="${session.user_role == 9 or session.user_role == 1}">
									  <div class="container py-4">
									     <div class="row g-3 justify-content-center">
									       <!-- Card 1 -->
									       <div class="col-md-4">
									         <div class="brand-dashboard-card bg-white">
									           <div class="brand-dashboard-title">UPI Voucher Bought this month</div>
									           <div class="brand-dashboard-section">
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/li_user.svg"></div>
									               <div class="brand-dashboard-value">0</div>
									               <div class="brand-dashboard-label">Users</div>
									             </div>
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/voucher-ticket.svg"></div>
									               <div class="brand-dashboard-value">0</div>
									               <div class="brand-dashboard-label">Vouchers</div>
									             </div>
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/Rupee-Circle.svg"></div>
									               <div class="brand-dashboard-value">₹0.00</div>
									               <div class="brand-dashboard-label">Value</div>
									             </div>
									           </div>
									         </div>
									       </div>

									       <!-- Card 2 -->
									       <div class="col-md-4">
									         <div class="brand-dashboard-card bg-white">
									           <div class="brand-dashboard-title">Amount Redeemed this Month</div>
									           <div class="brand-dashboard-section">
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/History-green.svg"></div>
									               <div class="brand-dashboard-value">₹0.00</div>
									               <div class="brand-dashboard-label">Vouchers from past Month</div>
									             </div>
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/calendar-green.svg"></div>
									               <div class="brand-dashboard-value">₹0.00</div>
									               <div class="brand-dashboard-label">Vouchers from Current Month</div>
									             </div>
									           </div>
									         </div>
									       </div>

									       <!-- Card 3 -->
									       <div class="col-md-4">
									         <div class="brand-dashboard-card bg-white">
									           <div class="brand-dashboard-title">Outlets Activity this Month</div>
									           <div class="brand-dashboard-section">
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/Outlet-green.svg"></div>
									               <div class="brand-dashboard-value">0</div>
									               <div class="brand-dashboard-label">Active Outlets</div>
									             </div>
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/Outlet-Onboard.svg"></div>
									               <div class="brand-dashboard-value">0</div>
									               <div class="brand-dashboard-label">Onboarded</div>
									             </div>
									             <div class="brand-dashboard-item">
									               <div class="brand-dashboard-icon"><img src="img/Outlet-Deactivate.svg"></div>
									               <div class="brand-dashboard-value">0</div>
									               <div class="brand-dashboard-label">Deactivated</div>
									             </div>
									           </div>
									         </div>
									       </div>
									     </div>
									   </div>
   
									   
									   
									   <!-- tabs section-->
													<div class="upi-voucher-wrap" style="margin: 0 auto; max-width: 1400px;">
									   					<div class="d-flex align-items-center justify-content-between">
									   					    <h3 class="mb-3"></h3>

									   					    <div class="rightdownload mb-3 d-flex align-items-center" style="gap: 12px;">
									   							
									   					       

									   							<!-- Quick Filters -->
									   							<div id="quickFilters" style="width: 160px; height: 44px; border-radius: 10px; padding: 10px; border: 1px solid #EDEDF0;" class="dropdown d-flex align-items-center">
									   							    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									   							        <!--<img src="img/filter-icon.svg" alt="Filter" style="margin-right: 6px;">-->
									   							        Quick Filters
									   						    </a>
									   							    <div class="dropdown-menu">
									   							        <a id="filter-active" class="dropdown-item" href="#">Active</a>
									   							        <a id="filter-expired-revoked" class="dropdown-item" href="#">Expired & Revoked</a>
									   							        <a id="filter-issued-today" class="dropdown-item" href="#">Issued Today</a>
									   							        <a id="filter-issued-this-month" class="dropdown-item" href="#">Issued this Month</a>
									   							    </div>
									   							</div>
									   					    </div>
									   					</div>

									                       <div >
									   						<div >
									   							
									   						   <ul class="nav nav-underline" id="dashboardTabs" role="tablist">
									   						     <li class="nav-item">
									   						       <a class="nav-link active" data-toggle="tab" href="#Purchases" role="tab">Purchases</a>
									   						     </li>
									   							 <li class="nav-item">
									   						       <a class="nav-link" data-toggle="tab" href="#Redemptions" role="tab">Redemptions</a>
									   						     </li>
																 <li class="nav-item">
	 								   						       <a class="nav-link " data-toggle="tab" href="#Live-Vouchers" role="tab">Live - Vouchers</a>
	 								   						     </li>
	 								   							 <li class="nav-item">
	 								   						       <a class="nav-link" data-toggle="tab" href="#Live-Transactions" role="tab">Live - Transactions</a>
	 								   						     </li>
									   							
									   						   </ul>
									   						  
									   						   <hr class="mt-0">

									   						   <div class="tab-content mt-3">
									   							<!--vouchers tab-->
									   							<div class="tab-pane fade show active" id="Purchases" role="tabpanel">
									   							<div class="table-responsive" >
									   							   <table class="table table-reimbursements mb-0" id="PurchasesTableList" style="border: 1px solid #EAF4EF; border-radius: 10px;font-size: 13px;">
									   							
									   								 <thead>
									   					                <tr>
									   									 <!-- <th>S.NO</th>-->
									   									
									   									 <th>#</th>	
									   									  <th>Outlet Name</th>
									   									 
									   									  
									   					                  <th>Vouchers</th>
									   									  <th>Value</th>	
									   										<th>Average Voucher Value</th>
									   									  
									   									  <th>Users</th>	
																		  <th># of Purchases / User</th>	
		  								   								  <th>Voucher Value / User</th>
		  								   								 
									   					                </tr>
									   					              </thead>
									   							     <tbody class="table-bordered" >
									   							       <!--<tr>
									   									<td>
									   							          <input type="checkbox" class="rowCheckbox">
									   							        </td>
									   							        <td > 25/10/2024</td>
									   								 <td>Deepak Kumar<br>9910318405</td>
									   								 <td>ICICI00001145781</td>
									   								 <td>
									   							         <img src="img/indianbank.png" alt="indianbank" style="height:24px; width:24px; margin-right:4px;"> xxx0569
									   							        </td>
									   								 <td><img src="img/cup-1.svg" alt="info" style="height:24px; width:24px; ">Meal 
									   									</td>
									   									<td><img src="img/tiffinbox.svg" alt="tiffinbox" style="height:24px; width:24px;">Multiple</td>
									   									<td>25/11/2024</td>
									   									<td class="pill bg-lightgreen-txt-green-pill mt-3">Active</td>
									   									<td style="vertical-align: middle;">
									   									  <div class="pill-wide bg-lightgreen-txt-green-pill">Not Redeemed</div>
									   									</td>
									   									<td>₹50,000</td>
									   									<td style="text-align: right;">-<img src="img/history-icon-gray.png" alt="info" style="height:24px; width:24px; margin-left:14px;"></td>
									   									<td>
									   							       	<i class="fas fa-ellipsis-v fa-sm view-voucher-details" style="cursor: pointer;"></i>
									   								   </td>
									   							       </tr>
									   								   
									   								     <tr>
									   								   <td>
									   								        <input type="checkbox" class="rowCheckbox">
									   								      </td>
									   								      <td> 25/10/2024</td>
									   								   <td>Atul Kumar<br>9910318405</td>
									   								   <td>ICICI00001145781</td>
									   								   <td>
									   								       <img src="img/indianbank.png" alt="indianbank" style="height:24px; width:24px; margin-right:4px;"> xxx8798
									   								      </td>
									   								   <td><img src="img/fuel-1.svg" alt="info" style="height:24px; width:24px; ">Fuel
									   								   </td>
									   								   <td><img src="img/single-redemption-green.svg" alt="single-redemption-green" style="height:24px; width:24px;">Single</td>
									   								   <td>25/11/2024</td>
									   								   <td class="pill bg-grey-txt-grey-pill  mt-3">Expired</td>
									   								   
									   								   <td style="vertical-align: middle;">
									   									  <div class="pill-wide bg-grey-txt-grey-pill">Fully Redeemed</div>
									   									</td>
									   								   <td>₹50,000</td>
									   								   <td style="text-align: right;">-<img src="img/history-icon-gray.png" alt="info" style="height:24px; width:24px; margin-left:14px;"></td>
									   								   <td>
									   							       	<i class="fas fa-ellipsis-v fa-sm view-voucher-details" style="cursor: pointer;"></i>
									   								   </td>
									   								     </tr>	-->	
									   									 <tr>
																			<td>1</td>	
																			<td style="display: flex; justify-content: space-between; align-items: center;">
																			  A Outlet
																			  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
																			</td>	
									   									 <td>75,000</td>	
									   									 <td>₹75,00,000</td>	
									   									 <td>₹1,200</td>	
									   									 <td>30,000</td>	
																		 <td>20</td>	
																		 <td>₹1,200</td>				
									   									 </tr>
																		 <tr>
 																		<td>2</td>	
																		<td style="display: flex; justify-content: space-between; align-items: center;">
																		  A Outlet
																		  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
																		</td>	
 								   									 <td>75,000</td>	
 								   									 <td>₹75,00,000</td>	
 								   									 <td>₹1,200</td>	
 								   									 <td>30,000</td>	
 																	 <td>20</td>	
 																	 <td>₹1,200</td>				
 								   									 </tr>	
									   							     </tbody>
									   							   </table>
									   							 </div>


									   							 
									   							</div>

									   							 
									   							<!-- transactions tab-->
									   						     <div class="tab-pane fade" id="Redemptions" role="tabpanel">
									   								<div class="table-responsive">
									   								  <table class="table table-reimbursements mb-0" id="vouchersTableTransactionList" style="border: 1px solid #EAF4EF; border-radius: 10px;font-size: 13px;">
																		<thead>
									   					                <tr>
									   									 <th>#</th>	
									   									  <th>Outlet Name</th>								   									  
									   					                  <th>No. of Transactions</th>
									   									  <th>Total Value</th>	
									   										<th>Average Order Value</th>									   									  
									   									  <th>Number of Users</th>	
																		  <th>Transactions / User</th>	
		  								   								  <th>Redemption Value / User</th>	  								   								 
									   					                </tr>
									   					              </thead>
									   								    <tbody class="table-bordered" >
																			  <tr>
																				<td>1</td>	
																				<td style="display: flex; justify-content: space-between; align-items: center;">
																				  A Outlet
																				  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
																				</td>	
										   									 <td>2</td>	
										   									 <td>₹1,000</td>	
										   									 <td>₹1,000</td>	
										   									 <td>100</td>	
																			 <td>₹1,000</td>	
 										   									 <td>₹1,000</td>				
										   									 </tr>
																			 <tr>
																		<td>1</td>	
																		<td style="display: flex; justify-content: space-between; align-items: center;">
																		  A Outlet
																		  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
																		</td>	
								   									 <td>2</td>	
								   									 <td>₹1,000</td>	
								   									 <td>₹1,000</td>	
								   									 <td>100</td>	
																	 <td>₹1,000</td>	
									   									 <td>₹1,000</td>				
								   									 </tr>			
									   								    </tbody>
									   								  </table>
									   								</div>											
									   						     </div>
									   							 
																 
																 <!-- Live - Vouchers tab-->
				   						     <div class="tab-pane fade" id="Live-Vouchers" role="tabpanel">
				   								<div class="table-responsive">
				   								  <table class="table table-reimbursements mb-0" id="LiveVouchersList" style="border: 1px solid #EAF4EF; border-radius: 10px;font-size: 13px;">
													<thead>
				   					                <tr>
				   									 <th>Date & Time</th>	
				   									  <th>Outlet Name</th>								   									  
				   					                  <th>Name & Mobile #</th>
				   									  <th>Voucher ID</th>	
				   										<th>Redemptions</th>									   									  
				   									  <th>Expiry Date</th>	
													  <th>Voucher Value</th>	
					   								 								   								 
				   					                </tr>
				   					              </thead>
				   								    <tbody class="table-bordered" >
														  <tr>
															<td>21/04/2024<br>
															17:57:13</td>	
															<td style="display: flex; justify-content: space-between; align-items: center;">
															  A Outlet
															  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
															</td>	
					   									 <td>Deepak Kumar<br>9910318405</td>	
					   									 <td>ICICI00001145781</td>	
					   									 <td>Multiple</td>	
					   									 <td>25/11/2024</td>	
														 <td>₹50,000</td>	
					   											
					   									 </tr>
														 <tr>
	 														<td>21/04/2024<br>
	 														17:57:13</td>	
	 														<td style="display: flex; justify-content: space-between; align-items: center;">
	 														  A Outlet
	 														  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
	 														</td>	
	 				   									 <td>Deepak Kumar<br>9910318405</td>	
	 				   									 <td>ICICI00001145781</td>	
	 				   									 <td>Multiple</td>	
	 				   									 <td>25/11/2024</td>	
	 													 <td>₹50,000</td>	
	 				   											
	 				   									 </tr>			
				   								    </tbody>
				   								  </table>
				   								</div>											
				   						     </div>
											 
											 
											 <div class="tab-pane fade" id="Live-Transactions" role="tabpanel">
			   								<div class="table-responsive">
			   								  <table class="table table-reimbursements mb-0" id="LiveVouchersList" style="border: 1px solid #EAF4EF; border-radius: 10px;font-size: 13px;">
												<thead>
			   					                <tr>
			   									 <th>Date & Time</th>	
			   									  <th>Outlet Name</th>								   									  
			   					                  <th>Voucher ID</th>
			   									  <th>TXN ID</th>	
			   										<th>Name & Mobile #</th>									   									  
			   									  <th>Catagory</th>	
												  <th>Amount</th>	
				   								 								   								 
			   					                </tr>
			   					              </thead>
			   								    <tbody class="table-bordered" >
													  <tr>
														<td>21/04/2024<br>
														17:57:13</td>	
														<td style="display: flex; justify-content: space-between; align-items: center;">
														  A Outlet
														  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
														</td>
														<td>CDL-0424-001</td>
														<td>CDL-0424-001</td>
				   									 <td>Deepak Kumar<br>9910318405</td>	
				   									
				   									 <td><img src="img/fuel-grey.png">Fuel</td>	
													 <td style="display: flex; justify-content: space-between; align-items: center;">
													   <span>INR</span>
													   <span>16,890</span>
													 </td>
	
													
				   											
				   									 </tr>
													 <tr>
 														<td>21/04/2024<br>
 														17:57:13</td>	
 														<td style="display: flex; justify-content: space-between; align-items: center;">
 														  A Outlet
 														  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
 														</td>
 														<td>CDL-0424-001</td>
 														<td>CDL-0424-001</td>
 				   									 <td>Deepak Kumar<br>9910318405</td>	
 				   									
 				   									 <td><img src="img/food-icon-grey.png">Food</td>	
 													 <td style="display: flex; justify-content: space-between; align-items: center;">
 													   <span>INR</span>
 													   <span>16,890</span>
 													 </td>
 	
 													
		   											
	 				   								 </tr>		
				   								    </tbody>
				   								  </table>
				   								</div>											
				   						     </div>
			
			
					   						   </div>
					   						 </div>
					                           
					                       </div>
					                   </div>	  

                                </div>
                                <div id="menu11" class="tab-pane" th:if="${session.user_role == 9 or session.user_role == 1 or session.user_role == 3}">
								
									<div class="container-fluid p-0 p-md-1 mt-4">
												    <div class="row">
												      <div class="col-12 col-md-12 px-4">

												        <div class="d-flex justify-content-between align-items-center mb-3">
												          <h4 class="black-bold">Outlet Management</h4>
												          <div>
															<button class="btn btn-custom me-2" onclick="openGeoGraphic()">
															  <i class="bi bi-plus-lg"></i> Add Manually
															</button>
												            <a class="btn  btn-custom" href="/bulkOutletUpload"> 
												              <i class="bi bi-upload"></i> Bulk Upload
												            </a>
												          </div>
												        </div>

														<div class="d-flex justify-content-end">
														      <div class="rightdownload mb-3 d-flex align-items-center" style="gap: 12px;">
														        <!-- Clear Filters 
														        <div id="clearFilters" style="font-size: 13px; color: #367AFF; cursor: pointer;">Clear Filters</div>-->

														        <!-- Search Box -->
														        <div style="width: 190px; height: 44px; border-radius: 10px; padding: 10px; border: 1px solid #EDEDF0;" class="d-flex align-items-center">
														          <img src="img/search.svg" alt="Search" style="margin-right: 6px;">
														          <input type="text" id="searchInput" placeholder="Search..." style="border: none; outline: none; width: 100%;">
														        </div>

														        <!-- Quick Filters -->
														        <div id="quickFilters" style="width: 190px; height: 44px; border-radius: 10px; padding: 10px; border: 1px solid #EDEDF0;" class="dropdown d-flex align-items-center">
														          <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														            <img src="img/filter-icon.svg" alt="Filter" style="margin-right: 6px;">
														            Quick Filters
														          </a>
														          <div class="dropdown-menu">
														            <a id="filter-active" class="dropdown-item" href="#">Active</a>
														            <a id="filter-expired-revoked" class="dropdown-item" href="#">Expired & Revoked</a>
														            <a id="filter-issued-today" class="dropdown-item" href="#">Issued Today</a>
														            <a id="filter-issued-this-month" class="dropdown-item" href="#">Issued this Month</a>
														          </div>
														        </div>

														        <!-- Select Time Period -->

																<div class="tooltip-wrapper">
																    <img src="img/download-grey.svg" alt="Download Icon">
																    <!--<div class="tooltip-text">Download voucher details</div>-->
																</div>
														      </div>
														    </div>
												          <div class="table-responsive">
												            <table class="table table-reimbursements mb-0" id="outletDetailTable">
												              <thead>
												                <tr>
												                 <!-- <th>#</th>-->
												                  <th>Outlet Name</th>
												                  <th>Outlet Type</th>
												                  <th>Location</th>
																  <th>Geography</th>
																  <th>Contact Person</th>
																  <th>
																    Linked UPI Devices
																    <span class="tooltip-container">
																      <img src="img/info-green.svg" alt="info">
																      <div class="tooltip-box">
																        <div class="tooltip-row">
																          <div class="circle green"></div>
																          <div>Activated UPI Devices</div>
																        </div>
																        <div class="tooltip-row">
																          <div class="circle yellow"></div>
																          <div>Requested UPI Devices</div>
																        </div>
																        <div class="tooltip-row">
																          <div class="circle gray"></div>
																          <div>Deactivated UPI Devices</div>
																        </div>
																      </div>
																    </span>
																  </th>
																  <th>Created on</th>
																  <th>Status</th>
												                </tr>
												              </thead>
												              <tbody>
																<!--<tr>
																<td>1</td>
																<td style="display: flex; justify-content: space-between; align-items: center;margin-top: 12px;">
																	  A Outlet
																	  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
																	</td>													
																<td>Company Owned</td>
																<td>Location</td>	
																<td>South</td>	
																<td>Deepak Kumar<br>9910318405</td>	
																
																<td>21/04/2024<br>
																17:57:13</td>	
																<td style="display: flex; gap: 8px; align-items: center;">
																  <div class="circle green" style="display: flex; align-items: center; justify-content: center; font-size: 12px;">1</div>
																  <div class="circle yellow" style="display: flex; align-items: center; justify-content: center; font-size: 12px;">2</div>
																  <div class="circle gray" style="display: flex; align-items: center; justify-content: center; font-size: 12px;">3</div>
																</td>
																<td>tutr</td>
																<td class="pill-rectangle bg-lightgreen-txt-green-pill mt-2">Activated</td>

						   									 </tr>
															 <tr>
 																<td>2</td>
 																<td style="display: flex; justify-content: space-between; align-items: center;margin-top: 12px;">
 																	  A Outlet
 																	  <i class="fas fa-chevron-right" style="color: #2F945A;"></i>
 																	</td>													
 																<td>Company Owned</td>
 																<td>Location</td>	
 																<td>South</td>	
 																<td>Deepak Kumar<br>9910318405</td>	
 																
 																<td>21/04/2024<br>
 																17:57:13</td>	
																<td style="text-decoration: underline; text-decoration-color: #367AFF; color: #367AFF;cursor: pointer;">
																  Link New UPI Devices
																</td>
 																<td>tutr</td>
 																<td class="pill-rectangle bg-lightgreen-txt-green-pill mt-2">Activated</td>

 						   									 </tr>-->
												              </tbody>
												            </table>
												          </div>
												        </div>

												      </div>
												    </div>
													
													
						 </div>
                        <div id="menu22" class="tab-pane" th:if="${session.user_role == 9 or session.user_role == 1 or session.user_role == 3}"> 
							
						</div>
						
                        <div id="menu33" class="tab-pane" th:if="${session.user_role == 9 or session.user_role == 3}">
							
						 </div>
						
						 <div id="menu44" class="tab-pane" th:if="${session.user_role == 9 or session.user_role == 3}">
							
						 </div>
						 <input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}"> 
						<input type="hidden" class="form-input" id="employerName" name="employerName" th:value="${session.username}"> 
						<input type="hidden" class="form-input" id="userMobile" name="userMobile" th:value="${session.mobile}"> 
			
                       </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
  </div>
	  		</div>
		<div class="lds-spinner" id="signinLoader" style="display: none">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
			
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<script type="text/javascript" src="cotodel-js/brand-management.js"></script>
	
	<!-- Script to open modal -->
	<!--<script>
	  $(document).ready(function() {
	    $('#openSuccessModalBtn').on('click', function() {
	      $('#PaymentSuccessModal').modal('show');
	    });
	  });
	</script>
-->
	<script>
			  function openGeoGraphic() {
			    document.getElementById("bs-canvas-right3").classList.add("show-canvas");
			    document.getElementById("modal-overlay2").style.display = "block";
			  }

			  document.addEventListener("DOMContentLoaded", function () {
			    const closeBtn = document.getElementById("close-geo-modal-btn");
			    if (closeBtn) {
			      closeBtn.addEventListener("click", function () {
			        document.getElementById("modal-overlay2").style.display = "none";
			        document.getElementById("bs-canvas-right3").classList.remove("show-canvas");
			      });
			    }
			  });
			</script>

	<script>
		$(document).ready(function () {
		    // Handle tab clicks
		    $('.expense-tabs a').on('click', function (e) {
		        e.preventDefault();
		        $('.expense-tabs li').removeClass('active');
		        $(this).parent().addClass('active');
		        $(this).tab('show');
		    });
		    // Initialize all tabs properly
		    $('[data-toggle="tab"]').tab();
		    // Force Bootstrap to properly initialize the first tab
		    $('.expense-tabs li.active a').tab('show');
		
		});
		// Initially hide the column
				

			$(document).ready(function(){		
				  $('li.active').removeClass('active').removeAttr('aria-current'); 
				  $('a[href="' +'/brandDashboard"]').closest('li').addClass('active').attr('aria-current', 'page');   
				  
			   $(".innernav").click(function(){
			       $(".dropdownNav").addClass("active");
			   });
			});
	</script>
	
	<div class="" id="modal-overlay2" style="display:none;">
		  <div class="voucher-modal-canvas" id="bs-canvas-right3">
		    <div class="voucher-modal-scrollable-wrapper">
		      <div class="voucher-modal-scrollable">
		        <div class="voucher-header mt-2">
		          <h5 class="voucher-title">Add Geography</h5>
		          <button id="close-geo-modal-btn" class="voucher-close-btn bs-canvas-close btn btn-link p-0" aria-label="Close"  style="margin-right: -65px; outline: none; box-shadow: none;">
		            <i class="fas fa-times voucher-close-icon"></i>
		          </button>
		        </div>

		        <div class="voucher-body">
				  <div id="geoContainer">
					<div class="did-floating-label-content">
					    <input class="did-floating-input" type="text" id="outletName" placeholder="">
					    <label class="did-floating-label">Name</label>
					</div>
					<div class="error-msg" id="outletNameError" style="margin-top: -10px; font-size: 12px;"></div>
					<div class="did-floating-label-content mr-2">
					    <select class="did-floating-select" id="outletType">
					        <option value="">Outlet Type</option>
							<option value="Company Owned">Company Owned</option>
					    </select>
					    <label class="did-floating-label">Outlet Type </span></label>
					</div>
					<div class="error-msg" id="outletTypeError" style="margin-top: -10px; font-size: 12px;"></div>
						<div class="did-floating-label-content">
							<input class="did-floating-input" type="text" id="outletManager"  placeholder="" oninput="userSearchAndPopulate(this)">
							<label class="did-floating-label">Outlet Manager</label>
						   <!-- <input class="did-floating-input" type="text" id="outletManager"  placeholder="" oninput="userSearchAndPopulate(this)">
						    <label class="did-floating-label">Outlet Manager</label>
							<div id="autocomplete-suggestions" class="autocomplete-dropdown" style="display: block;"><div class="autocomplete-suggestion"></div>
							</div>-->
						</div>
						
						<div class="error-msg" id="outletManagerError" style="margin-top: -10px; font-size: 12px;"></div>
						
						<div class="did-floating-label-content">
						    <input class="did-floating-input" type="text" id="outletContact" placeholder="" maxlength="10" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						    <label class="did-floating-label">Contact Number</label>
						</div>
						<div class="error-msg" id="outletContactError" style="margin-top: -10px; font-size: 12px;"></div>
						<div class="did-floating-label-content">
						    <input class="did-floating-input" type="text" id="outletLocation" placeholder="">
						    <label class="did-floating-label">Location</label>
						</div>
						<div class="error-msg" id="outletLocationError" style="margin-top: -10px; font-size: 12px;"></div>
						<div class="did-floating-label-content mr-2">
						    <select class="did-floating-select" id="geography" >
						    </select>
						    <label class="did-floating-label">Geography Type </span></label>
						</div>
						<div class="error-msg" id="geographyError" style="margin-top: -10px; font-size: 12px;"></div>
				  </div>

				  <button class="add-geo-btn" type="button" id="openSuccessModalBtn" onclick="addBrandOutlet()">
				    Add Outlet &nbsp; +
				  </button>
		        </div>
		      </div>
		    </div>
		   </div>
	</div>
	<!-- Payment Success Modal -->
	<!-- Modal -->
	<div class="modal fade" id="PaymentSuccessModal" tabindex="-1" role="dialog" aria-labelledby="paymentSuccessModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content rounded-3" style="width: 500px; height: 308px; border-radius: 20px; opacity: 1; padding: 50px; gap: 40px;">
	      <button
	        type="button"
	        class="voucher-close-btn bs-canvas-close btn btn-link p-0"
	        aria-label="Close"
	        data-dismiss="modal"
	        style="margin-right: -65px; outline: none; box-shadow: none;"
	      >
	        <i class="fas fa-times voucher-close-icon"></i>
	      </button>
	      <div class="modal-body text-center py-5" style="margin-top: -45px;">
	        <div class="success-icon mb-4">
	          <img src="img/green-check-circle-filled.png" alt="Success" style="width: 48px; height: 48px;">
	        </div>
	        <h5 class="mb-3" id="paymentSuccessModalTitle" style="color:#1F212C; font-weight:700;">Done</h5>
	        <p class="text-muted mb-4">
	          Outlet Added Successfully
	        </p>
	        <button type="button" class="btn btn-pay-now w-100 mt-4" data-dismiss="modal">OK</button>
	      </div>
	    </div>
	  </div>
	</div>
		   
	<style>
		   									
	#bs-canvas-right2 {
		  position: absolute;
		  right: 0;
		  top: 0;
		  width: 380px;
		  height: 100%;
		  background: #fff;
		  transform: translateX(100%);
		  transition: transform 0.3s ease-in-out;
		  z-index: 1001;
		}

		#bs-canvas-right2.show-canvas {
		  transform: translateX(0);
		}
		#modal-overlay2 {
		  display: none;
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background-color: rgba(0, 0, 0, 0.85); /* Bootstrap-like black */
		  z-index: 1000; /* Just below bs-canvas */
		}
		#bs-canvas-right3 
		{
		  position: absolute;
		  right: 0;
		  top: 0;
		  width: 380px;
		  height: 100%;
		  background: #fff;
		  transform: translateX(100%);
		  transition: transform 0.3s ease-in-out;
		  z-index: 1001;
		}

		#bs-canvas-right3.show-canvas {
		  transform: translateX(0);
		}						

		.container {
		  max-width: 1422px;
		  margin: 0 auto;
		}
		.tooltip-container {
	    position: relative;
	    display: inline-block;
	    cursor: pointer;
	  }

	  .tooltip-box {
	    display: none;
	    position: absolute;
	    top: 24px;
	    left: 0;
	    width: 178px;
	    height: 125px;
	    background: white;
	    opacity: 1;
	    padding: 10px;
	    gap: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
	    z-index: 100;
	    font-size: 11px;
	    color: #333;
	    box-sizing: border-box;
	  }

	  .tooltip-container:hover .tooltip-box {
	    display: block;
	  }

	  .tooltip-row {
	    display: flex;
	    align-items: center;
	    gap: 8px;
	    margin-bottom: 10px;
	  }

	  .tooltip-row:last-child {
	    margin-bottom: 0;
	  }

	  .circle {
	    width: 24px;
	    height: 26px;
	    border-radius: 8px;
	    flex-shrink: 0;
	  }

	  .green { background: #BFDECC; }
	  .yellow { background: #FFCC004D; }
	  .gray { background: #C7C8D1; }
	  
	  .outlet{
		width: 1382;
			  height: 47;
			  gap: 10px;
			  angle: 0 deg;
			  opacity: 1;
			  padding-top: 10px;
			  padding-bottom: 10px;
	  }

 </style>
</body>

</html>