<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<!-- <body id="page-top" onload="getEmployeeOnboarding(),getEmployeeOnboardingFailList()"> -->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               
               <div th:insert="fragments/header.html :: header"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 ml-2 p-3">
                                <div class="successful-wrap">
                                    <h2 class="mb-1 text-green">Successful Upload <div class="count"><span id="correct"></span><strong id="correcttot"></strong></div></h2>
                                    <div class="alert alert-sucess">
                                        View/Edit Details and Confirm Upload 
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-sucess table-bordered" id="example1">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Mobile</th>
                                                 <!--    <th>Username</th> -->
                                                </tr>
                                            </thead>
                                            <tbody id="successbody">                                               
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="text-right my-3">
                                        <button class="btn btn-outline-reject" data-toggle="modal" data-target="#ModalReject" onclick="reject()">Reject</button>
                                        <button class="btn btn-confirm" data-toggle="modal" data-target="#ModalConfirm" onclick="confirmSuccess()">Confirm</button>
                                    </div>
                                </div>


                                <div class="unsuccessful-wrap">
                                    <h2 class="mb-1 text-green">Unsuccessful Upload <div class="count"><span id="incorrect"></span><strong id="incorrecttot"></strong></div></h2>
                                    <div class="alert alert-unsucess">
                                        Edit Details to try again or Download Unsuccessful Upload 
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-unsucess" cellspacing="0" cellpadding="0" id="example2">
                                            <thead>
                                                <tr>  
                                                    <th>Id</th>                                            
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Mobile</th>
                                                   <!--  <th>Username</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>                                                                                             
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="text-right my-3">
                                        <button class="btn btn-outline-download" onclick="ExportToExcel('xlsx')" data-toggle="modal" data-target="#ModalDownload">Download</button>
                                        <a class="btn btn-retry" th:href="@{/bulkupload}" >Retry</a>
                                    </div>
                                    
                                      <input type="hidden" name="employeeId" id="employeeId">
                                      <input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}">                                            
                                            
                                </div>

                            </div>

                        </div>
                    </div>
                 
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal Confirm -->
    <div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-bulk">
            <div class="modal-top text-center">          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="img/modal-close.svg" alt="">
            </button>        
            <img src="img/modal-success.svg" alt="">
            </div>
            <div class="modal-bottom">
                <div class="count"><span id="correctConfirm"></span><strong id="correctTotal"></strong></div>
                <br>
                <span>Upload Successful</span>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal Reject -->
    <div class="modal fade" id="ModalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-bulk">
            <div class="modal-top text-center">          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="img/modal-close.svg" alt="">
            </button>        
            <img src="img/modal-reject.svg" alt="">
            </div>
            <div class="modal-bottom">
                <div class="count"><span id="rejectConfirm"></span><strong id="rejectTotal"></strong></div>
                <br>
                <span>Upload Rejected</span>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal Download -->
    <div class="modal fade" id="ModalDownload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-bulk">
            <div class="modal-top text-center">          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="img/modal-close.svg" alt="">
            </button>        
            <div class="count">
           <!--  <span>7</span><strong>10</strong> -->
           <span id="incorrectUnsuccessful"></span>
           <strong id="incorrecttotUnsuccessful"></strong>
            </div>
                <br>
                <span>Download Successful</span>
            </div>
            <div class="modal-bottom">
                <div class="count">
                <span id="incorrectReview"></span>
           		<strong id="incorrecttotReview"></strong>
                </div>
                <br>
                <span>Review Pending Unsuccessful Upload</span>
            </div>
        </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

	<script type="text/javascript" src="cotodel-js/employee-onboarding-list.js"></script>

<div th:text="${list}" id="list" style="display:none">
</div>
   <script th:inline="javascript">
        $(document).ready(function() {
		
		var listDiv = document.getElementById("list");
		var jsonString = listDiv.textContent;
		var data = jQuery.parseJSON(jsonString);
		var correctSize=data.correctSize;
		var incorrectSize=data.incorrectSize;
		var total=parseInt(correctSize)+parseInt(incorrectSize);
		$('#correct').html(correctSize);
		$('#correcttot').html(total);
		
		$('#correctConfirm').html(correctSize);
		$('#correctTotal').html(total);
		
		$('#rejectConfirm').html(correctSize);
		$('#rejectTotal').html(total);
		
		$('#incorrect').html(incorrectSize);
		$('#incorrecttot').html(total);
		
		$('#incorrectUnsuccessful').html(incorrectSize);
		$('#incorrecttotUnsuccessful').html(total);
		
		$('#incorrectReview').html(incorrectSize);
		$('#incorrecttotReview').html(total);
				
		if(data.status=="SUCCESS"){
			var data1=data.correct;		
			var data2 = jQuery.parseJSON(data1);	
			 var i=1;
			var table1 = $('#example1').DataTable( {
          "responsive": false, "lengthChange": false, "autoWidth": false,"pagingType": "full_numbers","pageLength": 50, "paging": false, "searching": false,
           "language": {"emptyTable": "No Data available"  },
              "aaData": data2,			
					"aoColumns": [
						/* { "mData": "id"}, */
						{ "render": function(data2,type,full,meta){return i++;}   }, 
						{ "mData": "first_name"},
						{ "mData": "last_name" },
						{ "mData": "email" },
						{ "mData": "mobile" },
						/* { "mData": "username"}	 */				
					]
				});	
			
			}
        
        });
       $(document).ready(function() {
		//console.log(list);
		var listDiv = document.getElementById("list");
		var jsonString = listDiv.textContent;
		var data = jQuery.parseJSON(jsonString);
		//console.log(data);		
        if(data.status=="SUCCESS"){
			var data1=data.incorrect;
			//console.log(data1);
			var data2 = jQuery.parseJSON(data1);
			//console.log("1st.......:"+data2);			
			var i=1;
			var table1 = $('#example2').DataTable( {
          "responsive": false, "lengthChange": false, "autoWidth": false,"pagingType": "full_numbers","pageLength": 50, "paging": false, "searching": false,
           "language": {"emptyTable": "No Data available"  },
              "aaData": data2,			
					"aoColumns": [
						{ "render": function(data2,type,full,meta){return i++;}   }, 
						{ "mData": "first_name"},
						{ "mData": "last_name"},
						{ "mData": "email"},
						{ "mData": "mobile"},
						
					/* 	{ "mData": "username"}		 */			
					],
					createdRow: function (row, data2, dataIndex) 
                    {
                     console.log("row : "+JSON.stringify(data2));
                     var regMobile = /^[6-9]\d{9}$/gi;
                 	 var regEmail = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
                 	var email = data2.email;
                	var mobile = data2.mobile;
                     if(!mobile.match(regMobile))
                     {
                       $(row).find('td:eq(4)').addClass("tdactive");
                     }
                     if(!email.match(regEmail))
                     {
                       $(row).find('td:eq(3)').addClass("tdactive");
                     }
                    }
				});	
			
			}
        });
    </script>
    
    
<script>
$(document).ready(function(){
	 $(".innernav").click(function(){
        $(".dropdownNav").addClass("active");
    });
	 $('li.active').removeClass('active').removeAttr('aria-current'); 
	  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
	  
  
});

function reject(){
	console.log("test");
}


function confirmSuccess(){
	var employeeId = document.getElementById("employeeId").value;
	var employerId = document.getElementById("employerId").value; 
	
	var listDiv = document.getElementById("list");
	var jsonString = listDiv.textContent;
	var data = jQuery.parseJSON(jsonString);
	var data2;
	if(data.status=="SUCCESS"){
		var data1=data.correct;
		//console.log(data1);
		 data2 = jQuery.parseJSON(data1);
		}
      
	$.ajax({
		type: "POST",
		url: "/confirmBulkEmplOnboarding",
		 dataType: "json",
		contentType: 'application/json',
		data: JSON.stringify(data2),
     	beforeSend : function(xhr) {
		//xhr.setRequestHeader(header, token);
		},
            success: function(data){
            newData = data;
            console.log(newData);
           

           },
         error: function(e){
             alert('Error: ' + e);
         }
    });
}

</script>


  <script>

        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('example2');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('BulkUserTemplate.' + (type || 'xlsx')));
        }

        
        function refrecePage(){
       	 
            window.location.href = ""+$('#ctx').attr('content') + "/bulkUserList";
        }

    </script>
</body>

</html>