<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               
               <div th:insert="fragments/header.html :: header"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="mt-4 ml-2 p-3">
                                <div class="row organisation-wrap">
                                    <h3 class="mb-1">Bulk add employees and contractors</h3>
                                </div>
                            </div>

                            <div class="mt-1 ml-2 p-3 bulk-wrap">
								<form action="" id="empdetailForm" name="empdetailForm" method="Post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="bg-white py-3 px-2 mb-3 w-100 br-10">
                                        <div class="col-12 col-md-10">
                                            <div class="d-flex align-items-center mb-4">
                                                <a class="btn btn-outline-green ml-0" th:href="@{/bulkUserTemplate}">Download Template</a>
                                                 <p class="mb-0">Last updated on 20/02/2023</p>
                                            </div>

                                            <ul class="bulk-list">
                                                <li><span>1.</span>Please download our template.</li>
                                                <li><span>2.</span>Edit this file in excel, and add all your employees/contractors.</li>
                                                <li><span>3.</span>Save and upload this file below. Any other file will be rejected.</li>
                                                <li><span>4.</span>Salary updates performed here will be effective from 1st of the current month, to add a custom effective date please use <a href="#">multiple salary revision.</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="bg-white py-3 px-2 mb-3 w-100 br-10">
                                        <div class="col-12 col-md-10">
                                            <h5>Template file instructions</h5>
                                            <ul class="bulk-list">
                                                <li><span>1.</span>There are two tabs. Please fill in the data accordingly.</li>
                                                <li><span>2.</span>Please do not add/remove columns.</li>
                                                <li><span>3.</span>If there is no data for a particular cell, leave it empty. Don’t enter “-”, “NA” etc.</li>
                                                <li><span>4.</span>Please do not use all capital letters in address, name, title etc.</li>
                                            </ul>

                                            <div class="form-group choose-file">
                                                <div class="input-group">
                                                  <input type="text" class="form-control" readonly>                                                  
                                                    <div class="input-group-btn">
                                                        <span class="fileUpload">
                                                            <span class="upl" id="upload">Choose file</span>
                                                                <input type="file" class="upload up" id="up" name="up" 
                                                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                                onchange="validateFileUpload()" />
                                                            </span>
                                                    </div>
                                                 </div>
                                            </div>
											<div class="error-msg" id="fileError" style="color:red"></div>
                                            <div class="clearfix"></div>

                                            <div class="form-group mt-3">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="customCheckUpdate">
                                                    <label class="custom-control-label text-left" for="customCheck4">Update information of existing employees / contractors </label>
                                                </div>
                                            </div> <div class="clearfix"></div>

                                            <div class="form-group mt-3">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="customCheckEmail">
                                                    <label class="custom-control-label text-left" for="customCheck3">Send welcome emails to new additions </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
									
									<div id="otmsgdiv" style="display:none" class="alert alert-success text-center">
						            	<div id="otsuccmsg"></div>   
						            </div>
						            
						            <div id="otfailmsgDiv" style="display:none" class="alert alert-danger text-center">
						            	<div id="otfailmsg"></div>
						            </div>
				                        
                        
                                    <div class="w-100 my-3">
										<input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}">
                                        <input type="button" class="btn btn-primary d-block btn-lg" id="bulksubmit" onclick="bulkSubmit()" value="Upload">
                                    </div>
									<div id="fileError" style="color: red;"></div>
                                
                                </div>                                
								</form>

                            </div>


                        </div>
                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
		<input type="hidden" name="employeeId" id="employeeId">
        <div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<script type="text/javascript" src="cotodel-js/bulk-upload.js"></script>
    <script>
        $(document).on('change','.up', function(){
		   	var names = [];
		   	var length = $(this).get(0).files.length;
			    for (var i = 0; i < $(this).get(0).files.length; ++i) {
			        names.push($(this).get(0).files[i].name);
			    }
			    // $("input[name=file]").val(names);
				if(length>2){
				  var fileName = names.join(', ');
				  $(this).closest('.form-group').find('.form-control').attr("value",length+" files selected");
				}
				else{
					$(this).closest('.form-group').find('.form-control').attr("value",names);
				}
	   });
    </script>

    <script>
        /*  function clearSearch() {
             document.getElementById("up").value = "";
              clearButton.style.display = "none";
         } */
         
         
        /*  function clearSearch(id) 
         { 
        	var id =  document.getElementById(id);
             var oldInput = document.getElementById(id); 

             var newInput = document.createElement("input"); 

             newInput.type = "file"; 
             newInput.id = oldInput.id; 
             newInput.name = oldInput.name; 
             newInput.className = oldInput.className; 
             newInput.style.cssText = oldInput.style.cssText; 
             // TODO: copy any other relevant attributes 

             oldInput.parentNode.replaceChild(newInput, oldInput); 
         }
		
         clearSearch("up"); */
         
       /*   document.getElementById('clearButton').addEventListener('click', function() {
        	    document.getElementById('up').value = '';
        	}); */
    </script>



	 <script>
	$(document).ready(function(){
		 $(".innernav").click(function(){
	        $(".dropdownNav").addClass("active");
	    });
		 $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="'+'/manageEmployee"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	  
	});
	</script> 

</body>

</html>