<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>

 
<body id="page-top" onload="getOrgMaster(),getStateMaster(),getOrgMaster2(),getPayrollMaster()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        
         <div th:insert="fragments/sidenav.html :: sidevav"></div>
       
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
           		 <div th:insert="fragments/header.html :: header"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1 text-center">Enter company details</h3>
                                        <div class="breadcrumb-wrap">
                                            <div class="breadcrumb-in active">
                                                <span>1</span>
                                                <label>Enter company details</label>
                                            </div>
                                            <div id="tab2" class="breadcrumb-in">
                                                <span>2</span>
                                                <label>Set payroll date</label>
                                            </div>
                                            <div class="breadcrumb-in" id="tab3">
                                                <span>3</span>
                                                <label>Set employee salary structure</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						<form id="saveCompany" name="saveCompany" method="post" >
                            <div class="mt-4">
                                <div class="row" id="form1">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <div class="card-form">
                                            <label for="">Enter GSTN</label>
                                            <input type="text" id="gstnNo" name="gstnNo" maxlength="15" class="form-input" oninput="sanitizeInput(this)" onkeyup="checkGstNumber()">
                                            
                                        </div>
                                         <div class="error-msg" id="gstnNoError" style="color:red"></div>

                                        <div class="tip-wrap">
                                            <img src="img/Tip.png" alt="" class="mr-2">
                                            <p class="mb-0">Save time by entering GST and let us pre-fill your company
                                                info like address, pin, etc. Bonus: claim GST credit on invoices!</p>
                                        </div>

                                        <div class="text-center text-md-center my-3 disabled">
                                            <input type="button" value="Don't have GSTIN" class="btn btn-proceed-border my-1"  oninput="this.value = this.value.toUpperCase()" onclick="openBrandPage()" />
                                            <input type="button" value="Continue" class="btn btn-proceed ml-2 my-1 next"  oninput="this.value = this.value.toUpperCase()" onclick="validateGstNumber()" />
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row tabs-row" id="form2">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <div class="card-form">
                                            <select class="form-select  no-bg border-0"
                                                aria-label="Default select example" id="organizationType" name="organizationType">
                                                
                                            </select>
                                             
                                        </div>
 										<div class="error-msg" id="organizationTypeError" style="color:red"></div>
                                        <div class="tip-wrap justify-content-start my-3">
                                            <p class="mb-0">Select business category</p>
                                        </div>

                                        <div class="card-form my-3">
                                            <label for="">Enter PAN</label>
                                            <input type="text" class="form-input" id="pan" name="pan" maxlength="10"  oninput="this.value = this.value.toUpperCase()">
                                            
                                        </div>
										<div class="error-msg" id="panError" style="color:red"></div>
                                        <div class="tip-wrap justify-content-start">
											<p class="mb-0">We need your pan to verify your business details.</p>
                                        </div>

                                        <div class="text-center text-md-center my-3 disabled">
                                            <div class="btn btn-proceed-border my-1">Fill via GSTIN</div>
                                            <div class="btn btn-proceed ml-2 my-1 back" id="back2">Back</div>
                                            <input type="button" value="Continue" class="btn btn-proceed ml-2 my-1 next" onclick="checkPanNumber()" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row tabs-row" id="form3">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <div class="card-form my-3">
                                            <label for="">Brand Name</label>
                                            <input type="text" class="form-input" id="brandName" name="brandName" maxlength="100" oninput="sanitizeInput(this)">
                                        </div>
										<div class="error-msg" id="brandNameError" style="color:red"></div>
										
                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">If your company is publicly known by a different brand name,
                                                then please enter that here.</p>
                                        </div>

                                        <div class="card-form">
                                            <select class="form-select no-bg border-0"
                                                aria-label="Default select example" id="orgType2" name="orgType2"  >
                                                <option selected="">Select Organization Type*</option>
                                                
                                            </select>
                                        </div>
										<div class="error-msg" id="orgType2Error" style="color:red"></div>
                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">In case of incorrect company type. please go back to edit
                                                PAN details.</p>
                                        </div>

                                        <div class="card-form">
										<!--<label for="">Company Name</label>
                                        <input type="text" class="form-input" id="panDetails" name="panDetails" maxlength="100">
                                        -->
										<label for="">Company Name</label>
									   <input type="text" class="form-input" id="companyName" name="companyName" maxlength="100" oninput="sanitizeInput(this)">
									   
                                        </div>
										<div class="error-msg" id="companyNameError" style="color:red"></div>
										<!--<div class="error-msg" id="panDetailsError" style="color:red"></div>-->
										
                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">In case of incorrect company name. please go back to edit
                                                PAN details.</p>
                                        </div>

                                        <!--<div class="card-form my-3">
                                            <label for="">Company Name</label>
                                            <input type="text" class="form-input" id="companyName" name="companyName" maxlength="100">
                                        </div>
										<div class="error-msg" id="companyNameError" style="color:red"></div>-->
                                        <div class="card-form my-3">
                                            <label for="">Enter Registered office Address*</label>
                                            <input type="text" class="form-input" id="officeAddress" name="officeAddress" maxlength="100" oninput="sanitizeInput(this)"> 
                                        </div>
										<div class="error-msg" id="officeAddressError" style="color:red"></div>
                                        <div class="card-form my-3">
                                            <label for="">Address line 2</label>
                                            <input type="text" class="form-input" id="addressLine" name="addressLine" maxlength="100" oninput="sanitizeInput(this)">
                                        </div>
										<div class="error-msg" id="addressLineError" style="color:red"></div>
                                        <div class="card-form my-3">
                                            <label for="">Enter PIN Code*</label>
                                            <input type="text" class="form-input" id="pinCode" name="pinCode" maxlength="6" 
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                        </div>
										<div class="error-msg" id="pinCodeError" style="color:red"></div>
                                      <!--   <div class="card-form">
                                         <input type="text" class="form-input" id="companyPan2" name="companyPan2">
                                          
                                        </div> -->
										<div class="error-msg" id="companyPan2Error" style="color:red"></div>
                                        <div class="card-form my-3">
                                            <select class="form-select no-bg border-0"
                                                aria-label="Default select example" id="stateCode" name="stateCode">
                                               
                                            </select>
                                        </div>
										<div class="error-msg" id="stateCodeError" style="color:red"></div>
										
                                        <div class="tip-wrap justify-content-start my-3">
                                            <p class="mb-0">Choosing the state affects Professionals tax compliance, it
                                                is suggested to select the state where your company based in.</p>
                                        </div>

                                        <div class="text-center text-md-center my-3 disabled">
                                            <div class="btn btn-proceed-border my-1">Back Edit PAN</div>
                                            <div class="btn btn-proceed ml-2 my-1 back" id="back3">Back</div>
                                            <input type="button" value="Continue" class="btn btn-proceed ml-2 my-1 next" onclick="validateBrandNumber()" />
                                            <!-- <div class="btn btn-proceed ml-2 my-1 next" id="next3">Continue</div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row tabs-row" id="form4">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="payrollEnabledFlag"
                                                 name="payrollEnabledFlag" checked="" >
                                                <label class="custom-control-label text-left" for="payrollEnabledFlag"
                                                >Payroll Enabled.</label>
                                            </div>
                                        </div>

                                        <div class="tip-wrap justify-content-start my-3">
                                            <p class="mb-0">Choose when you would like to pay your employees. 
												Select a date after the 15th to pay your employees for the same month. For example,
												 if you pick the 31st, employees will be paid for January on January 31st. Alternatively,
												  if you pick the 1st, employees will be paid for January on February 1st.
                                            </p>
                                        </div>

                                        <div class="card-form">
                                        <input type="date" class="form-input" id="paidDate" name="paidDate">
                                          
                                        </div>
										<div class="error-msg" id="paidDateError" style="color:red"></div>
                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">You can choose to either manually request execution each month before the 
												payroll is processed, or Cotodel can automatically execute your payroll on the chosen date.</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="runFayrollFlag" 
                                                name="runFayrollFlag">
                                                <label class="custom-control-label text-left"
                                                    for="runFayrollFlag">Automatically run payroll on selected date</label>
                                            </div>
                                            <div class="error-msg" id="runFayrollFlagError" style="color:red"></div>
                                        </div>

                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">Employees can request salary advances through Cotodel. If approved, 
												the advance amount will be paid immediately and automatically deducted from future payments to the 
												employees.</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="salaryAdvancesFlag"
                                                 name="salaryAdvancesFlag"
                                                    checked>
                                                <label class="custom-control-label text-left" for="salaryAdvancesFlag">
													Let employees request salary advances </label>
                                            </div>
                                            <div class="error-msg" id="salaryAdvancesFlagError" style="color:red"></div>
                                        </div>

										  <div id="successmsgdiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-success text-center">
							            	<span id="successmsg"></span>   
							            </div>
							            
							            <div id="failmsgDiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-danger text-center">
							            	<span id="failmsg"></span>
							            </div>
					                          
										
										
                                        <div class="text-center text-md-center my-3 disabled">
                                            <div class="btn btn-proceed-border my-1 border-0">Back to setup guide</div>
                                            <div class="btn btn-proceed ml-2 my-1 back" id="back4">Back</div>
                                            
                                            <input id="saveNext" type="button"  class="btn btn-proceed ml-2 my-1" value="Continue" onclick="validateFormAndSubmit()" />
                                           <!--  <input id="nextDiv" style="display: none" type="button"  class="btn btn-proceed ml-2 my-1" value="Next" onclick="openTab5()" /> -->
                                           <!--  <input id="nextDiv" type="button"  class="btn btn-proceed ml-2 my-1" value="Next" onclick="openTab5()" />-->
                                          </div>
                                        
                                    </div>
                                </div>
                                </form>
							 <form id="savePayroll" name="savePayroll" method="post">
                                <div class="row tabs-row" id="form5">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
									
									    <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label text-left" for="customCheck5">Use Cotodel’s default salary structure (recommended) </label>
                                            </div>
                                        </div>
									  
									  <div id="defaultSalary" style="display:none">
                                        <div class="form-group">
                                            <label class="mb-0 text-left company-dtl-label">Default Salary
                                                Structure</label>
                                        </div>

                                        <div class="tip-wrap my-3 d-block">
                                            <div class="tip-wrap-in">
                                                <span>1</span>
                                                <p class="mb-0">You can customize the default salary structure that
                                                    Cotodel uses for your employees.</p>
                                            </div>
                                            <div class="tip-wrap-in mb-0">
                                                <span>2</span>
                                                <p class="mb-0">Employer contributions to PF and ESI (if applicable) are
                                                    applied after the salary has been bifurcated into the components in
                                                    the ratio defined. hence, the final salary structure can have a
                                                    slightly different ratio.</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4" 
                                                name="customCheck4" checked>
                                                <label class="custom-control-label text-left" for="customCheck4">Let
                                                    employees request salary advances </label>
                                            </div>
                                        </div>
										
                                        <div class="table-responsive">
                                            <table class="table salary-table border-0" border="0">
                                                <thead>
                                                    <tr>
                                                        <th>Salary Component</th>
                                                        <th>%age of CTC</th>
                                                        <th>Percentage or Fixed?</th>
                                                        <th>Taxable?</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <tr>
                                                        <td><span id="salaryComponentBasic" name="salaryComponentBasic"></span></td>
                                                        <td><span id="perCtcBasic" name="perCtcBasic" maxlength="3" size="3" ></span></td>
                                                        <td><span id="perBasic" name="perBasic" maxlength="10" size="3"></span></td>
                                                        <td><span id="taxableBasic" name="taxableBasic" size="3"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="salaryComponentHra" name="salaryComponentHra"></span></td>
                                                        <td><span id="perCtcHra" name="perCtcHra" width="10px" maxlength="3" size="3"></span></td>
                                                        <td><span id="perHra" name="perHra" width="10px" maxlength="10" size="3"></span></td>
                                                        <td><span id="taxableHra" name="taxableHra" width="10px" size="3"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="salaryComponentSpecial" name="salaryComponentSpecial"></span></td>
                                                        <td><span id="perCtcSpecial" name="perCtcSpecial" maxlength="3" size="3"></span></td>
                                                        <td><span id="perSpecial" name="perSpecial" maxlength="10" size="3"></span></td>
                                                        <td><span id="taxableSpecial" name="taxableSpecial" size="3"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="salaryComponentLta" name="salaryComponentLta"></span></td>
                                                        <td><span id="perCtcLta" name="perCtcLta" width="10px" maxlength="3" size="3" ></span></td>
                                                        <td><span id="perLta" name="perLta" width="10px" maxlength="10" size="3"></span></td>
                                                        <td><span id="taxableLta" name="taxableLta"  width="10px" size="3"></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">Employees can request salary advances through Cotodel. If
                                                approved, the advance amount will be paid immediately and automatically
                                                recovered from future payments to the employees.</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5" name="customCheck5"
                                                    checked>
                                                <label class="custom-control-label text-left"
                                                    for="customCheck5">Consider FBP allowance to be taxable by default
                                                </label>
                                            </div>
                                        </div>
											<input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${id}">
                                            <input type="hidden" class="form-input" id="employeeId" name="employeeId" >
                                        
                                        </div>
                                        
                                        <div id="autoUpdate" style="display:block">
                                        
                                        <div class="form-group">
                                            <label class="mb-0 text-left company-dtl-label">Default Salary Structure</label>
                                        </div>

                                        <div class="tip-wrap my-3 d-block">
                                            <div class="tip-wrap-in">
                                                <span>1</span>
                                                <p class="mb-0">To remove any predefined component, enter “0” as the percentage/amount.</p>
                                            </div>
                                            <div class="tip-wrap-in mb-0">
                                                <span>2</span>
                                                <p class="mb-0">Fixed amounts should be entered as per the monthly salary.</p>
                                            </div>
                                            <div class="tip-wrap-in mb-0">
                                                <span>3</span>
                                                <p class="mb-0">If the sum of the components doesn’t match the monthly pay, the difference will be adjusted from these components: LTA, HRA,
													 Special Allowances, and Basic (where LTA has the highest priority and Basic has the lowest).
												</p>
                                            </div>
                                        </div>
                                     
                                        <div class="table-responsive">
                                            <table class="table salary-table border-0 newTable" border="0" id="newTable">
                                                <thead>
                                                    <tr>
                                                        <th>Salary Component</th>
                                                        <th>%age of CTC</th>
                                                        <th>Percentage or Fixed?</th>
                                                        <th>Taxable?</th>
                                                        <th></th>
                                                    </tr>                                                 
                                                </thead>
                                              
                                                  <tbody>
                                                    <tr>
                                                        <!-- <td><span id="salaryComponentBasic2" class="comp"></span> </td> -->
                                                        <td><input class="no-bg border-0 age comp" type="text" id="salaryComponentBasic2" maxlength="30" size="10"></td>
                                                        <td><input class="no-bg border-0 percent" type="text" id="perCtcBasic2" placeholder="Textbox" maxlength="3" size="3"></td>
                                                        <td>
                                                            <select class="no-bg no-border per" id="perBasic2" name="">
                                                                <option value="Percentage">Percentage</option>
                                                                <option value="Fixed">Fixed</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="no-bg no-border tax" id="taxableBasic2" name="">
                                                                <option value="Yes">Yes</option>
                                                                <option value="No">No</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                         <!-- <td><span id="salaryComponentHra2" class="comp"></span> </td> -->
                                                          <td><input class="no-bg border-0 age comp"  type="text" id="salaryComponentHra2" maxlength="30" size="10" ></td>
                                                        <td><input class="no-bg border-0 percent"  type="text" id="perCtcHra2"  maxlength="3" size="3" ></td>
                                                        <td>
                                                            <select class="no-bg no-border per" id="perHra2" name="">
                                                                <option value="Percentage">Percentage</option>
                                                                <option value="Fixed">Fixed</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="no-bg no-border tax" id="taxableHra2" name="">
                                                                <option value="Yes">Yes</option>
                                                                 <option value="Yes">No</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <!-- <td><span id="salaryComponentSpecial2" class="comp"></span> </td> -->
                                                        <td><input class="no-bg border-0 age comp" type="text" id="salaryComponentSpecial2" maxlength="30" size="10"></td>
                                                        <td><input class="no-bg border-0 percent" type="text" id="perCtcSpecial2"  maxlength="3" size="3"></td>
                                                        <td>
                                                            <select class="no-bg no-border per" id="perSpecial2" name="">
                                                                <option value="Percentage">Percentage</option>
                                                                <option value="Fixed">Fixed</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="no-bg no-border tax" id="taxableSpecial2" name="">
                                                                <option value="Yes">Yes</option>
                                                                <option value="No">No</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <!-- <td><span id="salaryComponentLta2" class="comp"></span> </td> -->
                                                        <td><input class="no-bg border-0 age comp" type="text" id="salaryComponentLta2" maxlength="30" size="10"></td>
                                                        <td><input class="no-bg border-0 percent" type="text" id="perCtcLta2"  maxlength="3" size="3"></td>
                                                        <td>
                                                            <select class="no-bg no-border per" id="perLta2" name="">
                                                                <option value="Percentage">Percentage</option>
                                                                <option value="Fixed">Fixed</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="no-bg no-border tax" id="taxableLta2" name="">
                                                                <option value="Yes">Yes</option>
                                                                <option value="No">No</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                           <div class="error-msg" id="tableError" style="color:red"></div>
                                            <input id="addButton" type="button" class="text-center d-block btn-grren add-custom" onclick="addRow()" value="+ Add Custom allowance" />
                                                              
                                        </div>

                                        <div class="tip-wrap justify-content-start">
                                            <p class="mb-0">If you are using Flexible Benefits, you can specify whether they are taxable or not, unless you have explicitly approved an exemption for them.</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5"
                                                    checked>
                                                <label class="custom-control-label text-left"
                                                    for="customCheck5">Consider FBP allowance to be taxable by default
                                                </label>
                                            </div>
                                        </div>


  										<div id="payrollsuccessmsgdiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-success text-center">
							            	<span id="payrollsuccessmsg"></span>   
							            </div>
							            
							            <div id="payrollfailmsgDiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-danger text-center">
							            	<span id="payrollfailmsg"></span>
							            </div>
							            
                                       </div>
                                        
                                         <div class="text-center text-md-center my-3 disabled">
                                            <div class="btn btn-proceed-border my-1 border-0">Back to setup guide</div>
                                            <div class="btn btn-proceed ml-2 my-1 back" id="back5">Back</div>
                                            <!-- <div class="btn btn-proceed ml-2 my-1 next">Continue</div> -->
                                            <input type="button" id="btnPayrollSave" value="Save" class="btn btn-proceed ml-2 my-1 next" onclick="validatePayrollAndSubmit()" />
                                        </div>
                                        
                                    </div>
                                </div>
							</form>
								
                         </div>						

                      </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <!-- End of Content Wrapper -->
    
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="cotodel-js/masterdata.js"></script>
    <script type="text/javascript" src="cotodel-js/company-detail.js"></script>
	<script type="text/javascript" src="cotodel-js/sanitize-input.js"></script>
	
    <script>
        $(document).ready(function () {

            $(".back").click(function () {
                $(".tabs-row").hide();
            });

            $("#next1").click(function () {
                $("#form2").show();
                $("#form1").hide();
            });

            $("#next2").click(function () {
                $("#form3").show();
                $("#form2").hide();
            });

            $("#next3").click(function () {
                $("#form4").show();
                $("#form3").hide();
            });

            $("#next4").click(function () {
            	$("#form4").hide();
                $("#form5").show();
                $("#tab2").addClass("active");
            });
            
            
            $("#next5").click(function () {
                $("#form6").show();
                $("#form5").hide();
				$("#tab3").addClass("active");
            });

            $("#back2").click(function () {
                $("#form1").show();
            });

            $("#back3").click(function () {
                $("#form2").show();
            });

            $("#back4").click(function () {
                $("#form3").show();
            });

            $("#back5").click(function () {
                $("#form4").show();
            });

            $("#back6").click(function () {
                $("#form5").show();
            });
            
        });
        
        $(document).ready(function () {
            $('#customCheck5').change(function () {
                if (!this.checked) {
               	  $('#autoUpdate').fadeIn('slow');
              	  $('#defaultSalary').fadeOut('slow');
                }
                else {
              	   $('#autoUpdate').fadeOut('slow');
                   $('#defaultSalary').fadeIn('slow');
                }
                
            });
        });
    </script>


<script>
$(document).ready(function(){
	 $(".innernav").click(function(){
        $(".dropdownNav").addClass("active");
    });
	 $('li.active').removeClass('active').removeAttr('aria-current'); 
	  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
	  
  
});

</script>

<script>
function addRow() {
	
    var table = document.getElementById("newTable").getElementsByTagName('tbody')[0];
    var newRow = table.insertRow(table.rows.length);
    var cell1 = newRow.insertCell(0);
    var nameInput = document.createElement("input");
    nameInput.type = "text";
    nameInput.name = "name";
    nameInput.setAttribute('class',"no-bg border-0 comp");
    nameInput.setAttribute('maxlength',"30");
    nameInput.setAttribute('placeholder',"Salary Component");
    nameInput.setAttribute('size',"10");
 
    cell1.appendChild(nameInput);

    var cell2 = newRow.insertCell(1);
    var ageInput = document.createElement("input");
    ageInput.type = "text";
    ageInput.name = "age";
	ageInput.setAttribute('class',"no-bg border-0 percent");
	ageInput.setAttribute('maxlength',"3");
	ageInput.setAttribute('size',"3");
	ageInput.setAttribute('placeholder',"%age of CTC");
 
    cell2.appendChild(ageInput);

    var cell3 = newRow.insertCell(2);
    var genderSelect = document.createElement("select");
    genderSelect.name = "Percentage";
    var maleOption = document.createElement("option");
    maleOption.text = "Percentage";
    var femaleOption = document.createElement("option");
    femaleOption.text = "Fixed";
    genderSelect.setAttribute('class',"no-bg no-border per");
	
	 
	 var cell4 = newRow.insertCell(3);
	    var taxable = document.createElement("select");
	    taxable.name = "Yes";
	    var taxable1 = document.createElement("option");
	    taxable1.text = "Yes";
	    var taxable2 = document.createElement("option");
	    taxable2.text = "No";
	    taxable.setAttribute('class',"no-bg no-border tax");
		
	 
	    genderSelect.add(maleOption);
	    genderSelect.add(femaleOption);
	    cell3.appendChild(genderSelect);
	
	    taxable.add(taxable1);
	    taxable.add(taxable2);
	    cell4.appendChild(taxable);
	
	    var cell5 = newRow.insertCell(4);
	    var deleteButton = document.createElement("button");
	   deleteButton.innerHTML = '<i class="fa fa-trash"> </i>';
	    deleteButton.setAttribute('class',"text-left remove-btn");
	    deleteButton.onclick = function() {
	        deleteRow(this);
	    };
    	cell5.appendChild(deleteButton);
    	dissableButton();
    	
}

function deleteRow(btn) {
	enableAddButton();
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
}

function dissableButton(){
	var rowCount = $('#newTable>tbody>tr').length;//document.getElementById('newTable').tbody[0].rows.length;
    if(rowCount == "10"){
		document.getElementById("addButton").disabled=true;
		var element = document.getElementById("addButton");
		element.classList.add("btn-disabled");
		
	}
    
	
}
function enableAddButton(){
	var rowCount = $('#newTable>tbody>tr').length;//document.getElementById('newTable').tbody[0].rows.length;
	if(rowCount <= "10"){
		document.getElementById("addButton").disabled=false;
		var element = document.getElementById("addButton");
		element.classList.remove("btn-disabled");
		
	}
	
}
</script>	

</body>

</html>