<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Consulting & Advisory - Cotodel Business Payments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="cotodel.com">
    <meta name="description" content="Consulting & Advisory - Expense Reimbursements & Benefits">
    
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <style>
        .solution-detail {
            padding: 80px 0;
        }
        .solution-image {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .solution-image img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }
        .solution-content {
            padding-right: 30px;
        }
        .feature-item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .feature-icon {
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
        .feature-icon img {
            max-width: 100%;
        }
        .cta-section {
            padding: 30px;
            background: #f8f9fa;
            border-radius: 8px;
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div class="container solution-detail">
        <div class="row">
            <div class="col-12 col-md-6 solution-content-wrapper">
                <div class="solution-content">
                    <h1 class="fs-2">Consulting & Advisory Companies</h1>
                    <h6 class="text-prime color-prime-500 mt-1 mb-3">Expense Reimbursements & Benefits</h6>
                    <hr class="bg-primary my-3">
                    <p class="text-secnd-500 color-secnd-500">Give your employees a seamless solution for their company reimbursements and a chance to increase their take-home salary with compliance-free tax flexi-benefits</p>
                    
                    <div class="upi-modal">
                        <img src="img/modal-upi.png" alt="UPI">
                        <p>Prepaid Digital Vouchers:</p>
                    </div>
                    
                    <div class="solution-features">
                        <div class="row">
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-food.png" alt="Food">
                                    </div>
                                    <span>Food</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-hotel.png" alt="Stay">
                                    </div>
                                    <span>Stay</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-call.png" alt="Telecom">
                                    </div>
                                    <span>Telecom</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-Travel.png" alt="Travel">
                                    </div>
                                    <span>Travel</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-fuel.png" alt="Fuel">
                                    </div>
                                    <span>Fuel</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <img src="img/modal-Uniform.png" alt="Uniform">
                                    </div>
                                    <span>Uniform</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cta-section">
                        <h4>Ready to optimize your expense reimbursements?</h4>
                        <p>Join our waitlist to be among the first to experience our innovative solution.</p>
                        <a target="_blank" href="/waitList"
                        class="btn mb-0 btn-blue bradius-8 text-white">Join the Waitlist <img
                        src="img/rocketlaunch.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 solution-image">
                <img src="img/modal-cover3.png" class="img-fluid" alt="Consulting & Advisory">
            </div>
        </div>
    </div>
</body>
</html>
