<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
		<div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
           		 <div th:insert="fragments/header.html :: header"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                     <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="mt-4 bg-white p-3">
                            <div class="row">
                                <div class="col-12 col-sm-4 organisation-wrap">
                                    <h3>Let’s set up your organisation!</h3>
                                    <div class="stepper"></div>
                                    <p>0 of 7 completed</p>
                                    <a href="#"><img src="img/question-mark.png" alt="" class="mr-2">Need help with setup?</a>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <div class="details-wrap">
                                        <div class="basic-details-wrap-one">
                                            <h4>Basic Details</h4>
                                            <div class="basic-details-input">
                                                <span>1</span>
                                                <p>Enter company details</p>
                                                <button class="btn btn-primary">Start</button>
                                            </div>

                                            <div class="basic-details-input no-bg">
                                                <span>2</span>
                                                <p>Set payroll date</p>
                                                <a href="#"><i class="fas fa-angle-right"></i></a>
                                            </div>

                                            <div class="basic-details-input no-bg mb-0">
                                                <span>3</span>
                                                <p>Set employee salary structure</p>
                                                <a href="#"><i class="fas fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="details-wrap">
                                        <div class="basic-details-wrap">
                                            <h4>Compliance and people</h4>
                                            <div class="time">2 steps | 10 mins</div>                                            
                                        </div>
                                    </div>

                                    <div class="details-wrap mb-0">
                                        <div class="basic-details-wrap">
                                            <h4>KYC verification</h4>
                                            <div class="time">2 steps | 10 mins</div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-md-right my-3">                                            
                                <a class="btn btn-proceed ml-2 my-1" th:href="@{/dashboard1}">Continue</a>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 col-md-3 welcome-wrap">
                            <h4>Welcome</h4>
                            <p>XYZ</p>
                            <span>NEXT PAYROLL</span>
                            <b>NA</b>
                            <span>ACCOUNT BALANCE</span>
                            <b>&#8377;0.00</b>
                            <button class="btn bg-white btn-block">UPDATE BALANCE</button>
                        </div>
                     </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>