<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>
 
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
		
	 <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/header.html :: header"></div> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                     <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3" style="min-height: 250px;">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1">Section 1 Title here</h3>                                    
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                                    
                                    </div>
                                </div>
                        </div>
                        <div class="mt-4 bg-white p-3" style="min-height: 250px;">
                            <div class="row">
                                <div class="col-12 organisation-wrap">
                                    <h3 class="mb-1">Section 2 Title here</h3>                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                                    
                                </div>
                            </div>
                    </div>
                    <div class="text-center text-md-right my-3">                                            
                        <a class="btn btn-proceed ml-2 my-1" th:href="@{/companyDetails}">Continue</a>
                    </div>
                    <div class="logo-btm"><img src="img/powered by.png" alt=""></div>
                        </div>                        
                     </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>