<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       
       	<div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               
               <div th:insert="fragments/header.html :: header"></div>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1 text-center">Incentive Claim Form</h3>
                                    </div>
                                </div>
                            </div>
						<form id="saveEmployee" name="saveEmployee" method="post">
                            <div class="mt-4">
                                <div class="mx-auto company-dtl-wrap">
                                    <div class="row">
                                       <div class="col-12 col-md-4">
                                        <div class="card-form my-3">
                                            <label for="">Provider First Name</label>
                                            <input type="text" class="form-input" id="firstName" name="firstName">
                                        </div>
										<div class="error-msg" id="firstNameError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										
	                                        <div class="card-form my-3">
	                                            <label for="">Last Name</label>
	                                            <input type="text" class="form-input" id="lastName" name="lastName">
	                                        </div>
											<div class="error-msg" id="lastNameError" style="color:red"></div>
										</div>
										
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Provider CPA Number</label>
	                                            <input type="text" class="form-input" id="dateOfBirth" name="dateOfBirth">
	                                        </div>
                                        </div>
                                        
                                        <div class="col-12 col-md-4">
                                        <div class="card-form my-3">
                                            <label for="">Provider Phone Number</label>
                                            <input type="text" class="form-input" id="dateOfBirth" name="dateOfBirth">
                                        </div>
										<div class="error-msg" id="genderError" style="color:red"></div>
										</div>
										
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Provide Email</label>
	                                            <input type="text" class="form-input" id="Mobile" name="Mobile">
	                                        </div>
											<div class="error-msg" id="MobileError" style="color:red" ></div>
										</div>
										
										<div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">National Insurance Number</label>
	                                            <input type="text" class="form-input" id="picUrl" name="picUrl">
	                                        </div>
											<div class="error-msg" id="picUrlError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Declaration</label>
	                                            <input type="text" class="form-input" id="email" name="email">
	                                        </div>
											<div class="error-msg" id="emailError" style="color:red"></div>
										</div>
										
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Employee Detail</label>
	                                            
	                                        </div>
                                        </div>
                                        
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Employee First Name</label>
	                                            <input type="text" class="form-input" id="roleId" name="roleId">
	                                        </div>
											<div class="error-msg" id="roleIdError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Last Name</label>
	                                            <input type="text" class="form-input" id="username" name="username">
	                                        </div>
											<div class="error-msg" id="usernameError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Company Address</label>
	                                            <input type="text" class="form-input" id="pwd" name="pwd">
	                                        </div>
											<div class="error-msg" id="pwdError" style="color:red"></div>
										</div>
										
										
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Company Contact Person Name</label>
	                                             <input type="text" class="form-input" id="pwd" name="pwd">
	                                        </div>
											<div class="error-msg" id="bankAccountError" style="color:red"></div>
										</div>
										
                                        <div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Phone Number</label>
	                                            <input type="text" class="form-input" id="ifsc" name="ifsc">
	                                        </div>
											<div class="error-msg" id="ifscError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
	                                        <div class="card-form my-3">
	                                            <label for="">Bank Name</label>
	                                            <input type="text" class="form-input" id="pan" name="pan">
	                                        </div>
											<div class="error-msg" id="panError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
                                        <div class="card-form my-3">
                                            <label for="">Bank Account Name</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
                                        <div class="card-form my-3">
                                            <label for="">Bank Account Number</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Job Details</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Job Title</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Job Start Date</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Payroll Number</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Job Type</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Employer Claim Detail</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Date</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Employer Name</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										<div class="col-12 col-md-4">
										<div class="card-form my-3">
                                            <label for="">Employer SIgnature</label>
                                            <input type="text" class="form-input" id="urn" name="urn">
                                        </div>
										<div class="error-msg" id="urnError" style="color:red"></div>
										</div>
										
										
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <div class="text-center text-md-center my-3 disabled">
                                            <div class="btn btn-proceed ml-2 my-1 back" id="back2">Back</div>
                                            <input type="button" id="btnSave"  value="Save" class="btn btn-proceed ml-2 my-1 next" onclick="validateEmployeeAndSubmit()" />
                                        </div>
                                    </div>
                                </div>


                            </div>
						</form>

                        </div>
                    </div>
					
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td><b>Employee ID</b></td>
                                            <td>001</td>                                        
                                            <td><b>First Name</b></td>
                                            <td>Deepak</td>                                       
                                            <td><b>Last Name</b></td>
                                            <td>Yadav</td>
                                            <td><b>Employee ID</b></td>
                                            <td>001</td>                                        
                                            <td><b>First Name</b></td>
                                            <td>Deepak</td>         
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                    
	                                <tr>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>                                       
                                       <td><b>Last Name</b></td>
                                       <td>Yadav</td>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>         
                                     </tr>  
                                     <tr>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>                                       
                                       <td><b>Last Name</b></td>
                                       <td>Yadav</td>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>         
                                     </tr>           
                                   <tr>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>                                       
                                       <td><b>Last Name</b></td>
                                       <td>Yadav</td>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>         
                                     </tr>  
                                     <tr>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>                                       
                                       <td><b>Last Name</b></td>
                                       <td>Yadav</td>
                                       <td><b>Employee ID</b></td>
                                       <td>001</td>                                        
                                       <td><b>First Name</b></td>
                                       <td>Deepak</td>         
                                     </tr>  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="cotodel-js/save-employee.js"></script>

</body>

</html>