<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 
 
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       
       <div th:insert="fragments/employee-sidenav.html :: sidevav"></div>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <!-- <div th:insert="fragments/header.html :: header"></div>-->

			   <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

			                      <!-- Topbar Navbar -->
			                      <ul class="navbar-nav top-nav">

			                          <!-- Nav Item - User Information -->
			                          <li class="nav-item">
			                              <a class="nav-link active" href="#">
			                                  <span class="mr-2 small">Dashboard</span>
			                                  <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			                              </a>
			                          </li>
			                          <li class="nav-item">
			                              <a class="nav-link" href="#">
			                                  <span class="mr-2 small">Employee Payroll</span>
			                                  <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			                              </a>
			                          </li>

			                      </ul>

			   				<ul class="navbar-nav ml-auto">
			                          <li class="nav-item dropdown no-arrow">
			                              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                                 <span class="mr-2 d-none d-lg-inline text-gray-600 small" > <p th:text="${session.username}"></p> </span>
			                                  <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
			                              </a>
			                              <!-- Dropdown - User Information -->
			                              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			                                  <a class="dropdown-item" th:href="@{/ProfileInfo}">
			                                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			                                      Profile
			                                  </a>
			                                  <a class="dropdown-item" href="#">
			                                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			                                      Settings
			                                  </a>
			                                
			                                 <!--  <div class="dropdown-item dropdown-footer form-group mb-0" >
			   				            <a class="float-right btn text-white custom-btn-dark btn-sm mb-0"  th:href="@{/logout}">
			   						          <i class="fas fa-user-circle"></i> Logout         
			   						        </a>
			   				          </div> -->  
			                                <div class="dropdown-divider"></div>
			                                  <a class="dropdown-item" th:href="@{/logout}">
			                                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" > </i>
			                                      Logout
			                                  </a>
			                              </div>
			                          </li>

			                     </ul>			
			              </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3">
                                <div class="row">
                                    <div class="col-12 col-md-4 mx-auto organisation-wrap">
                                        <h3 class="mb-1 text-center">Employee Onboarding</h3>
                                        <div class="breadcrumb-wrap">
                                            <div class="breadcrumb-in active">
                                                <span>1</span>
                                                <label>The Basics </label>
                                            </div>
                                            <div class="breadcrumb-in" id="tab2">
                                                <span>2</span>
                                                <label>Bank Information</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="row" id="employee-onboarding-one" style="display: block;">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <form action="">
                                            <div class="card-form">
                                                <label for="">Name</label>
                                                <input type="text" class="form-input" id="name" name="name">
                                            </div>
                                            <div class="error-msg" id="nameError" style="color:red"></div>
                                            <div class="clearfix"></div>

                                            <div class="card-form my-3">
                                                <input type="text" class="form-input" id="email" name="email" placeholder="Enter Email ID">
                                                <img src="img/verify.svg" class="email-verify" alt="">
                                            </div>
											<div class="error-msg" id="emailError" style="color:red"></div>
                                            <div class="clearfix"></div>

                                            <div class="card-form my-1 mobile-code-validate">
                                                <input type="text" id="mobilecode" class="form-input mobile-code-validate-input" placeholder="Enter Phone No." name="name">
                                                <button class="validate-btn" id="optBtn" type="button"  onclick="getOTP()">Validate</button>
                                            </div>
											<div class="error-msg" id="mobilecodeError" style="color:red"></div>
                                            <div class="clearfix"></div>
											<div  id="loginIdDiv" style="display: none" >
                                            <div class="otp-box-onboarding" >
                                                <input type="text" class="form-control test" id="password1" name="password1"
                           						  maxlength="1" autocomplete="off" oninput="focusNextOtp(this)" onkeydown="focusBackOtp()">
                                                <input type="text" class="form-control test" id="password2" name="password1" 
                            					 maxlength="1" autocomplete="off" oninput="focusNextOtp(this)" onkeydown="focusBackOtp()">
                                                <input type="text" class="form-control test" id="password3" name="password1"
                            					 maxlength="1" autocomplete="off" oninput="focusNextOtp(this)" onkeydown="focusBackOtp()">
                                                <input type="text" class="form-control test" id="password4" name="password1"
                            					 maxlength="1" autocomplete="off" oninput="focusNextOtp(this)" onkeydown="focusBackOtp()">
                                                <input type="text" class="form-control test" id="password5" name="password1"
                            					 maxlength="1" autocomplete="off" oninput="focusNextOtp(this)" onkeydown="focusBackOtp()">
                            					<input type="text" class="form-control test" id="password6" name="password1"
                            					 maxlength="1" autocomplete="off"  onkeydown="focusBackOtp()">
                                            </div>
											</div>
                                           <!--  <label class="time-otp" for="">00:30</label>
                                            <p>Didn’t receive the code? <a href="#">Resend Code</a></p>
 											-->
 											
 											 <div id="otpError" style="color:red"></div>	
					                       <div id="errorOtp" style="color:red"></div>	
					                       <!-- <div class="text-center" id="countdown" style="color: green;"></div>
											<p id="successmessage"></p> -->
											<label for="" id="countdown" style="color: green;" ></label>
											
											<div class="form-group">
															<div class="row">
																<div class="col-sm-12 col-sm-offset-3">
																	<div id="successError">
																		<p id="error" style="color: red" th:if="${message ne null}">
																		 	<span id="incorrectOtp" th:text="${message}" style="color: red;"></span>
																		 </p>
																	</div>
																</div>
															</div>
											</div>
											
					                        <p id="optBtn">Didn’t receive the code?  <a href="#" onclick="resendOTP()">Resend OTP</a></p>
					                       <!--  <div class="d-grid">
					                            <button class="btn btn-primary btn-user btn-block" id="optBtn" type="button"  onclick="getOTP()" >getOTP</button>
					                        </div> -->
                                            <div class="tip-wrap mb-4">
                                                <p class="mb-0">Validation code will be sent to your phone, Enter code to validate your phone number.</p>
                                            </div>

                                            <div class="card-form">
                                                <select class="form-select form-control no-bg border-0" id="proofOfIdentity" name="proofOfIdentity" aria-label="Default select example">
                                                    <option selected="">Proof of Identity</option>
                                                    <option value="1">Passport</option>
                                                    <option value="2">Voter In Card</option>
                                                    <option value="3">Pan Card</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
											
											<div id="successmsgdiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-success text-center">
							            	<span id="successmsg"></span>   
								            </div>
								            
								            <div id="failmsgDiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-danger text-center">
								            	<span id="failmsg"></span>
								            </div>
								            
                                       
                                            <div class="text-center text-md-center my-2 disabled">
                                            <input type="hidden" id="orderId" name="orderId">
                                                <button class="btn btn-proceed w-100 my-1 next" id="empOnboarding" type="button" onclick="saveEmployeeProfile()" disabled>Continue</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="row tabs-row" id="employee-onboarding-two">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                                        <div class="tip-wrap mb-4">
                                            <p class="mb-0">Please be careful when entering data on this screen, as mistakes may result in incorrect tax deductions, filings, or issues with salary transfers/payments.</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <label for="">Enter PAN</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="otp-box-onboarding">
                                            <input type="text" class="form-control test" id="pan1" placeholder="A" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan2" placeholder="B" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan3" placeholder="E" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan4" placeholder="P" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan5" placeholder="G" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan6" placeholder="4" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan7" placeholder="1" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan8" placeholder="9" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan9" placeholder="7" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                            <input type="text" class="form-control test" id="pan10" placeholder="A" maxlength="1" autocomplete="off" oninput="focusNext(this)" onkeydown="focusBack()" style="text-transform:uppercase">
                                        </div>
 										<div class="error-msg" id="panError" style="color:red"></div>
                                        <div class="card-form my-3">
                                            <label for="">Bank Account Number</label>
                                            <input type="password" id="accountNo" onkeyup="validate()"  name="accountNo" 
                                            class="form-input"  placeholder="*************" maxlength="16" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                        </div>
                                        <div class="error-msg" id="accountNoError" style="color:red"></div>
                                        <div class="clearfix"></div>

                                        <div class="card-form my-3">
                                            <label for="">Confirm Bank Account Number</label>
                                            <input type="text" class="form-input" onkeyup="validate()" id="confirmAccountNo"  
                                            name="confirmAccountNo" placeholder="Confirm Bank Account" maxlength="16" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                        </div>
                                         <div class="error-msg" id="confirmAccountNoError" style="color:red"></div>
                                        <div class="clearfix"></div>
                                       <!--  <div class="tip-wrap mb-4 align-items-start justify-content-start" style="background-color: #f4e9ec;">
                                            <p class="mb-0">The bank account numbers entered don’t match each other. Please try again.</p>
                                        </div>-->

                                        <div class="card-form my-3">
											<label for="">Bank Ifsc Code</label>
                                            <input type="text" class="form-input" id="bankIfsc" maxlength="11" name="bankIfsc" onkeyup="validateIFSC()" placeholder="Bank IFSC Code" style="text-transform:uppercase">
                                        </div>
										 <div class="error-msg" id="bankIfscError" style="color:red"></div>
                                        <div class="clearfix"></div>

                                        <div class="tip-wrap mb-4">
                                            <p class="mb-0">If the name on your bank account differs from your given name ("[Given Name]"), please enter it here. Otherwise, leave it blank.</p>
                                        </div>

                                        <div class="card-form my-1">
											<label for="">Beneficiary Name</label>
                                            <input type="text" class="form-input" id="beneficiaryName" name="beneficiaryName" placeholder="Beneficiary Name (Optional)">
                                        </div>
										<div class="error-msg" id="beneficiaryNameError" style="color:red"></div>
                                        <div class="clearfix"></div>
                                        
										<div id="successmsgdivtab2" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-success text-center">
							            	<span id="successmsgtab2"></span>   
								        </div>
								            
							            <div id="failmsgDivtab2" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-danger text-center">
							            	<span id="failmsgtab2"></span>
							            </div>
								            
                                        <div class="text-center text-md-center my-2 disabled">
                                        	<input type="hidden" id="empid" name="empid">
                                        	<input type="hidden" id="inputpan" name="inputpan">
                                            <div class="btn btn-proceed-border my-1" id="back-emp-onb-one">Back to Previous Page</div>
                                            <button type="button" class="btn btn-proceed my-1 next" id="confirm" onclick="saveEmployeeProfileTab2()">Confirm</button>
                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>

                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
 <div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
 <div class="lds-spinner" id="loginLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    
    
	<script type="text/javascript" src="cotodel-js/employee-profile.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>

    <script>
    
        // -----Country Code Selection
        $("#mobile_code").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });
        
        </script>

<script>

	$(document).ready(function(){
		
		 $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});
	
    $(document).ready(function () {

        $("#emp-next1").click(function () {
            $("#employee-onboarding-two").hide();
            $("#employee-onboarding-one").show();
        });

        $("#back-emp-onb-one").click(function () {
            $("#employee-onboarding-one").show();
            $("#employee-onboarding-two").hide();
        });

    });
</script>



<script>
function validate() {
	var x= document.getElementById("accountNo").value;
    var y= document.getElementById("confirmAccountNo").value;
    var message = document.getElementById('confirmAccountNoError');

    if (x === y) {
        message.innerHTML = 'Account no. Matched';
        message.style.color = 'green';
    } else {
        message.innerHTML = 'Account no. Do not Match';
        message.style.color = 'red';
    }
}

function validateIFSC(){
	var x= document.getElementById("bankIfsc").value;
    var message = document.getElementById('bankIfscError');
    var ifscRegex = /^[A-Za-z]{4}\d{7}$/ ;
		var ifscRegex1 = /^[A-Za-z]{4}/ ;
    if(x==""){
    	document.getElementById("bankIfscError").innerHTML="Please Enter Valid IFSC Code";
		document.getElementById("bankIfsc").focus();
		return false;
    }
	else if(!x.match(ifscRegex1)){
			document.getElementById("bankIfscError").innerHTML="First four alphabets are expected in IFSC";
			document.getElementById("bankIfsc").focus();
			return false;
		}
    /*else if(!x.match(ifscRegex)){
		document.getElementById("bankIfscError").innerHTML="Please Enter Valid IFSC Code";
		document.getElementById("bankIfsc").focus();
		return false;
	}*/
    else{
    	document.getElementById("bankIfscError").innerHTML="";
    }
  
}

</script>

</body>

</html>