<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                
                <div th:insert="fragments/header.html :: header"></div>
                
                <!-- End of Topbar -->

               <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs expense-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Employee Bands</a></li>
                                <li><a data-toggle="tab" href="#menu1">Expenses & Advances</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">

                                    <div class="employee-band-wrap">
                                        <h4>Employee Bands</h4>
                                        <p>For your understanding, Employee Bands are devised to help you segment your organization’s employees 
                                            based on work experience, seniority, roles, pay-grade or any other criteria defined by your organization.</p>
                                            <h5>Employee Bands are currently ‘Deactivated’</h5>
                                            <p><b>By activating Employee Bands,</b> you can introduce segmentation and set guidelines
                                             for the administration of employee benefits and expense allowances.</p>
                                             <div class="d-flex justify-content-center mt-2 w-50">
                                                 <a class="btn btn-primary mx-2 w-100" data-toggle="modal" data-target="#ModalEmployeeBandSetting">Activate Employee Bands</a>
                                             </div>
                                    </div>

                                </div>
                                <div id="menu1" class="tab-pane ">
                                    <h3>Menu 1</h3>
                                    <p>Some content in menu 1.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	
	 <script type="text/javascript" src="cotodel-js/employee-band.js"></script>
	
	<script>
	
	$(document).ready(function(){
		
		 $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});
	</script>
	
	 <script>
	 
	 
	 function handleDropdownNumeric() {
         clearTable();
         addRows();
     }
	 
	 function handleDropdownAlpha() {
         clearTable();
         addRows2();
     }

     function clearTable() {
         const table = document.getElementById('bandTable').getElementsByTagName('tbody')[0];
         while (table.rows.length > 0) {
             table.deleteRow(0);
         }
     }

     function addRows() {
         const dropdown = document.getElementById('dropdown');
         const table = document.getElementById('bandTable').getElementsByTagName('tbody')[0];
         const numberOfRows = parseInt(dropdown.value, 10);

         if (!isNaN(numberOfRows)) {
             for (let i = 0; i < numberOfRows; i++) {
                 // Create a new row and cells
                 const newRow = table.insertRow();
                 const newCell1 = newRow.insertCell(0);
                 const newCell2 = newRow.insertCell(1);

                 // Add a textbox to the first cell
                 const textbox = document.createElement('input');
                 const newDropdown = document.createElement('select');
                 
                 
                 textbox.placeholder = `Employee Band ${i + 1}`;
                 if(i === 0){
                 textbox.value = `Employee Band 1`;
                 }
                 else if(i=== 1){
                	 textbox.value = `Employee Band 2`;
                 }
                 else if(i=== 2){
                	 textbox.value = `Employee Band 3`;
                 }
                 else if(i=== 3){
                	 textbox.value = `Employee Band 4`;
                 }
                 else if(i=== 4){
                	 textbox.value = `Employee Band 5`;
                 }
                 else if(i=== 5){
                	 textbox.value = `Employee Band 6`;
                 }
               
                 textbox.type = 'text';
                 textbox.setAttribute('class',"empolyeeinput01");
                 newCell1.appendChild(textbox);

                 // Add any other content to the second cell (e.g., a button, text, etc.)                
                 
                 for (let j = 1; j <= 5; j++) {
				 
                 const option = document.createElement('option');
                 option.value = j;
                 // option.text = `Option ${j}`;
                 option.text = `${j}`; 
                 newDropdown.appendChild(option);
 				 newDropdown.setAttribute('class',"did-floating-select dropdownvalue");
                 
                 newCell2.appendChild(newDropdown);
             }

         
             }
             // Reset dropdown to default value
             
         }
     }

     function addRows2() {
         const dropdown = document.getElementById('dropdown');
         const table = document.getElementById('bandTable').getElementsByTagName('tbody')[0];
         const numberOfRows = parseInt(dropdown.value, 10);

         if (!isNaN(numberOfRows)) {
             for (let i = 0; i < numberOfRows; i++) {
                 // Create a new row and cells
                 const newRow = table.insertRow();
                 const newCell1 = newRow.insertCell(0);
                 const newCell2 = newRow.insertCell(1);

                 // Add a textbox to the first cell
                 const textbox = document.createElement('input');
                 const newDropdown = document.createElement('select');
                 
                 
                 textbox.placeholder = `Employee Band ${i + 1}`;
                 if(i === 0){
                 textbox.value = `Employee Band A`;
                 }
                 else if(i=== 1){
                	 textbox.value = `Employee Band B`;
                 }
                 else if(i=== 2){
                	 textbox.value = `Employee Band C`;
                 }
                 else if(i=== 3){
                	 textbox.value = `Employee Band D`;
                 }
                 else if(i=== 4){
                	 textbox.value = `Employee Band E`;
                 }
                 else if(i=== 5){
                	 textbox.value = `Employee Band F`;
                 }
               
                 textbox.type = 'text';
                 textbox.setAttribute('class',"empolyeeinput01");
                 newCell1.appendChild(textbox);

                 // Add any other content to the second cell (e.g., a button, text, etc.)                
                 
                 for (let j = 1; j <= 5; j++) {
				 
                 const option = document.createElement('option');
                 option.value = j;
                 // option.text = `Option ${j}`;
                 option.text = `${j}`; 
                 newDropdown.appendChild(option);
 				 newDropdown.setAttribute('class',"did-floating-select dropdownvalue");
                 
                 newCell2.appendChild(newDropdown);
             }

         
             }
             // Reset dropdown to default value
             
         }
     }
     
 function updateTextboxesNumeric() {
		 
		var element = document.getElementById('alphaSeniority');
		element.classList.add("abc");
		  
		var element2  = document.getElementById('numericSeniority');
		element2.classList.remove("abc");
	  
        const dropdownValue = document.getElementById('dropdown').value;
        const textboxContainer = document.getElementById('textboxContainer');	
		const dropdownContainer = document.getElementById('dropdownContainer');

         // Clear previous dropdowns
         dropdownContainer.innerHTML = '';

         // Clear previous textboxes
         textboxContainer.innerHTML = '';

         // Add new textboxes based on dropdownValue
         for (let i = 0; i < dropdownValue; i++) {
             const textbox = document.createElement('input');
			 const newDropdown = document.createElement('select');
				
             textbox.type = 'text';
             textbox.setAttribute('class',"empolyeeinput01");
             textbox.placeholder = `Employee Band ${i + 1}`;
             if(i === 0){
             textbox.value = `Employee Band 1`;
             }
             else if(i=== 1){
            	 textbox.value = `Employee Band 2`;
             }
             else if(i=== 2){
            	 textbox.value = `Employee Band 3`;
             }
             else if(i=== 3){
            	 textbox.value = `Employee Band 4`;
             }
             else if(i=== 4){
            	 textbox.value = `Employee Band 5`;
             }
             else if(i=== 5){
            	 textbox.value = `Employee Band 6`;
             }
             textboxContainer.appendChild(textbox);
             textboxContainer.appendChild(document.createElement('br'));
				
				
			 for (let j = 1; j <= 5; j++) {
				 
                 const option = document.createElement('option');
                 option.value = j;
                 // option.text = `Option ${j}`;
                 option.text = `${j}`;
                 newDropdown.appendChild(option);
                 newDropdown.setAttribute('class',"did-floating-select dropdownvalue");
                
             }

             dropdownContainer.appendChild(newDropdown);
             dropdownContainer.appendChild(document.createElement('br'));
         }
     }
 	 
</script>
    
    <script type="text/javascript">
    function valueChanged()
    {
        if($('.coupon_question').is(":checked"))   
            $(".answer").show();
        else
            $(".answer").hide();
    }
</script>
    
    <!-- Modal Modal Employee Band Setting -->
    <div class="modal fade" id="ModalEmployeeBandSetting" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg" role="document">
            <div class="modal-content modal-bulk">
                <div class="modal-header pb-0">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Employee Band Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr class="mt-0">
                    <div id="carouselExampleFade" class="carousel slide employeeCarousel" data-ride="carousel" data-touch="false" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <form id="formtab1" >
                                <div class="slide-wrap">
                                    <div class="d-flex">
                                        <div class="table-check mr-2">
                                            <input type="checkbox" id="employeeBandEnabled" checked>
                                        </div>
                                        <p class="mb-0">Employee bands enabled</p>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <p class="mb-0">Define the number of Employee Bands</p>
                                       <!--  <select class="did-floating-select" id="dropdown" onchange="handleDropdownChange()" > -->
                                         <select class="did-floating-select" id="dropdown" >
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div>
                                        <p>Choose how the Employee Bands must be represented</p>
                                    </div>
                                    <div>
                                        <div class="band-option">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="numericFigure" value="numeric"
                                                    id="numericFigure" onclick="handleDropdownNumeric()">
                                                <label class="form-check-label" for="numeric">
                                                    Numeric Figures
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="numericFigure" value="Alphabetical" onchange="handleDropdownAlpha()"
                                                    id="AlphabeticalFigure" >
                                                <label class="form-check-label" for="AlphabeticalFigure">
                                                    Alphabetical Figures
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my-4">
                                        <div class="info-msg">
                                            <strong>‘Numerical Figures’ would be showcased as Bands 1, 2, 3... till n,
                                                whereas ‘Alphabetical Figures’ would be showcased as Bands A, B, C...
                                                till n.</strong>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">Choose the starting Employee Band to define the order of
                                            seniority</p>
                                        <select class="did-floating-select mx-2 min-w170" id="startingEmployeeBand">
                                            <option value="">Employee Band A</option>
                                            <option value="1">Employee Band A</option>
                                        </select>
                                        <div class="exclaimation"><img src="img/exclaimation.svg" alt=""
                                                data-toggle="tooltip" data-placement="top"
                                                title="The selected band forms the starting point for the order of seniority. In case A or 1 is selected, the order of seniority will be in a chronological order, with A or 1 as the base, and vice-versa.">
                                        </div>
                                    </div>
                                    <hr>

                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="1" data-slide="next"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="2" data-slide="next"></li>
                                    </ol>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-primary w-100" data-target="#carouselExampleFade" data-slide="next" >Continue</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="carousel-item">
                            <form id="formtab2">
                                <div class="slide-wrap">
                                    <div class="d-flex">
                                        <div class="table-check mr-2">
                                            <input type="checkbox" id="addtionalTiersCheckBox" value="1" class="coupon_question" onchange="valueChanged()">
                                        </div>
                                        <p class="mb-0">Introduce additional Tiers to each Employee Band</p>
                                    </div>
                                    <hr>            
                                    
                                   	<div class="table-responsive">
                                   		<table id="bandTable" class="table no-bordered empolyee-band-head-modal newTable" colpadding="5">
                                   			<thead>
                                   				<tr>
                                   					<th>Employee Bands</th>
                                   					<th>Additional Tiers</th>
                                   				</tr>
                                   			</thead>
	                                   			<tbody>
	                                   			</tbody>
                                   		</table>
                                   	</div>
                                    
                                    
                                    <ol class="carousel-indicators">
                                    
                                        <li data-target="#carouselExampleFade" data-slide-to="0" data-slide="prev" class="active"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="1" data-slide="next" class="active"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="2" data-slide="next"></li>
                                    </ol>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-border mx-2 w-49" data-target="#carouselExampleFade" data-slide="prev">Back</button>
                                        <button class="btn btn-primary mx-2 w-49" data-target="#carouselExampleFade" data-slide="next" onclick="saveEmployeeBandTab2()">Continue</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="carousel-item">
                            <form id="formTab3">
                                <div class="slide-wrap">
                                    <div class="d-block">
                                        <p class="mb-0">Please review and confirm the Employee Bands below</p>
                                    </div>
                                    <div class="d-flex align-items-center my-2" id="alphaSeniority">
                                        <p class="mb-0">Starting Employee Band that defines the order of seniority</p>
                                        <select class="did-floating-select mx-2 min-w170">
                                            <option value="A">Employee Band A</option>
                                            <option value="B">Employee Band B</option>
                                            <option value="C">Employee Band C</option>
                                            <option value="D">Employee Band D</option>
                                            <option value="E">Employee Band E</option>
                                            <option value="F">Employee Band F</option>
                                        </select>
                                    </div>
                                    
                                      <div class="d-flex align-items-center my-2 abc" id="numericSeniority">
                                        <p class="mb-0">Starting Employee Band that defines the order of seniority</p>
                                        <select class="did-floating-select mx-2 min-w170">
                                            <option value="1">Employee Band 1</option>
                                            <option value="2">Employee Band 2</option>
                                            <option value="3">Employee Band 3</option>
                                            <option value="4">Employee Band 5</option>
                                            <option value="5">Employee Band 6</option>
                                            <option value="6">Employee Band 6</option>
                                        </select>
                                    </div>
                                    
                                    <hr>
                                    
                                    <div class="table-responsive">
                                    	<table class="table empolyee-band-table" id="dynamicTable">
                                    		<thead>
                                    			<tr>
                                    				<th class="bandlabel">Employee Bands</th>
                                    				<th class="bandlabel01" colspan="5">Additional Tiers</th>
									               
                                    			</tr>
                                    		</thead>
                                    		<tbody>
                                    			<tr class="empolyee-band-body">
                                    				<td><input type="text" class="empolyeeinput01" placeholder="A"></td>
                                    				<td><input type="text" class="empolyeeinput02" placeholder="A1"></td>
                                    				<td><input type="text" class="empolyeeinput02" placeholder="A1"></td>
                                    				<td><input type="text" class="empolyeeinput02" placeholder="A1"></td>
                                    				<td><input type="text" class="empolyeeinput02" placeholder="A1"></td>
                                    				<td><input type="text" class="empolyeeinput02" placeholder="A1"></td>
                                    			</tr>
                                    		</tbody>
                                    	</table>
                                    </div>
                                    
                                    
                                 <!--    <div class="empolyee-band-table">
                                        <div class="empolyee-band-head">
                                            <label for="" class="bandlabel">Employee Bands</label>
                                            <label for="" class="bandlabel01">Additional Tiers</label>
                                        </div>
                                        <div class="band-list">
                                            <div class="empolyee-band-body">
                                                <input type="text" class="empolyeeinput01" placeholder="A">
                                                <input type="text" class="empolyeeinput02" placeholder="A1">
                                                <input type="text" class="empolyeeinput02" placeholder="A2">
                                                <input type="text" class="empolyeeinput02" placeholder="A3">
                                                <input type="text" class="empolyeeinput02" placeholder="A3">
                                                <input type="text" class="empolyeeinput02" placeholder="A5">
                                            </div>
                                            <div class="empolyee-band-body">
                                                <input type="text" class="empolyeeinput01" placeholder="B">
                                                <input type="text" class="empolyeeinput02" placeholder="B1">
                                                <input type="text" class="empolyeeinput02" placeholder="B2">
                                                <input type="text" class="empolyeeinput02" placeholder="B3">
                                                 <input type="text" class="empolyeeinput02" placeholder="B4">
                                                 <input type="text" class="empolyeeinput02" placeholder="B5">
                                            </div>
                                            <div class="empolyee-band-body">
                                                <input type="text" class="empolyeeinput01" placeholder="C">
                                                <input type="text" class="empolyeeinput02" placeholder="C1">
                                                <input type="text" class="empolyeeinput02" placeholder="C2">
                                                <input type="text" class="empolyeeinput02" placeholder="C3">
                                                <input type="text" class="empolyeeinput02" placeholder="C4">
                                                <input type="text" class="empolyeeinput02" placeholder="C5">
                                            </div>
                                        </div>
                                    </div> -->
                                   
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleFade" data-slide-to="0" data-slide="prev" class="active"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="1" data-slide="prev" class="active"></li>
                                        <li data-target="#carouselExampleFade" data-slide-to="2" class="active"></li>
                                    </ol>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-border mx-2 w-49" data-target="#carouselExampleFade" data-slide="prev">Back</button>
                                        <a href="employee-band-setting.html" class="btn btn-primary mx-2 w-49" >Confirm</a>
                                    </div>
                                </div>
                               </form>
                               <input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>