<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>

<body id="page-top" onload="viewEmployeeBand()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            <!-- Topbar -->
               
			<!-- <div th:insert="fragments/header.html :: header"></div>-->

		  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

		                     <!-- Topbar Navbar -->
		                     <ul class="navbar-nav top-nav">

		                         <!-- Nav Item - User Information -->
		                         <li class="nav-item">
		                             <a class="nav-link active" href="#">
		                                 <span class="mr-2 small">Dashboard</span>
		                                 <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
		                             </a>
		                         </li>
		                         <li class="nav-item">
		                             <a class="nav-link" href="#">
		                                 <span class="mr-2 small">Admin Settings</span>
		                                 <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
		                             </a>
		                         </li>

		                     </ul>

							 <!-- Right Icons + Profile -->
							 			    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
							 			      <!-- Wallet Icon -->
							 			     <!-- <li class="nav-item mr-3">
							 			        <a href="/settings/wallet" role="button">
							 			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
							 			        </a>
							 			      </li>-->
							 				  <li class="nav-item mr-3">
							   			        <a href="/cotowallet" role="button">
							   			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
							   			        </a>
							   			      </li>
							 			      <!-- Notification Icon -->
							 			      <li class="nav-item mr-3">
							 			        <a href="#" role="button">
							 			          <img src="img/Notification-icon.png" alt="Notification" class="nav-icon-img">
							 			        </a>
							 			      </li>

							 			      <!-- Profile Dropdown -->
							 			      <li class="nav-item dropdown no-arrow">
							 			        <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							 			          <img class="img-profile rounded-circle" src="img/undraw_profile.svg" alt="User" style="width: 32px; height: 32px;">
							 			        </a>
							 			        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
							 			          <a class="dropdown-item" href="/ProfileInfo">
							 			            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
							 			          </a>
							 			       <!--   <a class="dropdown-item" href="#">
							 			            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
							 			          </a>-->
							 			          <div class="dropdown-divider"></div>
							 			          <a class="dropdown-item" href="/logout">
							 			            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
							 			          </a>
							 			        </div>
							 			      </li>
							 			    </ul>
		             </nav>
                
            <!-- End of Topbar -->

               <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs expense-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Employee Bands</a></li>
                                <!--<li><a data-toggle="tab" href="#menu1">Expenses & Advances</a></li>-->
                            </ul>
                            <div class="tab-content">
                            
                            </div>
                            
                            <div class="tab-content" id="defaultDiv" style="display: block">
                                <div id="home" class="tab-pane in active">
                                    <div class="employee-band-wrap">
                                        <h4>Employee Bands</h4>
                                        <p>For your understanding, Employee Bands are devised to help you segment your organization’s employees 
                                            based on work experience, seniority, roles, pay-grade or any other criteria defined by your organization.</p>
                                            <h5>Employee Bands are currently ‘Deactivated’</h5>
                                            <p><b>By activating Employee Bands,</b> you can introduce segmentation and set guidelines
                                             for the administration of employee benefits and expense allowances.</p>
                                             <div class="d-flex justify-content-center mt-2 w-50">
                                                 <a class="btn btn-primary mx-2 w-100" data-toggle="modal" data-target="#ModalEmployeeBandSetting">Activate Employee Bands</a>
                                           </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane ">
                                    <h3>Menu 1</h3>
                                    <p>Some content in menu 1.</p>
                                </div>
                            </div>
                            
                            
                             <div class="tab-content" style="display: none" id="viewBandDiv" >
                                <div id="home" class="tab-pane in active">
                                    <div class="bandsetting">
                                        <h4>Expense Reimbursements </h4>
                                        <div class="bandsetting01-wrap">
                                            <div class="left-bandsetting d-flex">
                                                <div class="table-check">
                                                    <input type="checkbox" id="customCheck3" checked>
                                                </div>
                                                <p>Employee Bands are activated. This helps introduce segmentation and
                                                    set guidelines for the administration of employee benefits and
                                                    expense allowances.</p>
                                            </div>
                                            <div class="right-bandsetting">
                                                <button type="button" class="btn p-0">
                                                    <img src="img/edit.svg" alt="" data-toggle="modal" data-target="#ModalEmployeeBandActivation">
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bandsetting" >
                                        <h4>Employee Band Settings </h4>
                                        <div class="bandsetting01-wrap">
                                            <div class="left-bandsetting">
                                                <div>
                                                    <label>Number of Employee Bands</label> <input type="text" id="Noofband" class="num" readonly>
                                                </div>
                                                <div>
                                                    <label>Employee Bands represented by:</label><br>
		                                                    <div class="band-option">
		                                                         <div class="form-check">
		                                                <input class="form-check-input" type="radio" name="numericFigureView" value="NumericView"
		                                                    id="numericFigure">
		                                                <label class="form-check-label" for="numericView">
		                                                    Numeric Figures
		                                                </label>
		                                            </div>
		                                            
		                                            <div class="form-check">
		                                                <input class="form-check-input" type="radio" name="numericFigureView" value="AlphabeticalView"
		                                                    id="AlphabeticalFigureView" >
		                                                <label class="form-check-label" for="AlphabeticalFigureView">
		                                                    Alphabetical Figures
		                                                </label>
		                                            </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label>Starting Employee Band that defines the order of
                                                        seniority</label> <input type="text"
                                                        placeholder="Employee Band A1" class="employee">
                                                    <div class="exclaimation"><img src="img/exclaimation.svg" alt=""
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="The selected band forms the starting point for the order of seniority. In case A or 1 is selected, the order of seniority will be in a chronological order, with A or 1 as the base, and vice-versa.">
                                                    </div>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table emp_Bnd_Tbl" id="viewEmployeeBandTable">
                                                        <thead>
                                                            <tr>
                                                                <th>Employee Bands</th>
                                                                <th colspan="3">Additional Tiers</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="right-bandsetting">
                                                <button type="button" class="btn p-0" data-toggle="modal"
                                                    data-target="#ModalEmployeeBandSetting">
                                                    <img src="img/edit.svg" alt="">
                                                </button>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                                <div id="menu1" class="tab-pane ">
                                    <h3>Menu 1</h3>
                                    <p>Some content in menu 1.</p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	
	<script type="text/javascript" src="cotodel-js/employee-band.js"></script>
	
	<script>
	$(document).ready(function(){	
		 $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});
	</script>
	
	<script>
        function toggleColumn() {
            var checkBox = document.getElementById('addtionalTiersCheckBox');
            var elements = document.getElementsByClassName('dropdownvalue');
            
            for (var i = 0; i < elements.length; i++) {
                if (checkBox.checked) {
                    elements[i].style.display = '';
                } else {
                    elements[i].style.display = 'none';
                }
            }
        }
        
        // Initially hide the column
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('addtionalTiersCheckBox').checked = true;
            toggleColumn();
        });
        
        function close(){
        	window.location.href = "http://localhost:9191/employeeBand";
        }
    </script>

    <!-- Modal Modal Employee Band Setting -->
    <div class="modal fade" id="ModalEmployeeBandSetting" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg" role="document">
            <div class="modal-content modal-bulk">
                <div class="modal-header pb-0">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Employee Band Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr class="mt-0">
                    <div id="carouselExampleFade" class="carousel slide employeeCarousel" data-ride="carousel" data-touch="false" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <form id="formtab1" >
                                <div class="slide-wrap">
                                    <div class="d-flex">
                                        <div class="table-check mr-2">
                                            <input type="checkbox" id="employeeBandEnabled" checked>
                                        </div>
                                        <p class="mb-0">Employee bands enabled</p>
                                    </div>
                                    <div class="error-msg" id="employeeBandEnabledError" style="color:red"></div>
                                    <div class="d-flex align-items-center mb-2">
                                        <p class="mb-0">Define the number of Employee Bands</p>
                                        <!--  <select class="did-floating-select" id="dropdown" onchange="handleDropdownChange()" > -->
                                         <select class="did-floating-select" id="dropdown" >
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="error-msg" id="dropdownError" style="color:red"></div>
                                    <div>
                                        <p>Choose how the Employee Bands must be represented</p>
                                    </div>
                                    <div>
                                        <div class="band-option">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="numericFigure" value="Numeric"
                                                    id="numericFigure" onclick="handleDropdownNumeric()">
                                                <label class="form-check-label" for="numericFigure">
                                                    Numeric Figures
                                                </label>
                                            </div>
                                            
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="numericFigure" value="Alphabetical" onchange="handleDropdownAlpha()"
                                                    id="AlphabeticalFigure" >
                                                <label class="form-check-label" for="AlphabeticalFigure">
                                                    Alphabetical Figures
                                                </label>
                                            </div>
                                            
                                        </div>
                                        <div class="" id="numericFigureError" style="color:red"></div> 
                                        
                                    </div>
                                    <div class="my-4">
                                        <div class="info-msg">
                                            <strong>‘Numerical Figures’ would be showcased as Bands 1, 2, 3... till n,
                                                whereas ‘Alphabetical Figures’ would be showcased as Bands A, B, C... till n.</strong>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">Choose the starting Employee Band to define the order of seniority </p>
                                        <select class="did-floating-select mx-2 min-w170" id="startingEmployeeAlpha" style="display: block" onchange="change();">
                                           <option value="ascending">Ascending</option>
                                           <option value="descending">Descending</option>
                                        </select>
                                        
                                        <select class="did-floating-select mx-2 min-w170" id="startingEmployeeNumeric" style="display: none" onchange="change();">
                                            <option value="ascending">Ascending</option>
                                            <option value="descending">Descending</option>
                                        </select>
                                        
                                        <div class="exclaimation"><img src="img/exclaimation.svg" alt="" data-toggle="tooltip" data-placement="top"
                                             title="The selected band forms the starting point for the order of seniority. In case A or 1 is selected, the order of seniority will be in a chronological order, with A or 1 as the base, and vice-versa.">
                                        </div>
                                        
                                    </div>
                                   
                                    <hr>

                                    <ul class="custom-slid-bar">
                                        <li class="highlight">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-primary w-100" type="button" onclick="validateTab1()" id="continewTab1" style="display:block"> Continue </button>
                                        <button class="btn btn-primary w-100" data-target="#carouselExampleFade" id="continewTab2" data-slide="next" style="display:none"> Continue </button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="carousel-item">
                            <form id="formtab2">
                                <div class="slide-wrap">
                                    <div class="d-flex">
                                        <div class="table-check mr-2">
                                            <input type="checkbox" id="addtionalTiersCheckBox" onclick="toggleColumn()" class="coupon_question" checked>
                                        </div>
                                        <p class="mb-0">Introduce additional Tiers to each Employee Band</p>
                                    </div>
                                    <div class="error-msg" id="gstnNoError" style="color:red"></div>
                                    <hr>            
                                   	<div class="table-responsive">
                                   		<table id="bandTable" class="table no-bordered empolyee-band-head-modal newTable" colpadding="5">
                                   			<thead>
                                   				<tr>
                                   				   <th>Employee Bands</th>
                                   				   <th>Additional Tiers</th>
                                   				</tr>
                                   			</thead>
	                                   			  <tbody>
	                                   			  </tbody>
                                   		</table>
                                   	</div>
                                       
                                    <ul class="custom-slid-bar">                                    
                                        <li class="highlight">1</li>
                                        <li class="highlight">2</li>
                                        <li>3</li>                                   
                                    </ul>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-border mx-2 w-49" data-target="#carouselExampleFade" data-slide="prev">Back</button>
                                        <button class="btn btn-primary mx-2 w-49" data-target="#carouselExampleFade" data-slide="next" id="continew2" onclick="saveEmployeeBandTab2()">Continue</button>
                                        <button class="btn btn-primary mx-2 w-49" data-target="#carouselExampleFade" data-slide="next" id="continewNext" style="display:none" onclick="saveEmployeeBandTab2()">Continue</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="carousel-item">
                            <form id="formTab3">
                                <div class="slide-wrap">
                                    <div class="d-block">
                                        <p class="mb-0">Please review and confirm the Employee Bands below</p>
                                    </div>
                                    <div class="d-flex align-items-center my-2" id="alphaSeniority">
                                        <p class="mb-0">Starting Employee Band that defines the order of seniority</p>
                                        <select class="did-floating-select mx-2 min-w170" id="reviewDropdown">
                                        </select>
                                    </div>
                                    
                                    <hr>
                                    
                                    <div class="table-responsive">
                                    	<table class="table empolyee-band-table" id="dynamicTable">
                                    		<thead>
                                    			<tr>
                                    				<th class="bandlabel">Employee Bands</th>
                                    				<th class="bandlabel01" >Additional Tiers</th>
                                    				<th class="bandlabel01" ></th>
                                    				<th class="bandlabel01"></th>
                                    				<th class="bandlabel01" ></th>
                                    				<th class="bandlabel01" ></th>
                                    				<th class="bandlabel01" ></th>
                                    			</tr>
                                    		</thead>
                                    		<tbody>
                                    			
                                    		</tbody>
                                    	</table>
                                    </div>
                                    
                                    <ul class="custom-slid-bar">
                                        <li class="highlight">1</li>
                                        <li class="highlight">2</li>
                                        <li class="highlight">3</li>
                                    </ul>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-border mx-2 w-49" data-target="#carouselExampleFade" data-slide="prev">Back</button>
                                        
					                    <button class="btn btn-primary mx-2 w-49" id="close" onclick="close()">
					                       <span aria-hidden="true">Confirm</span>
					                    </button>
					                    
                                    </div>
                                    <div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> 
                                </div>
                               </form>
                               <input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
     <!-- Modal Choose Type of Advance Request -->
   <div class="modal fade" id="ModalEmployeeBandActivation" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-approval-wrap" role="document">
       <div class="modal-content modal-bulk">
           <div class="modal-header pb-0">
               <h5 class="modal-title" id="exampleModalCenterTitle">Employee Band Activation</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
           </div>
           <div class="modal-body">
            <div class="d-flex">
                <div class="table-check mr-2">
                    <input type="checkbox" id="customCheck2">
                </div>
                <p class="mb-0">Employee Bands are activated. This helps introduce segmentation and set guidelines for the administration of employee benefits and expense allowances.</p>
            </div>
               <div class="d-flex justify-content-center mt-3">
                   <button class="btn btn-primary w-100">Confirm</button>
               </div>
           </div>
       </div>
   </div>
</div>
    
<div class="lds-spinner" id="signinLoader2" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</body>

</html>