<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       <div th:insert="fragments/sidenav.html :: sidevav"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               
               <div th:insert="fragments/header.html :: header"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1 text-center">Enter company details</h3>
                                        <div class="breadcrumb-wrap">
                                            <div class="breadcrumb-in active">
                                                <span>1</span>
                                                <label>Add one or multiple </label>
                                            </div>
                                            <div class="breadcrumb-in">
                                                <span>2</span>
                                                <label>Invite individual(s) to validate information</label>
                                            </div>
                                            <div class="breadcrumb-in">
                                                <span>3</span>
                                                <label>Manage Employees and Contractors</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-12 px-4">    

                            <div class="mt-4 bg-white p-3 br-10">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1 text-center">Manage Employees and Contractors</h3>
                                        <div class="managemp-btn-wrap">
                                            <button class="btn btn-green">Add One <img src="img/add.svg" alt="" th:href="@{/employeeOnBoarding}"></button>
                                            <button class="btn btn-white">Upload Multiple <img src="img/Upload.svg" alt=""></button>
                                            <button class="btn btn-white">Invite Many <img src="img/invite.svg" alt=""></button>
                                            <button class="btn btn-disabled">Deactivate <img src="img/Archive.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 independent-form br-10">
                                <input type="text" class="form-input" placeholder="Search by name, email, employee id, department or desgination">
                                <button class="btn btn-primary">Search</button>
                            </div>

                            <div class="mt-4">
                                <ul class="nav nav-pills mb-3 tabs-details" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="true">Active</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-employees-tab" data-toggle="pill" href="#pills-employees" role="tab" aria-controls="pills-employees" aria-selected="false">Employees (2)</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-contractors-tab" data-toggle="pill" href="#pills-contractors" role="tab" aria-controls="pills-contractors" aria-selected="false">Contractors (0)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-deactivated-tab" data-toggle="pill" href="#pills-deactivated" role="tab" aria-controls="pills-deactivated" aria-selected="false">Deactivated (0)</a>
                                    </li>
                                </ul>
                                <div class="tab-content tabs-details-tbl" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
                                        <div class="table-responsive">    
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name <img src="img/Sort.svg" alt=""></th>
                                                        <th>Department <img src="img/Sort.svg" alt=""></th>
                                                        <th>Designation <img src="img/Sort.svg" alt=""></th>
                                                        <th>Employment Type <img src="img/Sort.svg" alt=""></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background: #fff; height: 300px;">
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;" colspan="4">No employee and/or contractor added. Please begin by setting up <br>details of your employees and contractors.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-employees" role="tabpanel" aria-labelledby="pills-employees-tab">...</div>
                                    <div class="tab-pane fade" id="pills-contractors" role="tabpanel" aria-labelledby="pills-contractors-tab">...</div>
                                    <div class="tab-pane fade" id="pills-deactivated" role="tabpanel" aria-labelledby="pills-deactivated-tab">...</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>