<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cotodel - UPI Vouchers for Expense Management</title>
  <meta name="author" content="cotodel.com">
  <meta name="description" content="Business Payments on UPI">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/tiny-slider.css">
  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  
  <meta name="keyword" content="  Business Spends, Business Payments, Business Expense Management, Expense Management Solution, Expense Management, UPI for Business, UPI Business, Expense Business Solution, Spend Management Solution, Employee Benefits, Flexi Tax Benefits, Business Expense, Rewards & Recognition, Corporate Reimbursement, Branded Coupons, Gift Cards">
  		
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>
  
  <script>
	 	  window.dataLayer = window.dataLayer || [];
	 	  function gtag(){dataLayer.push(arguments);}
	 	  gtag('js', new Date());

	 	  gtag('config', 'G-4RE141954R');
	 	</script>
	 	
	 	<!-- Google Tag Manager -->
	 	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	 	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	 	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	 	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	 	})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
	 	<!-- End Google Tag Manager -->
	 	<!-- Google Tag Manager (noscript) -->
	 	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
	 	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	 	<!-- End Google Tag Manager (noscript) -->

  <style>

	p {
		  color: #4A4E69;
		  font-family: 'Open Sans', sans-serif;
		  font-weight: 400;
		  font-size: 16px;
		  line-height: 140%;
		  letter-spacing: 0%;
		}
	body {
	  font-family: 'Open Sans', sans-serif;
	}
	.hero {
	  padding: 3rem 1rem;
	  background: #EAF4EF;
	
 
		}
 
	.hero h1 {
	  text-align: left;
	}
 
	.hero p {
	  text-align: left;
	}
 
	.hero .highlight {
	  color: Primary/primary-500;
	  font-weight: bold;
	}
 
    .highlight {
      color: #2F945A;
    }
    .section {
      padding: 2rem 1rem;
    }
    .dark-section {
      background-color: #0f121f;
      color: white;
    }
    .step {
      margin-bottom: 1rem;
    }
    .footer {
      background-color: #f8f9fa;
      padding: 2rem 1rem;
      font-size: 0.9rem;
    }
    .phone-img {
      max-width: 100%;
      height: auto;
    }
	.footer-nav {
		    display: flex;
		    gap: 25px; /* Adjust spacing here */
		  }
		  .footer-nav a {
		     color: white;
		     text-decoration: none; /* optional: removes underline */
		   }
		   .footer-contact p {
		     color: white;
		     margin: 0; /* Optional: remove default spacing */
		   }
		   .custom-input-wrapper {
		       max-width: 360px;
		     }
 
		     .custom-dark-input {
		       background-color: #1F212C;
		       color: #FFFFFF;
		       border: 1px solid #2E3144;
		       border-radius: 0.75rem;
		       font-size: 0.85rem;
		       padding: 0.5rem 0.75rem;
		     }
 
		     .custom-dark-input::placeholder {
		       color: #86889B;
		       opacity: 1;
		     }
 
		     .custom-dark-input:focus {
		       border-color: #3C3F50;
		       box-shadow: none;
		     }
		   .txtcolor{
		   	color:#86889B;
		   }
		   .circle {
		     min-width: 40px;
		     min-height: 40px;
		     border-radius: 50%;
		     display: flex;
		     justify-content: center;
		     align-items: center;
		     font-weight: bold;
		     z-index: 1;
		     color: #292B3A
		   }
		   .feature-card {
		         background-color: #edf6f2;
		         border-radius: 15px;
		         padding: 30px 20px;
		         text-align: center;
		         min-height: 150px;
		   	  
		       }
		       .feature-card i {
		         font-size: 28px;
		         color: #0c3d2c;
		         margin-bottom: 10px;
		       }
		       .feature-card p {
		         color: #2c3e50;
		         font-weight: 600;
		         margin: 0;
		   	  margin-top: 12px;
		       }		  
			   .btn {
		    border-radius: 8px; /* You can increase to 16px or 20px for even more rounded corners */
		  } /* modal css*/
		  custom-modal .modal-dialog {
		  				      position: absolute;
		  				      top: 80px;
		  				      left: 50%; transform: translateX(-50%);
		  				      max-width: unset;
		  				      margin: 0;
		  				    }

		  				    .custom-modal .modal-content {
		  				      width: 514px;
		  				      height: 292px;
		  				      border-radius: 20px;
		  				      padding: 50px;
		  				      border: 1px solid #ccc;
		  				      background-color: #fff;
		  				      display: flex;
		  				      flex-direction: column;
		  				      align-items: center;
		  				      justify-content: space-between;
		  				      box-shadow: none;
		  				    }

		  					.btn-group-custom {
		  					      display: flex;
		  					      align-items: center;
		  					      justify-content: center;
		  					      gap: 30px;
		  					      width: 169px;
		  					      margin-top: 10px;
		  						  color:#2F945A;
		  						  height: 56px;
		  					    }

		  					    .btn-success {
		  					      min-width: 170px;
		  					      border-radius: 10px;
		  					    }

		  					    .modal-header-custom {
		  					      width: 100%;
		  					      text-align: center;
		  					    }

		  					    .modal-header-custom h5 {
		  					      font-weight: bold;
		  					      color: #2F945A;
		  					    }

		  					    .modal-close {
		  					      position: absolute;
		  					      top: 15px;
		  					      right: 20px;
		  					      border: none;
		  					      background: transparent;
		  					      font-size: 1.25rem;
		  					    }
 
</style>
</head>
 
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
		<a  href="/">
			 <img src="img/Cotodel Logo.svg" class="navbar-brand-item" alt="cotodel logo" fetchpriority="high">
		</a>
     
      <ul class="navbar-nav ms-auto ">
        <li class="nav-link "><a class="nav-link" href="/">Home</a></li>
        <!--<li class="nav-link active border-bottom border-success "><a class="nav-link" href="#">Solutions</a></li>-->
      </ul>
    </div>	
  </nav><br>
 
  <header class="hero d-flex align-items-center container border rounded-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>
           Want to optimize how you manage <span class="highlight">Corporate expenses</span> with your <span class="highlight">Employees</span>?
          </h1>
          <p>With Cotodel, we want to change how Corporate Spends are done and help bring savings to your business!</p>
          <div class="mt-3">
			<a href="/solutions/corporateexpensemanagement/upivoucher" class="btn btn-primary me-2" target="_blank">
						  Experience UPI Vouchers
						</a>
						<!--<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#demoModal">
									     Book a Demo
									   </button>-->
          </div>
        </div>
        <div class="col-md-6 d-none d-md-flex flex-column justify-content-end">
          <img src="img/Group 1707478019.webp" alt="Hero Image" class="img-fluid float-end">
        </div>
      </div>
    </div>
  </header>
 
  <section class="section container">
	<p>	Give your employees UPI-enabled digital vouchers which can be either locked at a Category level or even at a specific merchant of your choice, be it for Food, Fuel, Travel, Accommodation, Telecom or Health & Wellness. Another added advantage is that these vouchers can be issued instantly to each employee’s mobile number without any onboarding documents or KYC needed from them! </p>
	 	 
	<p>There is no change in both Consumer as well as Merchant behaviour from their regular UPI transaction which they are anyway doing currently for their personal spends. The issued voucher automatically pops up on the consumer’s existing UPI apps once a relevant merchant QR code is scanned. All you have to do is select the payment instrument as the voucher instead of your Bank Account or Card and make the payment from the issued voucher. The merchant also accepts direct debit transactions on the same QR codes which are already installed at their outlets and do not need to add a new QR code or download any new app for this! </p>
    <h5 class="highlight"><strong>What makes it different from a regular UPI transaction?</strong></h5>
    <p>Money never leaves your Bank Account till the time the transaction is done by the driver at the Petrol pump! The voucher amount gets blocked in your account and gets deducted once the actual transaction is done.</p>
 
    <h5 class="mt-4 highlight"><strong>Corporate Expenses Simplified!</strong></h5>
    <p class="highlight rounded-3" style="background-color:#EAF4EF; padding: 20px 20px; ">Join Bharat's smartest payments platform to manage & save on your Employee’s Corporate Spends!</p>
  </section>
  
  <section class="container my-5" >
    <div class="d-flex justify-content-center">
      <img src="img/mock-full.webp" alt="Centered Hero Image" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
  </section>
  
  <section class="section container">
    <h5 class="highlight"><strong>Let us understand this with an example!</strong></h5>
    <p>	For example, if you want to issue a generic Meal voucher to your employee Ankita, then you will have the option to either restrict the redemption across all merchants selling Food items or across all outlets of Chaayos in India or even at Chaayos, Cybercity.</p>
		
 
	<p>The vouchers can be multi-redeemable and come with a time validity of up to 1 year. As soon as the employee scans a QR code of a Food outlet and makes the transaction from their UPI app, the business admin receives all the information digitally, be it merchant details, time of transaction, transaction amount! </p>
  </section>
 
  <section class="section py-5" style="background-color: #1F212C; color: white;">
    <div class="container">
      <h2 class="highlight mb-5"><strong>How can you issue & redeem this UPI voucher?</strong></h2>
      <div class="row">
        <div class="col-md-6">
          <div class="timeline d-flex flex-column position-relative">
            <div class="position-absolute top-0" style="left: 19px; width: 2px; background-color: #292B3A; height: calc(100% - 20px);"></div>
 
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">1</div>
              <div class="txtcolor">Onboard your business with Cotodel</div>
            </div>
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">2</div>
			    <div class="txtcolor">Add Employee’s mobile number</div>
			  </div>
			  <div class="custom-input-wrapper mt-2" style="margin-left: 4.5rem;">
			    <input type="text" class="form-control custom-dark-input" placeholder="voucher amount, validity, purpose of spend" />
			  </div>
			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">3</div>
              <div class="txtcolor"> Amount gets blocked in Company Account</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">4</div>
              <div class="txtcolor">Employee receives the voucher on their existing UPI App which is linked to their mobile number</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">5</div>
              <div class="txtcolor">Employee activates the voucher</div>
            </div>
            
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">6</div>
			    <div class="txtcolor">Employee goes to a Food outlet and scans the existing QR code there</div>
			  </div>
			  <div class="custom-input-wrapper mt-2" style="margin-left: 4.5rem;">
			    <input type="text" class="form-control custom-dark-input" placeholder="Scans the existing QR code at the station" />
			  </div>
			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">7</div>
              <div class="txtcolor">Meal voucher automatically pops up right below their Bank Account</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">8</div>
              <div class="txtcolor">Select Payment method as Voucher instead of your Bank A/C</div>
            </div>
            
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">9</div>
			    <div class="txtcolor">Once Pin is entered and transaction is done successfully</div>
			  </div>
			  <div class="row mt-2">
			    <div class="col-md-10 offset-md-1">
			      <input type="text" class="form-control custom-dark-input" placeholder="Transaction amount gets deducted from the Company A/C post this only" />
			    </div>
			  </div>

			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">10</div>
              <div class="txtcolor">Complete Digital trail of the transaction is received on Cotodel’s dashboard which simplifies reconciliation for the business</div>
            </div>
          </div>
        </div>
		<div class="col-md-6 d-flex align-items-center justify-content-end px-0">
		      <img src="img/women-centre.webp"
		           class="img-fluid mt-md-n5 rounded-4 w-100"
		           style="max-height: 820px; object-fit: cover; border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;"
		           alt="Hero Image">
		    </div>
      </div>
    </div>
  </section>
 
 
 
  <!-- benefits of upi section-->
  <div class="container my-5">
  	<h4 class="highlight"><strong>Benefits of UPI Voucher</strong></h4>
  	    <p>All your spends in 1 platform</p>
   
  	   </section>
      <div class="row g-4 justify-content-center align-items-stretch">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="feature-card">
  		 <img src="img/service-page-img1.svg" alt="service-page-img1" class="img-fluid" style="max-width: 100%;">
            <p>Nationwide Discounts</p>
  		
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="feature-card">
            <img src="img/service-page-img2.svg" alt="Centered Hero Image" class="img-fluid" style="max-width: 100%;">
            <p>Prevents Expense Theft & Fraud</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="feature-card">
            <img src="img/service-page-img3.svg" alt="service-page-img3" class="img-fluid" style="max-width: 100%;">
            <p>Custom control</p>
          </div>
        </div>
       <div class="col-12 col-sm-6 col-md-3">
          <div class="feature-card">
           <img src="img/service-page-img4.svg" alt="service-page-img4" class="img-fluid" style="max-width: 100%;">
            <p>Maximum visibility</p>
          </div>
        </div>
      </div>
    </div>
<!-- footer-->
				   
	   <section class="section container">
	     <h5 class="highlight">What makes Cotodel better than Expense Management Cards?</h5>
	     <p>Yes, expense cards do exist through which the purpose of the spend done can be locked but the entire shift is of the Form Factor of payment! All of us have become so used to making transactions from our UPI apps on our mobile phones directly which eliminates the need to carry physical cards or download a new app to do spends via a digital card.</p>
 
		<p>The redemption network of QR codes vs POS machines accepting card payments is heavily in favour of QR codes which are omni-present even at the smallest of merchant outlets these days. It is a direct debit payment acceptance for the shop owner and the employee need not do the expense out of their pockets or worry about filing for reimbursements and storing bills to show as proof to the company! </p>
 
		 <p>With Cotodel, a beneficiaries KYC is not needed as all vouchers get issued to their mobile number which is already linked to the existing UPI apps installed on the employee’s phone. Any employee, who may be even part-time or contractual can also get onboarded seamlessly without any processes or joining fees.</p>
		    
	 </section>
	 <section class="section container">
	  <h5 class="highlight"><strong>So, let us make your Business spends as seamless as your personal UPI spends!</strong></h5>
	
 
	   </section>
	   <section class="faq-wrap" id="FAQs">
	   	   												<div class="container">
	   	   													<div class="row">
	   	   														<h2 class="h2-bold color-prime-500">FAQs</h2>
	   	   														
	   	   														
	   	   														<div class="col-12 px-3">
	   	   															<!--<p class="text-secnd-900 color-secnd-900 mt-3 mb-2 mb-lg-5">A seamless expense management solution for your business to shift from existing Prepaid cards & Digital wallets</p>
	   	   															-->
	   																	<!-- Accordion START -->
	   	   															<div class="accordion custom-accordian" id="accordionExample">
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingOne">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	   	   																			How does Cotodel’s pricing transparency compare to traditional prepaid card solutions or other expense management systems?  

	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Cotodel offers complete pricing transparency with no hidden fees, unlike many traditional prepaid card solutions that often charge setup, maintenance, or transaction fees. 
																					Our simple model ensures companies only pay for actual usage, making Cotodel a cost-effective, predictable and transparent expense management platform.
	   	   																		</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingTwo">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	   	   																			How many transactions can employees perform per month through Cotodel?  
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			At Cotodel, we believe in enabling flexible, seamless spending for business purposes without transaction caps, ensuring that project execution is never hindered. 
																					We will not impose any hard limit on the number of transactions employees can perform but there is a voucher cap of ₹50,000 per voucher by NPCI as of now.  </div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingThree">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseThree" aria-expanded="false"
	   	   																			aria-controls="collapseThree">
	   	   																				In case a planned business trip gets cancelled, what happens to the allocated funds on Cotodel?   
	   	   																			</button>
	   	   																	</h2>
	   	   																	<div id="collapseThree" class="accordion-collapse collapse"
	   	   																		aria-labelledby="headingThree" data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Firstly, a company’s amount is only blocked in their own Bank Account and not transferred to the beneficiary’s account when the voucher is issued. 
																					This gives the company complete control to revoke or cancel a voucher whenever they want to. Secondly, unspent balances on the voucher do not expire like normal vouchers or gift cards. 
																					The money gets unblocked and automatically reflects back in the company account upon expiry or if full/partial amount is unused.</div>
	   	   																	</div>
	   	   																</div>
	   																	<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingThree31">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
	   	   																			Can I manage project level epxenses on Cotodel?   
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseThree31" class="accordion-collapse collapse"
	   	   																		aria-labelledby="headingThree31" data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Yes, Cotodel enables granular expense management at the project level through an analytics dashboard.  
																					This makes it possible to manage and control business expenses incurred either on a project or in a particular expense sheet.</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingFour">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseFour" aria-expanded="false"
	   	   																			aria-controls="collapseFour">
	   	   																			How does Cotodel scale if our organization’s team size increases significantly?  
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Cotodel is built to seamlessly scale with your organization’s growth. Whether you onboard 50 or 5,000 employees, our platform supports automated onboarding, bulk voucher issuance, and centralized control, ensuring friction-less expansion. 
																					Further, the pricing charged at an employee level also reduces as you onboard more employees with us.</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingFive">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseFive" aria-expanded="false"
	   	   																			aria-controls="collapseFive">
	   	   																			Can we configure approval workflows within Cotodel before vouchers are issued?  
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Absolutely! Cotodel offers customizable approval workflows to match your company’s internal policies. 
																					Managers can review, approve, or modify voucher requests before disbursement, ensuring tight control and compliance across expense flows. 
																					We can modify our systems to suit each company’s guidelines and regulations.
	   	   																		</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingSix">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseSix" aria-expanded="false"
	   	   																			aria-controls="collapseSix">
	   	   																			Is there a dedicated account manager or escalation support provided by Cotodel?  
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Yes, every client gets a dedicated account manager from Cotodel who will assist you with any challenges you face in your expense management journey. 
																					We can also cater to any specific need or requirement of our business partner if needed.</div>
	   	   																	</div>
	   	   																</div>
	   	   																
	   	   																<!--<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingOne1">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
	   	   																			Your solution is for which industry and company?
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Cotodel’s solution can be implemented across all types of industries and we have
	   	   																			different solutions for each company, no matter how small or big your business
	   	   																			is.
	   	   																		</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingTwo2">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
	   	   																			Can a company implement Flexi-benefit and Reward & Recognition solutions as well through this?
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Yes, we can provide our UPI-enabled vouchers to any company, irrespective of their size or industry, to implement Flexi-benefit and Reward & Recognition solutions. 
	   	   																			Be it for Food Allowances, Fuel, LTA, Telecom or Health & Wellness spends, we have got you covered. Be it 5 employees or 5000, we will provide you with the best benefits your employees truly deserve!
	   	   																		</div>
	   	   																	</div>
	   	   																</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingThree3">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
	   	   																			What are the guidelines and regulations around these UPI Digital vouchers?
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseThree3" class="accordion-collapse collapse"
	   	   																		aria-labelledby="headingThree3" data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Cotodel is working along with National Payments Corporation of India (NPCI) and multiple Indian Banks to provide these solutions to companies and their employees. 
	   	   																			NPCI and RBI have opened mandate for these vouchers to be issued by the private sector and we are complying with all the necessary guidelines and regulations for the same!
	   	   																		</div>
	   	   																	</div>
	   	   																</div>-->
	   	   																<!--<div class="accordion-item">
	   	   																<h2 class="accordion-header" id="headingThree31">
	   	   																	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																		data-bs-target="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
	   	   																		What are the guidelines and regulations around these UPI-enabled vouchers?
	   	   																	</button>
	   	   																</h2>
	   	   																<div id="collapseThree31" class="accordion-collapse collapse"
	   	   																	aria-labelledby="headingThree31" data-bs-parent="#accordionExample">
	   	   																	<div class="accordion-body">
	   	   																		Cotodel is working along with National Payments Corporation of India (NPCI) and 
	   	   																		multiple Indian Banks to provide these solutions to companies and their employees.
	   	   																		 NPCI and RBI have opened mandate for these vouchers to be issued by the private sector and 
	   	   																		 we are complying with all the necessary guidelines and regulations for the same!</div>
	   	   																</div>
	   	   															</div>
	   	   																<div class="accordion-item">
	   	   																	<h2 class="accordion-header" id="headingFour44">
	   	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   	   																			data-bs-target="#collapseFour4" aria-expanded="false"
	   	   																			aria-controls="collapseFour4">
	   	   																			What is your pricing to implement an expense management solution for my business?
	   	   																		</button>
	   	   																	</h2>
	   	   																	<div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour44"
	   	   																		data-bs-parent="#accordionExample">
	   	   																		<div class="accordion-body">
	   	   																			Pricing details can be discussed once we have given a demo and explained the benefits and use cases to your concerned company stakeholders. 
	   	   																			Please get in touch with our business team at business@cotodel.com or reach out to us via WhatsApp below and we would want to solve your problem at a cost convenient for you. 
	   	   																			Since you are our early supporter, Cotodel would like to support you as well!
	   	   																		</div>
	   	   																	</div>
	   	   																</div>-->
	   	   															</div>
	   	   														</div>
	   	   													</div>
	   	   											</section>
	   <footer class="custom-footer">
	   																	  <div class="container">
	   																	    <!-- Top navigation -->
	   																	    <div class="d-flex flex-wrap justify-content-start align-items-center footer-top">
																			<a  href="/">
																			 <img src="img/Cotodel Logo_Footer.svg" alt="Cotodel" class="footer-logo me-4">
																			 </a>
	   																	    </div>
	   																	    <br>

	   																	    <nav class="footer-nav text-white">
	   																	      <a href="/">Home</a>
	   																	      <a href="/solutions/fleetexpensemanagement" target="_blank">Solutions</a>
																			  <a href="https://cotodel.com/#Blogs">Blogs</a>
																		      <a href="https://cotodel.com/#About">About Us</a>
	   																	      <a href="/contact" target="_blank">Contact Us</a>
	   																	    </nav>

	   																	    <!-- Contact info -->
	   																	    <div class="footer-contact mt-4 mb-2 d-flex justify-content-start gap-5 flex-wrap">
	   																	      <div>
	   																	        <span class="footer-heading">ADDRESS</span>
	   																	        <p>WeWork, Eldeco Centre, Malviya Nagar<br>New Delhi - 110017</p>
	   																	      </div>
	   																	      <div>
	   																	        <span class="footer-heading">EMAIL</span>
	   																	        <p>business@cotodel.com</p>
	   																	      </div>
	   																	    </div>

	   																	    <hr class="bg-secondary m-0">
	   																	    <br>

	   																	    <div class="row footer-bottom align-items-center text-white gy-2">
	   																	      <div class="col-12 col-md-6 text-center text-md-start">
	   																	     	
	   																			<nav class="footer-nav">
	   																		    <span class="footer-heading"> © 2025 Cotodel - All rights reserved </span>
	   																			 <a href="/termsconditions" class="footer-heading" target="_blank">Terms & Conditions</a>
	   																			<a href="/refundpolicy" class="footer-heading" target="_blank">Refund Policy</a>
	   																	
	   																		    </nav>														      
	   																		 </div>

	   																	      <div class="col-12 col-md-2 text-center">
	   																	      </div>

	   																	      <div class="col-12 col-md-4 text-center text-md-end d-flex flex-column flex-md-row justify-content-center justify-content-md-end align-items-center">
	   																	          <div class="social-icons d-flex gap-1">
	   																	          <a href="https://www.linkedin.com/company/cotodel/" target="_blank"><i class="fab fa-linkedin"></i></a>
	   																	          <a href="https://www.instagram.com/cotodelsolutions/" target="_blank"><i class="fab fa-instagram"></i></a>
	   																	          <a href="https://www.youtube.com/@Cotodel" target="_blank"><i class="fab fa-youtube"></i></a>
	   																	          <a href="https://twitter.com/CotodelSolution" target="_blank"><i class="fab fa-x-twitter"></i></a>
	   																	          <a href="https://www.facebook.com/profile.php?id=61555427067314" target="_blank"><i class="fab fa-facebook-f"></i></a>
	   																	        </div>
	   																	      </div>
	   																	    </div>
	   																	  </div>
	   																	</footer>
									<!-- Modal -->
								 <div class="modal fade custom-modal" id="demoModal" tabindex="-1" aria-hidden="true">
								   <div class="modal-dialog">
								     <div class="modal-content">
								       <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
								       <div class="modal-header-custom">
								         <h5>Book a Demo</h5>
								       </div>
								       <p class="text-center">
								         18 billion UPI transactions are happening every month!<br>
								         Time to get your Business payments on UPI as well?
								       </p>
								       <div class="btn-group-custom">
										<a href="https://calendly.com/business-cotodel/30min" target="_blank" class="btn btn-success">
										  Schedule Call <i class="bi bi-calendar ms-1"></i>
										</a>
								         <span>OR</span>
								         <button class="btn btn-success">
								           Chat with Us <i class="bi bi-whatsapp ms-1"></i>
								         </button>
								       </div>
								     </div>
								   </div>
								 </div>
								 <!-- Modal1 -->
								 <div class="modal fade custom-modal" id="demoModal1" tabindex="-1" aria-hidden="true">
								 		   		   <div class="modal-dialog">
								 		   		     <div class="modal-content">
								 		   		       <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
								 		   		       <div class="modal-header-custom">
								 		   		         <h5>Join the Waitlist</h5>
								 		   		       </div>
								 		   		       <p class="text-center">
								 		   		         18 billion UPI transactions are happening every month!<br>
								 		   		         Time to get your Business payments on UPI as well?
								 		   		       </p>
								 		   		       <div class="btn-group-custom">
								 		   		         <a class="btn btn-success" href="/waitlist">
								 		   		           Submit Details 
														   <i class="bi bi-arrow-right"></i>
								 		   		         </a>
								 		   		         <span>OR</span>
								 		   		         <button class="btn btn-success" id="whatsappButton">
								 		   		           Chat with Us <i class="bi bi-whatsapp ms-1"></i>
								 		   		         </button>
								 		   		       </div>
								 		   		     </div>
								 		   		   </div>
								 		   		 </div>
	 <script>
	   let modalShown = false;

	   window.addEventListener("scroll", function () {
	     const scrollPosition = window.scrollY + window.innerHeight;
	     const pageHeight = document.documentElement.scrollHeight;

	     if (!modalShown && scrollPosition >= pageHeight / 2) {
	       const demoModal = new bootstrap.Modal(document.getElementById('demoModal1'));
	       demoModal.show();
	       modalShown = true;
	     }
	   });
	 </script>
	 <script>	document.getElementById('whatsappButton').addEventListener('click', function () {
	   				window.open('https://wa.me/919910558848', '_blank'); // Open the URL in a new tab
	   			});</script>
</body>
 
</html>