<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top" onload="getSupportTicketActionList()">
	
<div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:insert="fragments/sidenav.html :: sidevav"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
        <!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

           <!-- Topbar Navbar -->
           <ul class="navbar-nav top-nav">

               <!-- Nav Item - User Information -->
           
           </ul>

		   <!-- Right Icons + Profile -->
		    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
		      <!-- Wallet Icon -->
		     <!-- <li class="nav-item mr-3">
		        <a href="/settings/wallet" role="button">
		          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
		        </a>
		      </li>-->
			  <li class="nav-item mr-3">
 			        <a href="/cotowallet" role="button">
 			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
 			        </a>
 			      </li>
		      <!-- Notification Icon -->
		      <li class="nav-item mr-3">
		        <a href="#" role="button">
		          <img src="img/Notification-icon.png" alt="Notification" class="nav-icon-img">
		        </a>
		      </li>

		      <!-- Profile Dropdown -->
		      <li class="nav-item dropdown no-arrow">
		        <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <img class="img-profile rounded-circle" src="img/undraw_profile.svg" alt="User" style="width: 32px; height: 32px;">
		        </a>
		        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
		          <a class="dropdown-item" href="/ProfileInfo">
		            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
		          </a>
		       <!--   <a class="dropdown-item" href="#">
		            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
		          </a>-->
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/logout">
		            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
		          </a>
		        </div>
		      </li>
		    </ul>	
       </nav>
     <!-- End of Topbar -->
         <!-- Begin Page Content -->
		 <div class="container-fluid p-0 p-md-1 mt-4">
		    <div class="row">
		      <div class="col-12 col-md-12 px-4">

		        <div class="d-flex justify-content-between align-items-center mb-3">
		          <h4 class="fw-bold">Tickets Management</h4>
		  
		        </div>				       
		          <div class="table-responsive">
		            <table class="table table-reimbursements mb-0" id="TicketSupportActionTable">
		              <thead>
		                <tr>
					
						  <th>Name</th>	
		                  <th>Organization Name</th>
		                  
						  <th>Mobile No.</th>			 
		                  <th>Ticket No.</th>
						  <th>Issue Type</th>			  
						  <th>Subject</th>
						<th>Status</th> 
						 <th>Ticket Date</th>
						 <th>Action</th>
		                </tr>
		              </thead>
		              <tbody class="table-bordered">
		              
		              </tbody>
		            </table>
		          </div>
		        </div>

		      </div>
		    </div>
			
			   </div>
		
		<!-- Vehicle Details Modal -->
	</div>
												  								
		<div class="lds-spinner" id="signinLoader" style="display: none">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

        </div>
        <!-- /.container-fluid -->
		<input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}"> 	
		<input type="hidden" class="form-input" id="employerName" name="employerName" th:value="${session.username}"> 
		<input type="hidden" class="form-input" id="employerMobile" name="employerMobile" th:value="${session.mobile}">	
		
		<input type="hidden" class="form-input" id="requestType" name="requestType" value="manual"><!-- manual or apiresponse-->
		
    </div>
    <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <div id="bs-canvas-right" class="bs-canvas bs-canvas-right position-fixed bg-white h-100">
        <button type="button" class="bs-canvas-close float-right test" aria-label="Close" aria-expanded="false"><span aria-hidden="true">&times;</span></button>
       
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
     <script type="text/javascript" src="cotodel-js/helpdesk-action-support.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


	<script>	

	
</script>

    <script>
        jQuery(document).ready(function($){
            var bsOverlay = $('.bs-canvas-overlay');
            $('[data-toggle="canvas"]').on('click', function(){
                var ctrl = $(this), 
                    elm = ctrl.is('button') ? ctrl.data('target') : ctrl.attr('href');
                $(elm).addClass('mr-0');
                $(elm + ' .bs-canvas-close').attr('aria-expanded', "true");
                $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "true");
                if(bsOverlay.length)
                    bsOverlay.addClass('show');
                return false;
            });
            
            $('.bs-canvas-close, .bs-canvas-overlay').on('click', function(){
                var elm;
                if($(this).hasClass('bs-canvas-close')) {
                    elm = $(this).closest('.bs-canvas');
                    $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "false");
                } else {
                    elm = $('.bs-canvas')
                    $('[data-toggle="canvas"]').attr('aria-expanded', "false");	
                }
                elm.removeClass('mr-0');
                $('.bs-canvas-close', elm).attr('aria-expanded', "false");
                if(bsOverlay.length)
                    bsOverlay.removeClass('show');
                return false;
            });
        });
    </script>
        
	<script>
    $(document).ready(function(){
    	
    	 $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
        $(".innernav").click(function(){
            $(".dropdownNav").addClass("active");
        });
    });
		    
</script>
	<style>					
		.modal-bulk1 {
	      width: 600px;
	      height: 480px;
	      margin: auto;
	      border-radius: 12px;
	      padding: 0 20px 20px;
	    }
	    .modal-header {
	      border-bottom: 1px solid #dee2e6;
	      justify-content: center;
	    }
	    .modal-title {
	      font-weight: 600;
		 
	    }
	    .form-control {
	      border-radius: 8px;
	      height: 48px;
	    }
	   
	</style>
	
</body>

</html>