<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>

<body id="page-top" onload="getVoucherListWithIcon()">

    <div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

		<!-- Sidebar -->
				      
		 <div th:insert="fragments/sidenav.html :: sidevav"></div>
		<!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav top-nav">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span class="mr-2 small">Dashboard</span>
                                <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="mr-2 small">UPI Voucher Issuance</span>
                                <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                            </a>
                        </li>

                    </ul>
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="mr-2 d-none d-lg-inline text-gray-600 small" > <p th:text="${session.username}"></p> </span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/ProfileInfo}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                              
                               <!--  <div class="dropdown-item dropdown-footer form-group mb-0" >
					            <a class="float-right btn text-white custom-btn-dark btn-sm mb-0"  th:href="@{/logout}">
							          <i class="fas fa-user-circle"></i> Logout         
							        </a>
					          </div> -->  
                              <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" > </i>
                                    Logout
                                </a>
                            </div>
                        </li>

                   </ul>	

                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content">
                                <div class="upi-voucher-wrap">
                                    <div>
                                        <h3>Select Voucher Category for Bulk Issuance </h3>
                                        <p>Select vouchers from the options provided below, and continue to enter the details for issuance. </p>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="leftselctVoucehrs">
                                                <h4>Vouchers Categories</h4>
                                                <ul id="voucherList">
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 pl-sm-0">
                                            <div class="rightselctVoucehrs" id="mccDiv" style="display: none;">
                                                <div class="row">
                                                    <div class="col-12 col-md-3">
                                                        <div class="select-upivouchers">
                                                            <img id="voucherImageId" src="img/fuelVouchers.svg" class="img-fluid" alt="" height="150px" width="200px" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="cards-upivouchers-desc" id="selectedVoucherDiv">
                                                            <h4><span id="VoucherText"></span> Vouchers</h4>
                                                            <p>To issue an e-RUPI voucher, please select a category, a sub-category, or an associated brand: </p>
                                                     -  </div>
                                                    </div>
                                                </div>

                                              
                                                <hr>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="selctedVoucehr">
                                                            <ul id="purposeList">
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 text-right my-3">
                                            <button class="btn btn-border-primary mb-1" onclick="window.location.href='/upiVoucherIssuanceNew';">Back</button>
                                            <button class="btn btn-primary mb-1" onclick="getVoucherDetail()">Continue</button>
											<!--<a class="btn btn-primary mb-1" th:href="@{/bulkVoucherIssuance}">Continue</a>-->
											</div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	

	<script type="text/javascript">

	$(document).ready(function(){
		
		  $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' +'/upiVoucherIssuanceNew"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});

	</script>
	<script>
		
		function getVoucherDetail(){
			        // Get the selected voucher data (image and name)
			        const selectedVoucherItem = document.querySelector('.voucher-item.selected');
					var selectedVoucherName=null;
					var selectedPurposeCode =null;
					var selectedVoucherCode=null;
					var selectedPurposeName =null;
			        if (selectedVoucherItem) {
			            // const selectedVoucherIcon = selectedVoucherItem.querySelector('img').src;
					    selectedVoucherCode = selectedVoucherItem.getAttribute('data-value');
					    selectedVoucherName = selectedVoucherItem.querySelector('span').textContent;
			            console.log("Selected Voucher Code:", selectedVoucherName);
					
			        } else {
			            alert('No voucher selected!');
						return false;
			        }

			        // Get the selected radio button data (Purpose List)
			        const selectedRadioButton = document.querySelector('input[name="selectvouchers"]:checked');
			        if (selectedRadioButton) {
						 selectedPurposeCode = selectedRadioButton.closest('li').getAttribute('data-value');
						 selectedPurposeName = selectedRadioButton.closest('li').querySelector('span').textContent;
			             console.log("Selected Purpose Code:", selectedPurposeCode);
			        } else {
			            alert('No purpose selected!');
						return false;
			        }
					localStorage.setItem("voucherCode",selectedVoucherCode);
					localStorage.setItem("voucherName",selectedVoucherName);
					localStorage.setItem("purposeCode",selectedPurposeCode);
					localStorage.setItem("purposeName",selectedPurposeName);
					
					window.location.href = "/bulkVoucherIssuance";
						   
				}
		
	    function getVoucherListWithIcon() {
	        const voucherList = document.getElementById('voucherList');
	        const purposeList = document.getElementById('purposeList');

	        $.ajax({
	            type: "GET",
	            url: "/getVoucherListWithIcon",
	            success: function(data) {
	                const parsedData = jQuery.parseJSON(data);

	                // Populate Voucher List
	                parsedData.data.forEach(item => {
	                    const li = document.createElement('li');
	                    li.classList.add('voucher-item');
	                    li.setAttribute('data-value', item.purposeCode);

	                    const a = document.createElement('a');
	                    a.href = "javascript:void(0);";

	                    const img = document.createElement('img');
	                    img.src = item.voucherIcon
	                        ? `data:image/PNG;base64,${item.voucherIcon}`
	                        : '';
	                    img.classList.add('img-fluid');
						img.style.height = '20px';
						img.style.width = '20px';
	                    const span = document.createElement('span');
	                    span.textContent = item.voucherName;

	                    a.appendChild(img);
	                    a.appendChild(span);
	                    li.appendChild(a);
	                    voucherList.appendChild(li);
	                });

	                // Add click event listener to Voucher List
	                voucherList.addEventListener('click', event => {
						
	                    const clickedItem = event.target.closest('li'); // Get the clicked LI element
	                    if (clickedItem) {
	                        const purposeCode = clickedItem.getAttribute('data-value');
							

	                        // Clear previous selections
	                        [...voucherList.children].forEach(item => item.classList.remove('selected'));
	                        [...purposeList.children].forEach(item => item.remove()); // Clear Purpose List

	                        // Highlight the selected item
	                        clickedItem.classList.add('selected');
							
							// Get selected voucher name and image
							const voucherIcon = clickedItem.querySelector('img').src;
	                        const voucherName = clickedItem.querySelector('span').textContent;

	                        // Bind the selected image and voucher name to specific elements
	                        //const imageElement = document.getElementById('voucherImageId');
	                        //const textElement = document.getElementById('VoucherText');

	                        //if (imageElement && textElement) {
	                          //  imageElement.src = voucherIcon;  // Set image
	                         //   textElement.textContent = voucherName;  // Set voucher name text
	                        //}

	                        // Fetch Purpose List using the selected purposeCode
	                        fetchPurposeListByVoucherCode(purposeCode);
	                    }
						document.getElementById("mccDiv").style.display="block";
	                });
	            },
	            error: function(e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }

	    function fetchPurposeListByVoucherCode(purposeCode) {
	        const purposeList = document.getElementById('purposeList');

	        $.ajax({
	            type: "GET",
	            url: "/getPurposeListByVoucherCode",
	            data: { purposeCode },
	            success: function(data) {
	                const parsedData = jQuery.parseJSON(data);

	                //Populate Purpose List with radio buttons
					const imageElement = document.getElementById('voucherImageId');
				    const textElement = document.getElementById('VoucherText');

					imageElement.src = parsedData.mccMainIcon.mccMainIcon
										                        ? `data:image/png;base64,${parsedData.mccMainIcon.mccMainIcon}`
										                        : 'img/fuelVouchers.svg'; // Set image
						textElement.textContent = parsedData.mccMainIcon.voucherName ? parsedData.mccMainIcon.voucherName : "";

	                    parsedData.data.forEach(item => {
	                    const li = document.createElement('li');
	                    li.classList.add('purpose-item');
	                    li.setAttribute('data-value', item.mcc);

	                    // Create radio input
	                    const radioInput = document.createElement('input');
	                    radioInput.type = 'radio';
	                    radioInput.classList.add('voucher-radioinput');
	                    radioInput.name = 'selectvouchers'; // Group radio buttons by name

	                    // Create img element
	                    const img = document.createElement('img');
	                    img.src = item.mccIcon
	                        ? `data:image/PNG;base64,${item.mccIcon}`
	                        : '';
	                    //img.alt = item.mccDesc;
	                    img.classList.add('img-fluid');
						img.style.height = '20px';
						img.style.width = '20px';
	                    // Create span element with voucher name
	                    const span = document.createElement('span');
	                    span.textContent = item.mccDesc;

	                    // Append elements to li
	                    li.appendChild(radioInput);
	                    li.appendChild(img);
	                    li.appendChild(span);
	                    purposeList.appendChild(li);
	                });
	            },
	            error: function(e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }

	    // Initialize
	   // getVoucherListWithIcon();
	</script>
	
</body>

</html>