<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>

<body id="page-top" onload="getVoucherListWithIcon()">

    <div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

		<!-- Sidebar -->
				      
		 <div th:insert="fragments/sidenav.html :: sidevav"></div>
		<!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav top-nav">

                        <!-- Nav Item - User Information -->
                       <!-- <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span class="mr-2 small">Dashboard</span>
                                <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="mr-2 small">UPI Voucher Issuance</span>
                                <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                            </a>
                        </li>
-->
                    </ul>
					<!-- Right Icons + Profile -->
								    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
								      <!-- Wallet Icon -->
								     <!-- <li class="nav-item mr-3">
								        <a href="/settings/wallet" role="button">
								          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
								        </a>
								      </li>-->
									  <li class="nav-item mr-3">
					  			        <a href="/cotowallet" role="button">
					  			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
					  			        </a>
					  			      </li>
								      <!-- Notification Icon -->
								      <li class="nav-item mr-3">
								        <a href="#" role="button">
								          <img src="img/Notification-icon.png" alt="Notification" class="nav-icon-img">
								        </a>
								      </li>

								      <!-- Profile Dropdown -->
								      <li class="nav-item dropdown no-arrow">
								        <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								          <img class="img-profile rounded-circle" src="img/undraw_profile.svg" alt="User" style="width: 32px; height: 32px;">
								        </a>
								        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								          <a class="dropdown-item" href="/ProfileInfo">
								            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
								          </a>
								       <!--   <a class="dropdown-item" href="#">
								            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
								          </a>-->
								          <div class="dropdown-divider"></div>
								          <a class="dropdown-item" href="/logout">
								            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
								          </a>
								        </div>
								      </li>
								    </ul>

                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content">
                                <div class="upi-voucher-wrap">
                                    <div>
                                        <h3>Select Voucher Category for Bulk Issuance </h3>
                                        <p>Select vouchers from the options provided below, and continue to enter the details for issuance. </p>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="leftselctVoucehrs">
                                                <h4>Vouchers Categories</h4>
                                                 <ul id="voucherList">
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 pl-sm-0">
                                            <div class="rightselctVoucehrs" id="mccDiv" style="display: none;">
                                                <div class="row">
                                                    <div class="col-12 col-md-3">
                                                        <div class="select-upivouchers">
                                                            <img id="voucherImageId" src="img/fuelVouchers.svg" class="img-fluid" alt="" height="150px" width="200px" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="cards-upivouchers-desc" id="selectedVoucherDiv">
                                                            <h4><span id="VoucherText"></span> Vouchers</h4>
                                                            <p>To issue an e-RUPI voucher, please select a category, a sub-category, or an associated brand: </p>
                                                     -  </div>
                                                    </div>
                                                </div>

                                              
                                                <hr>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="selctedVoucehr">
                                                            <ul id="purposeList">
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 text-right my-3">
                                            <button class="btn btn-border-primary mb-1" onclick="window.location.href='/upiVoucherIssuanceNew';">Back</button>
                                            <button class="btn btn-primary mb-1" onclick="getVoucherDetail()">Continue</button>
											<!--<a class="btn btn-primary mb-1" th:href="@{/bulkVoucherIssuance}">Continue</a>-->
											</div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<style>	/* Top box categories */
		/* Page root optional cleanup */
		body {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		    font-family: Arial, sans-serif;
		}

		/* Parent container */
		/* Parent container */
		#voucherList {
		    width: 100%;
		    max-width: 1200px;
		    padding-left: 16px;
		    padding-right: 16px;
		    margin: 0 auto;
		    box-sizing: border-box;
		   /*  overflow-y: scroll;*/
		    height: 400px;

		   /*  scrollbar-width: thin;*/
		   /*  scrollbar-color: #2F945A #EAF4EF;*/
		}

		#voucherList::-webkit-scrollbar {
		    width: 8px;
		}

		#voucherList::-webkit-scrollbar-track {
		    background: #EAF4EF;
		    border-radius: 8px;
		}

		#voucherList::-webkit-scrollbar-thumb {
		    background-color: #2F945A;
		    border-radius: 8px;
		    border: 2px solid #EAF4EF;
		}

		/* Top box categories */
		.top-categories-box {
		    background-color: #EAF4EF;
		    padding: 20px;
		    border-radius: 20px;
		    list-style: none;
		    width: 100%;
		    max-width: 600px; /* optional to control max width of the box */
		    margin: 10px auto;
		    box-sizing: border-box;
		}

		/* Section title */
		#voucherList h5 {
		    color: #1F212C;
		    margin: 10px 0;
		    font-size: 16px;
		    font-weight: 600;
		}

		/* Other categories list */
		.other-categories {
			margin-top: 10px;
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    width: 100%;
		    max-width: 600px;
		    margin: 0 auto;
		    box-sizing: border-box;
		}

		/* List item */
		.voucher-item {
		    display: flex;
		    align-items: center;
		    gap: 12px;
		    padding: 8px 12px;
		    border-radius: 8px;
		    cursor: pointer;
		    transition: background-color 0.1s ease, color 0.1s ease;
		    width: 100%;
		    box-sizing: border-box;
		    background-color: transparent;
		    position: relative;
		    z-index: 1;
		}

		/* Hover effect */
		.voucher-item:hover {
		    background-color: #2F945A !important;
		    color: #FFFFFF !important;
		}

		.voucher-item:hover span {
		    color: #FFFFFF !important;
		}

		/* Selected item stays green */
		.voucher-item.selected {
		    background-color: #2F945A;
		    color: #FFFFFF;
		}

		.voucher-item.selected span {
		    color: #FFFFFF;
		}

		/* Image style */
		.voucher-item img {
		    height: 32px;
		    width: 32px;
		    flex-shrink: 0;
		}


	</style>

	<script type="text/javascript">

	$(document).ready(function(){
		
		  $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' +'/upiVoucherIssuanceNew"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});

	</script>
	<script>
		
		function getVoucherDetail(){
			        // Get the selected voucher data (image and name)
			        const selectedVoucherItem = document.querySelector('.voucher-item.selected');
					var selectedVoucherName=null;
					var selectedPurposeCode =null;
					var selectedVoucherCode=null;
					var selectedPurposeName =null;
			        if (selectedVoucherItem) {
			            // const selectedVoucherIcon = selectedVoucherItem.querySelector('img').src;
					    selectedVoucherCode = selectedVoucherItem.querySelector('input[name="voucherCode"]').value;
					    selectedVoucherName = selectedVoucherItem.querySelector('span').textContent;
			            console.log("Selected Voucher Code:", selectedVoucherName);
					
			        } else {
			            alert('No voucher selected!');
						return false;
			        }

			        // Get the selected radio button data (Purpose List)
			        const selectedRadioButton = document.querySelector('input[name="selectvouchers"]:checked');
			        if (selectedRadioButton) {
						 selectedPurposeCode = selectedRadioButton.closest('li').getAttribute('data-value');
						 selectedPurposeName = selectedRadioButton.closest('li').querySelector('span').textContent;
			             console.log("Selected Purpose Code:", selectedPurposeCode);
			        } else {
			            alert('No purpose selected!');
						return false;
			        }
					let parts = selectedPurposeCode.split("|");
					console.log(parts[0]); // "5411"
					console.log(parts[1]); // "3A"
					localStorage.setItem("voucherCode",parts[0]);
					localStorage.setItem("voucherName",selectedVoucherName);
					localStorage.setItem("purposeCode",parts[1]);
					localStorage.setItem("purposeName",selectedPurposeName);
					
					window.location.href = "/bulkVoucherIssuance";
						   
				}
		
	    /*function getVoucherListWithIcon() {
	        const voucherList = document.getElementById('voucherList');
	        const purposeList = document.getElementById('purposeList');

	        $.ajax({
	            type: "GET",
	            url: "/getVoucherListWithIcon",
	            success: function(data) {
	                const parsedData = jQuery.parseJSON(data);

	                // Populate Voucher List
	                parsedData.data.forEach(item => {
	                    const li = document.createElement('li');
	                    li.classList.add('voucher-item');
	                    li.setAttribute('data-value', item.purposeCode);

	                    const a = document.createElement('a');
	                    a.href = "javascript:void(0);";

	                    const img = document.createElement('img');
	                    img.src = item.voucherIcon
	                        ? `data:image/PNG;base64,${item.voucherIcon}`
	                        : '';
	                    img.classList.add('img-fluid');
						img.style.height = '20px';
						img.style.width = '20px';
	                    const span = document.createElement('span');
	                    span.textContent = item.voucherName;

	                    a.appendChild(img);
	                    a.appendChild(span);
	                    li.appendChild(a);
	                    voucherList.appendChild(li);
	                });

	                // Add click event listener to Voucher List
	                voucherList.addEventListener('click', event => {
						
	                    const clickedItem = event.target.closest('li'); // Get the clicked LI element
	                    if (clickedItem) {
	                        const purposeCode = clickedItem.getAttribute('data-value');
							

	                        // Clear previous selections
	                        [...voucherList.children].forEach(item => item.classList.remove('selected'));
	                        [...purposeList.children].forEach(item => item.remove()); // Clear Purpose List

	                        // Highlight the selected item
	                        clickedItem.classList.add('selected');
							
							// Get selected voucher name and image
							const voucherIcon = clickedItem.querySelector('img').src;
	                        const voucherName = clickedItem.querySelector('span').textContent;

	                        // Bind the selected image and voucher name to specific elements
	                        //const imageElement = document.getElementById('voucherImageId');
	                        //const textElement = document.getElementById('VoucherText');

	                        //if (imageElement && textElement) {
	                          //  imageElement.src = voucherIcon;  // Set image
	                         //   textElement.textContent = voucherName;  // Set voucher name text
	                        //}

	                        // Fetch Purpose List using the selected purposeCode
	                        fetchPurposeListByVoucherCode(purposeCode);
	                    }
						document.getElementById("mccDiv").style.display="block";
	                });
	            },
	            error: function(e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }*/

		/* working functionality without auto select
		function getVoucherListWithIcon() {
				    const voucherList = document.getElementById('voucherList');
				    const purposeList = document.getElementById('purposeList');

				    $.ajax({
				        type: "GET",
				        url: "/getVoucherListWithIcon",
				        success: function(data) {
				            const parsedData = jQuery.parseJSON(data);
				            console.log("Get voucher list with data : ", parsedData);

				            // Setup container with 2 lists
				            voucherList.innerHTML = `
				                <ul id="topCategories" class="top-categories-box"></ul>
				                <h5 style="
				                    color: #1F212C;
				                    margin: 16px 16px 10px 16px;
				                    font-size: 16px;
				                    font-weight: 600;
				                ">Other Categories</h5>
				                <ul id="otherCategories" class="other-categories"></ul>
				            `;

				            const topCategories = document.getElementById('topCategories');
				            const otherCategories = document.getElementById('otherCategories');

				            // Populate Voucher List
				            parsedData.data.forEach((item, index) => {
				                const li = document.createElement('li');
				                li.classList.add('voucher-item');
				                li.setAttribute('data-value', item.purposeCode);

				                const img = document.createElement('img');
				                img.src = item.voucherIcon
				                    ? `data:image/png;base64,${item.voucherIcon}`
				                    : '';
				                img.alt = item.voucherName;

				                const span = document.createElement('span');
				                span.textContent = item.voucherName;
				               
				                span.style.fontWeight = '500';

				                li.appendChild(img);
				                li.appendChild(span);

				                // Append to correct list
				                if (index < 5) {
				                    topCategories.appendChild(li);
				                } else {
				                    otherCategories.appendChild(li);
				                }
				            });

				            // Add click event listener to entire voucherList
				            voucherList.addEventListener('click', event => {
				                const clickedItem = event.target.closest('li.voucher-item');
				                if (clickedItem) {
				                    const purposeCode = clickedItem.getAttribute('data-value');
				                    const voucherIcon = clickedItem.querySelector('img').src;
				                    const voucherName = clickedItem.querySelector('span').textContent;

				                    // Clear selections
				                    [...voucherList.querySelectorAll('li.voucher-item')].forEach(item => item.classList.remove('selected'));
				                    [...purposeList.children].forEach(item => item.remove());

				                    // Highlight selected
				                    clickedItem.classList.add('selected');

				                    // Fetch Purpose List
				                    fetchPurposeListByVoucherCode(purposeCode);
				                }
				                document.getElementById("mccDiv").style.display = "block";
				            });
				        },
				        error: function(e) {
				            alert('Error: ' + e.responseText);
				        }
				    });
				}

	    function fetchPurposeListByVoucherCode(purposeCode) {
	        const purposeList = document.getElementById('purposeList');

	        $.ajax({
	            type: "GET",
	            url: "/getPurposeListByVoucherCode",
	            data: { purposeCode },
	            success: function(data) {
	                const parsedData = jQuery.parseJSON(data);

	                //Populate Purpose List with radio buttons
					const imageElement = document.getElementById('voucherImageId');
				    const textElement = document.getElementById('VoucherText');

					imageElement.src = parsedData.mccMainIcon.mccMainIcon
										                        ? `data:image/png;base64,${parsedData.mccMainIcon.mccMainIcon}`
										                        : 'img/fuelVouchers.svg'; // Set image
						textElement.textContent = parsedData.mccMainIcon.voucherName ? parsedData.mccMainIcon.voucherName : "";

	                    parsedData.data.forEach(item => {
	                    const li = document.createElement('li');
	                    li.classList.add('purpose-item');
	                    li.setAttribute('data-value', item.mcc);

	                    // Create radio input
	                    const radioInput = document.createElement('input');
	                    radioInput.type = 'radio';
	                    radioInput.classList.add('voucher-radioinput');
	                    radioInput.name = 'selectvouchers'; // Group radio buttons by name

	                    // Create img element
	                    const img = document.createElement('img');
	                    img.src = item.mccIcon
	                        ? `data:image/PNG;base64,${item.mccIcon}`
	                        : '';
	                    //img.alt = item.mccDesc;
	                    img.classList.add('img-fluid');
						img.style.height = '20px';
						img.style.width = '20px';
	                    // Create span element with voucher name
	                    const span = document.createElement('span');
	                    span.textContent = item.mccDesc;

	                    // Append elements to li
	                    li.appendChild(radioInput);
	                    li.appendChild(img);
	                    li.appendChild(span);
	                    purposeList.appendChild(li);
	                });
	            },
	            error: function(e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }

	    // Initialize
	   // getVoucherListWithIcon();*/
	   
	   
	</script>
	<script>
	  function getVoucherListWithIcon() {
      const voucherList = document.getElementById('voucherList');
      const purposeList = document.getElementById('purposeList');

      $.ajax({
          type: "GET",
          url: "/getVoucherListWithIcon",
          success: function(data) {
              const parsedData = jQuery.parseJSON(data);
              console.log("Get voucher list with data : ", parsedData);

              voucherList.innerHTML = `
                  <ul id="topCategories" class="top-categories-box"></ul>
                  <h5 style="color: #1F212C; margin: 16px 16px 10px 16px; font-size: 16px; font-weight: 600;">Other Categories</h5>
                  <ul id="otherCategories" class="other-categories"></ul>
              `;

              const topCategories = document.getElementById('topCategories');
              const otherCategories = document.getElementById('otherCategories');
              let fuelGasItem = null;

			  parsedData.data.forEach((item, index) => {
			      const li = document.createElement('li');
			      li.classList.add('voucher-item');
			      li.setAttribute('data-value', item.id); // this is likely voucherCode

			      const img = document.createElement('img');
			      img.src = item.voucherIcon ? `data:image/png;base64,${item.voucherIcon}` : '';
			      img.alt = item.voucherName;

			      const span = document.createElement('span');
			      span.textContent = item.voucherName;
			      span.style.fontWeight = '500';

			      // Create hidden input for voucher code
			      const hiddenInput = document.createElement('input');
			      hiddenInput.type = 'hidden';
			      hiddenInput.name = 'voucherCode';
			      hiddenInput.value = item.purposeCode; // fallback if voucherCode is not separate

			      li.appendChild(img);
			      li.appendChild(span);
			      li.appendChild(hiddenInput); // append hidden input

			      if (item.voucherName === "Fuel & Gas") fuelGasItem = li;

			      if (index < 3) topCategories.appendChild(li);
			      else otherCategories.appendChild(li);
			  });

              voucherList.addEventListener('click', event => {
                  const clickedItem = event.target.closest('li.voucher-item');
                  if (clickedItem) {
                      const purposeCode = clickedItem.getAttribute('data-value');

                      [...voucherList.querySelectorAll('li.voucher-item')].forEach(item => item.classList.remove('selected'));
                      [...purposeList.children].forEach(item => item.remove());
                      clickedItem.classList.add('selected');

                      fetchPurposeListByVoucherCode(purposeCode);
                  }
                  document.getElementById("mccDiv").style.display = "block";
              });

              if (fuelGasItem) fuelGasItem.click();
          },
          error: function(e) {
              alert('Error: ' + e.responseText);
          }
      });
  }

	function fetchPurposeListByVoucherCode(purposeCode) {
	    const purposeList = document.getElementById('purposeList');

	    $.ajax({
	        type: "GET",
	        url: "/getPurposeListByVoucherCode",
	        data: { "id":purposeCode },
	        success: function(data) {
	            const parsedData = jQuery.parseJSON(data);

	            const imageElement = document.getElementById('voucherImageId');
	            const textElement = document.getElementById('VoucherText');

	            imageElement.src = parsedData.mccMainIcon.mccMainIcon
	                ? `data:image/png;base64,${parsedData.mccMainIcon.mccMainIcon}`
	                : 'img/fuelVouchers.svg';
	            textElement.textContent = parsedData.mccMainIcon.voucherName || "";

	            parsedData.data.forEach((item, idx) => {
	                const li = document.createElement('li');
	                li.classList.add('purpose-item');
	                li.setAttribute('data-value', item.mcc+"|"+item.purposeCode);

	                const radioInput = document.createElement('input');
	                radioInput.type = 'radio';
	                radioInput.classList.add('voucher-radioinput');
	                radioInput.name = 'selectvouchers';

	                if (idx === 0) radioInput.checked = true;

	                const img = document.createElement('img');
	                img.src = item.mccIcon ? `data:image/PNG;base64,${item.mccIcon}` : '';
	                img.classList.add('img-fluid');
	                img.style.height = '20px';
	                img.style.width = '20px';

	                const span = document.createElement('span');
	                span.textContent = item.mccDesc;

	                li.appendChild(radioInput);
	                li.appendChild(img);
	                li.appendChild(span);
	                purposeList.appendChild(li);
	            });
	        },
	        error: function(e) {
	            alert('Error: ' + e.responseText);
	        }
	    });
	}

	
	</script>

	
</body>

</html>