<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        
        <div th:insert="fragments/sidenav.html :: sidevav"></div>
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
              
               <!--<div th:insert="fragments/header.html :: header"></div>-->
			   <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

			   			                       <!-- Topbar Navbar -->
			   			                       <ul class="navbar-nav top-nav">

			   			                           <!-- Nav Item - User Information -->
			   			                           <li class="nav-item">
			   			                               <a class="nav-link active" href="#">
			   			                                   <span class="mr-2 small">Dashboard</span>
			   			                                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			   			                               </a>
			   			                           </li>
			   			                           <li class="nav-item">
			   			                               <a class="nav-link" href="#">
			   			                                   <span class="mr-2 small">Job Master Form</span>
			   			                                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			   			                               </a>
			   			                           </li>

			   			                       </ul>

			   			   					<ul class="navbar-nav ml-auto">
			   			   		                        <li class="nav-item dropdown no-arrow">
			   			   		                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   			   		                               <span class="mr-2 d-none d-lg-inline text-gray-600 small" > <p th:text="${session.username}"></p> </span>
			   			   		                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
			   			   		                            </a>
			   			   		                            <!-- Dropdown - User Information -->
			   			   		                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			   			   		                                <a class="dropdown-item" href="#">
			   			   		                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			   			   		                                    Profile
			   			   		                                </a>
			   			   		                                <a class="dropdown-item" href="#">
			   			   		                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			   			   		                                    Settings
			   			   		                                </a>
			   			   		                              
			   			   		                               <!--  <div class="dropdown-item dropdown-footer form-group mb-0" >
			   			   							            <a class="float-right btn text-white custom-btn-dark btn-sm mb-0"  th:href="@{/logout}">
			   			   									          <i class="fas fa-user-circle"></i> Logout         
			   			   									        </a>
			   			   							          </div> -->  
			   			   		                              <div class="dropdown-divider"></div>
			   			   		                                <a class="dropdown-item" th:href="@{/logout}">
			   			   		                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" > </i>
			   			   		                                    Logout
			   			   		                                </a>
			   			   		                            </div>
			   			   		                        </li>

			   			   		                   </ul>		
			   			                         </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                <form id="jobTitlemaster" name="jobTitlemaster" method="post">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="mt-4 bg-white p-3">
                                <div class="row">
                                    <div class="col-12 organisation-wrap">
                                        <h3 class="mb-1 text-center">Job Title Master Form</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
                        
										<div class="card-form my-3">
										    <label for="jobDesc">Job Desc</label>
										    <input type="text" class="form-input" id="jobDesc" name="jobDesc" autocomplete="off">
										    <ul  class="suggestion-list" id="suggestions" style="border: 1px solid #ccc; max-height: 100px; overflow-y: auto; display: none;"></ul>
										</div>

										 <div class="error-msg" id="jobDescError" style="color:red"></div>
										 
										 
										 <div class="card-form">
		                                  <select class="form-select form-control no-bg border-0" aria-label="Default select example" id="reporting">
		                                      <option value="" selected="" >Please Select Reporting Manager Level</option>
		                                      <option value="1">Manager 1</option>
		                                      <option value="2">Manager 2</option>
		                                      <option value="3">Manager 3</option>
		                                  </select>
		                                  </div>
			 							 	<div class="error-msg" id="reportingError" style="color:red"></div>
									
											
										<!--<div class="card-form my-3">
                                         <label for="createdby">Created By</label>
                                         <input type="text" class="form-input" id="createdby" name="createdby"  >
                                     
                                     </div>
									 <div class="error-msg" id="createdbyError" style="color:red"></div>
									 
									 <div class="card-form my-3">
                                      <label for="orgId">Org Id</label>
                                      <input type="text" class="form-input" id="orgId" name="orgId"  >
         
                                  </div>
								 <div class="error-msg" id="orgIdError" style="color:red"></div>-->
									 
								 <div class="card-form my-3">
                              		 <label for="remarks">Remarks</label>
                               		<input type="text" class="form-input" id="remarks" name="remarks"  >
                           
                           		</div>
						 		<div class="error-msg" id="remarksError" style="color:red"></div>
								 
                                 	
                                    
                                    </div>
                                </div>
							
							<div id="otmsgdiv" style="display:none" class="alert alert-success text-center">
				            	<div id="otsuccmsg"></div>   
				            </div>
				            
				            <div id="otfailmsgDiv" style="display:none" class="alert alert-danger text-center">
				            	<div id="otfailmsg"></div>
				            </div>
				            							
                                <div class="row">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-5 mx-auto company-dtl-wrap">
										<input type="hidden" class="form-input" id="orgId" name="orgId" th:value="${session.id}">
																					<input type="hidden" class="form-input" id="createdby" name="createdby" th:value="${session.username}">
										 <!--<div class="text-center text-md-center my-3">
                                        	
                                            
                                            <input type="button" id="savejobmaster" class="btn btn-primary next d-block" onclick ="savejobMaster()" value="Save"> 
											<a th:href="@{/displaybankMaster}" id="backButton" class="btn" style="background-color: #FFA500; color: white; margin-left: 15px;">Cancel</a>
											</div>-->
											<div class="d-flex my-3 justify-content-start">
								            <!-- Save button -->
								            <input type="button" id="saveBankmaster" class="btn btn-primary" 
								                   onclick="savejobMaster()" value="Save">
								            <!-- Back button with custom margin -->
								            <a th:href="@{/displayjobTitlemaster}" id="backButton" class="btn" style="background-color: #FFA500; color: white; margin-left: 15px;">Cancel</a>
								        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                     </div>
                    
                  </form>

               </div>
              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

	<script type="text/javascript" src="cotodel-js/job-Title-master.js"></script>
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		  $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' +'/jobTitlemaster"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});
	
	</script>

	<style>
		/* Suggestion dropdown container */
		.suggestion-list {
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    max-height: 150px;
		    overflow-y: auto;
		    background-color: #f7f8fa;  /* Light background color */
		    position: absolute;
		    z-index: 1000;
		    width: 100%;  /* Ensures dropdown matches input width */
		    border: 1px solid #e0e0e0;  /* Light border for dropdown */
		    border-radius: 5px;  /* Rounded corners */
		    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  /* Soft shadow */
		}

		/* Individual items in the suggestion list */
		.suggestion-list li {
		    padding: 8px 12px;
		    cursor: pointer;
		    font-size: 14px;
		    color: #333;  /* Dark gray text */
		    transition: background-color 0.3s ease;  /* Smooth hover effect */
		}

		/* Change background and text color on hover */
		.suggestion-list li:hover {
		    background-color: #e3f2fd;  /* Light blue background on hover */
		    color: #1976d2;  /* Blue text color on hover */
		}

		/* Ensure the last item does not have a bottom border */
		.suggestion-list li:last-child {
		    border-bottom: none;
		}

		/* Hide the suggestions list by default */
		.suggestion-list {
		    display: none;  /* Hidden by default */
		}

		/* Show the suggestion list when it's visible */
		.suggestion-list.show {
		    display: block;  /* Display the suggestions when triggered */
		}

		/* Styling for the input field */
	


	</style>
	</body>

</body>

</html>