<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fleet Expense Management | Cotodel - Business Payments on UPI</title>
  <meta name="author" content="cotodel.com">
  <meta name="description" content="Optimize your fleet's fuel and other operational expenses with Cotodel's UPI Digital vouchers and fleet management system. Instantly issue vouchers to drivers without KYC, redeemable at any petrol pump. Enjoy real-time tracking, prevent fuel fraud, and streamline fleet payments effortlessly over prepaid fuel cards">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/tiny-slider.css">
  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  
  <meta name="keyword" content="Fuel Cards, Fuel Expense Management, Fleet Management, Fleet Expense Management, Logistics & Transport, Save on Fuel Spends, Fuel Spends Solution,
   Fuel Payments, UPI for Fleet payments , Petrol Card, Fuel Card, Fuel Cards, Fleet card, Logistics & Transport, petrocard, driver loyalty program">
   		
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>

   <script>
   	  window.dataLayer = window.dataLayer || [];
   	  function gtag(){dataLayer.push(arguments);}
   	  gtag('js', new Date());

   	  gtag('config', 'G-4RE141954R');
   	</script>
   	
   	<!-- Google Tag Manager -->
   	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   	})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
   	<!-- End Google Tag Manager -->
   	<!-- Google Tag Manager (noscript) -->
   	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
   	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   	<!-- End Google Tag Manager (noscript) -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
	

  <style>
	
	p {
	  color: #4A4E69;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 140%;
	  letter-spacing: 0%;
	}

	body {
	  font-family: 'Open Sans', sans-serif;
	  
	}
	.hero {
	  padding: 3rem 1rem;
	  background: #EAF4EF;
	

		}

	.hero h1 {
	  text-align: left;
	}

	.hero p {
	  text-align: left;
	}

	.hero .highlight {
	  color: #2F945A;
	  font-weight: bold;
	}

    .highlight {
      color: #2F945A;
    }
    .section {
      padding: 2rem 1rem;
    }
    .dark-section {
      background-color: #0f121f;
      color: white;
    }
    .step {
      margin-bottom: 1rem;
    }
    .footer {
      background-color: #f8f9fa;
      padding: 2rem 1rem;
      font-size: 0.9rem;
    }
    .phone-img {
      max-width: 100%;
      height: auto;
    }
	.footer-nav {
		    display: flex;
		    gap: 25px; /* Adjust spacing here */
			 font-family: 'Open Sans', sans-serif;
			
		  }
		  .social-icons a 
		  {
		    color: #fff;
		    margin-left: 10px;
		    font-size: 16px;
		    margin-left: 4px;
		     margin-right: 0;
		  }
		  .footer-nav {
		  			    display: flex;
		  			    gap: 25px; /* Adjust spacing here */
		  				 font-family: 'Open Sans', sans-serif;
		  				 color:#C7C8D1;
		  			  }
		  			  .footer-nav a {
		  			     color: #C7C8D1;
		  			     text-decoration: none; /* optional: removes underline */
		  			   }
		  			   .footer-contact p {
		  			     color: white;
		  			     margin: 0; /* Optional: remove default spacing */
		  			   }
		  			   .footer-contact p a:hover {
		  			     color: white;
		  			     text-decoration: none;
		  			   }
		   .custom-input-wrapper {
		       max-width: 360px;
		     }

		     .custom-dark-input {
		       background-color: #1F212C;
		       color: #FFFFFF;
		       border: 1px solid #2E3144;
		       border-radius: 0.75rem;
		       font-size: 0.85rem;
		       padding: 0.5rem 0.75rem;
		     }

		     .custom-dark-input::placeholder {
		       color: #86889B;
		       opacity: 1;
		     }

		     .custom-dark-input:focus {
		       border-color: #3C3F50;
		       box-shadow: none;
		     }
		   .txtcolor{
		   	color:#86889B;
		   }
		   .circle {
		     min-width: 40px;
		     min-height: 40px;
		     border-radius: 50%;
		     display: flex;
		     justify-content: center;
		     align-items: center;
		     font-weight: bold;
		     z-index: 1;
		     color: #292B3A
		   }
		   .feature-card {
		         background-color: #edf6f2;
		         border-radius: 15px;
		         padding: 30px 20px;
		         text-align: center;
		         min-height: 150px;
		   	  
		       }
		       .feature-card i {
		         font-size: 28px;
		         color: #0c3d2c;
		         margin-bottom: 10px;
		       }
		       .feature-card p {
		         color: #2c3e50;
		         font-weight: 600;
		         margin: 0;
		   	  margin-top: 12px;
		       }		  
			   .btn {
		    border-radius: 8px; /* You can increase to 16px or 20px for even more rounded corners */
		  }
		  /* modal css*/
		  .custom-modal .modal-dialog {
				      position: absolute;
				      top: 260px;
				      left: 463px;
				      max-width: unset;
				      margin: 0;
				    }

				    .custom-modal .modal-content {
				      width: 514px;
				      height: 292px;
				      border-radius: 20px;
				      padding: 50px;
				      border: 1px solid #ccc;
				      background-color: #fff;
				      display: flex;
				      flex-direction: column;
				      align-items: center;
				      justify-content: space-between;
				      box-shadow: none;
				    }

					.btn-group-custom {
					      display: flex;
					      align-items: center;
					      justify-content: center;
					      gap: 30px;
					      width: 169px;
					      margin-top: 10px;
						  color:#2F945A;
						  height: 56px;
					    }

					    .btn-success {
					      min-width: 170px;
					      border-radius: 10px;
					    }

					    .modal-header-custom {
					      width: 100%;
					      text-align: center;
					    }

					    .modal-header-custom h5 {
					      font-weight: bold;
					      color: #2F945A;
					    }

					    .modal-close {
					      position: absolute;
					      top: 15px;
					      right: 20px;
					      border: none;
					      background: transparent;
					      font-size: 1.25rem;
					    }
</style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
			<a  href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends ">
			 <img src="img/Cotodel Logo.svg" class="navbar-brand-item" alt="Cotodel Business Payments logo" fetchpriority="high" title="Cotodel Business Payments logo">
		</a>
     
      <ul class="navbar-nav ms-auto ">
        <li class="nav-link "><a class="nav-link" href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends ">Home</a></li>
      <!--  <li class="nav-link active border-bottom border-success "><a class="nav-link" href="#">Solutions</a></li>-->
      </ul>
    </div>	
  </nav><br>

  <header class="hero d-flex align-items-center container border rounded-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>
            Want to optimize how you manage <span class="highlight">Fuel payments</span> with your <span class="highlight">Driver partners</span>?
          </h1>
          <p>With Cotodel, we want to change how Fuel Spends are done and help bring savings to your business!</p>
          <div class="mt-3"> 
			<a href="/solutions/fleetexpensemanagement/upivoucher" title="Experience UPI Digital Vouchers to onboard your fleet spends and expenses on UPI" class="btn btn-primary me-2" target="_blank">
			  Experience UPI Vouchers
			</a>
			<!--<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#demoModal">
			     Book a Demo
			   </button>-->
          </div>
        </div>
        <div class="col-md-6 d-none d-md-flex flex-column justify-content-end">
          <img src="img/fleet-management.webp" alt="Fleet expense management" class="img-fluid float-end" title="Shift your fuel spends on UPI with Cotodel">
        </div>
		
    </div>
  </header>

  <section class="section container">
	<p>	Give your fleet drivers UPI-enabled digital vouchers which can be either locked at all Petrol pumps or even at a specific branded petrol pump of your choice. Another added advantage is that these vouchers can be issued instantly to each driver’s mobile number without any onboarding documents or KYC needed  from them!  </p>
	 
	<p>There is no change in both Consumer as well as Merchant behaviour from their regular UPI transaction which they are anyway doing currently for their personal spends. The issued voucher automatically pops up on the consumer’s existing UPI apps once a relevant merchant QR code is scanned. All you have to do is select the payment instrument as the voucher instead of your Bank Account or Card and make the payment from the issued voucher. The merchant also accepts direct debit transactions on the same QR codes which are already installed at their outlets and do not need to add a new QR code or download any new app for this! </p>
    <h5 class="highlight"><strong>What makes it different from a regular UPI transaction?</strong></h5>
    <p>Money never leaves your Bank Account till the time the transaction is done by the driver at the Petrol pump! The voucher amount gets blocked in your account and gets deducted once the actual transaction is done.</p>

    <h5 class="mt-4 highlight"><strong>Fuel Expenses Simplified!</strong></h5>
    <p class="highlight rounded-3" style="background-color:#EAF4EF; padding: 20px 20px; ">Join Bharat's smartest payments platform to manage & save on your Fleet’s Fuel Expenses!</p>
	</section>
  
 <section class="container" >
    <div class="d-flex justify-content-center">
      <img src="img/payingShell_services.webp" alt="UPI Digital voucher for Fuel" title="UPI Digital voucher for your Fleet expense management" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
  </section>
  
  <section class="section container">
	
    <h5 class="highlight"><strong>Let us understand this with an example!</strong></h5>
    <p>	For example, if you want to issue a generic fuel voucher to your driver Raghu, then you will have the option to either restrict the redemption across all Fuel Stations or across Bharat Petroleum Fuel Station or Bharat Petroleum Fuel Station, Indirapuram location.</p>
		

	<p>The vouchers can be multi-redeemable and come with a time validity of up to 1 year. As soon as the driver scans a QR code of a Petrol pump and makes the transaction from their UPI app, the business admin receives all the information digitally, be it merchant details, time of transaction, transaction amount! </p>
	
</section>

  <section class="section py-5" style="background-color: #1F212C; color: white;">
    <div class="container">
      <h2 class="highlight mb-5"><strong>How can you issue & redeem this UPI voucher?</strong></h2>
      <div class="row">
        <div class="col-md-6">
          <div class="timeline d-flex flex-column position-relative">
            <div class="position-absolute top-0" style="left: 19px; width: 2px; background-color: #292B3A; height: calc(100% - 20px);"></div>

            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">1</div>
              <div class="txtcolor">Onboard your business with Cotodel</div>
            </div>
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">2</div>
			    <div class="txtcolor">Add Driver’s mobile number</div>
			  </div>
			  <div class="custom-input-wrapper mt-2" style="margin-left: 4.5rem;">
			    <input type="text" class="form-control custom-dark-input" placeholder="Define voucher amount, validity, purpose of spend" />
			  </div>
			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">3</div>
              <div class="txtcolor">Amount gets blocked in your account</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">4</div>
              <div class="txtcolor">Driver receives the voucher on his existing UPI App which is linked to the mobile number</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">5</div>
              <div class="txtcolor">Driver activates the voucher on their UPI app</div>
            </div>
            
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">6</div>
			    <div class="txtcolor">Driver goes to a Petrol pump</div>
			  </div>
			  <div class="custom-input-wrapper mt-2" style="margin-left: 4.5rem;">
			    <input type="text" class="form-control custom-dark-input" placeholder="Scans the existing QR code at the station" />
			  </div>
			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">7</div>
              <div class="txtcolor">Fuel voucher automatically pops up right below their Bank Account</div>
            </div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">8</div>
              <div class="txtcolor">Select Payment method as Voucher instead of your Bank A/C</div>
            </div>
            
			<div class="timeline-step d-flex flex-column mb-4 position-relative">
			  <div class="d-flex align-items-start">
			    <div class="circle bg-dark text-light me-3">9</div>
			    <div class="txtcolor">Transaction amount gets deducted from the Company A/C post this only</div>
			  </div>
			  <div class="custom-input-wrapper  mt-2" style="margin-left: 4.5rem;">
			    <input type="text" class="form-control custom-dark-input" placeholder="Scans the existing QR code at the station" />
			  </div>
			</div>
            <div class="timeline-step d-flex align-items-start mb-4 position-relative">
              <div class="circle bg-dark text-light me-3">10</div>
              <div class="txtcolor">Complete Digital trail of the transaction is received on Cotodel’s dashboard which simplifies reconciliation for the business</div>
            </div>
          </div>
        </div>
		<div class="col-md-6 d-flex align-items-center justify-content-end px-0">
		      <img src="img/service_driver.webp"
		           class="img-fluid mt-md-n5 rounded-4 w-100"
		           style="max-height: 820px; object-fit: cover; border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;"
		           alt="How to issue & redeem a UPI Digital voucher for Fuel"
				   title="UPI Digital voucher issuance & redemption for your Fleet expense management">
		    </div>
      </div>
    </div>
  </section>
 

 
  <!-- benefits of upi section-->
  <div class="container my-5">
	<h4 class="highlight"><strong>Benefits of UPI Voucher</strong></h4>
	    <p>All your spends in 1 platform</p>

	   </section>
    <div class="row g-4 justify-content-center">
      <div class="col-6 col-md-3">
        <div class="feature-card">
		 <img src="img/service-page-img1.svg" alt="Nationwide Discounts for Fleet Owner" title="Get discounts at petrol pumps on Fuel filling everytime" class="img-fluid" style="max-width: 100%; height: auto;">
          <p>Nationwide Discounts</p>
		 
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="feature-card">
          <img src="img/service-page-img2.svg" alt="Prevents Fuel Theft & Fraud" title="Lock spends at Fuel which can only be redeemed at Petrol pumps" class="img-fluid" style="max-width: 100%; height: auto;">
          <p>Prevents Fuel Theft & Fraud</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="feature-card">
          <img src="img/service-page-img3.svg" alt="Custom control for Fleet Owner" title="Control when & where the drivers spend money on Fuel" class="img-fluid" style="max-width: 100%; height: auto;">
          <p>Custom control</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="feature-card">
         <img src="img/service-page-img4.svg" alt="Maximum visibility for Fleet Owner" title="Complete visibility & transparency of all fuel spends done by drivers" class="img-fluid" style="max-width: 100%; height: auto;">
          <p>Maximum visibility</p>
        </div>
      </div>
    </div>
  </div>
<!-- footer-->
				   
	   <section class="section container">
	     <h5 class="highlight">What makes Cotodel better than Fuel Cards?</h5>
	     <p>Yes, Fuel cards do exist through which the purpose of the spend done can be locked but the entire shift is of the Form Factor of payment! All of us have become so used to making transactions from our UPI apps on our mobile phones directly which eliminates the need to carry physical cards or download a new app to do spends via a digital card.</p>

		<p>The redemption network of QR codes vs POS machines accepting card payments is heavily in favour of QR codes which are omni-present even at the smallest of petrol pumps these days. It is a direct debit payment acceptance for the petrol pump owner and the driver need not find an ATM machine or a working card machine to fill petrol in their truck/car/bike/auto!</p> 

		 <p>With Cotodel, a beneficiaries KYC is not needed as all vouchers get issued to their mobile number which is already linked to the existing UPI apps installed on the driver’s phone. Any driver, who may be a part-time or contractual employee can also get onboarded seamlessly without any processes or joining fees.</p>
		    
	 </section>
	 <section class="section container">
	  <h5 class="highlight"><strong>So, let us make your Business spends as seamless as your personal UPI spends!</strong></h5>
	 

	   </section>
	   <section class="faq-wrap py-5" id="FAQs">
		<!-- 		A - FAQs for Fleet expense management
				T - Q&A for everything related to UPI Digital vouchers for Fleet expense management
				use this for images in faq section
			-->
	   												<div class="container">
	   													
	   														<h2 class="h2-bold color-prime-500 mb-4">FAQs</h2>
															<div class="row align-items-start">
	   														
	   														<div class="col-lg-7">
	   															<!--<p class="text-secnd-900 color-secnd-900 mt-3 mb-2 mb-lg-5">A seamless expense management solution for your business to shift from existing Prepaid cards & Digital wallets</p>
	   															-->
																	<!-- Accordion START -->
	   															<div class="accordion custom-accordian" id="accordionExample">
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingOne">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	   																			Is your fleet management solution only applicable for large fleets? 

	   																		</button>
	   																	</h2>
	   																	<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			No, Cotodel is designed to support fleet aggregators of all sizes. 
																				Whether managing 5 vehicles or 50, and whether operating regionally or across the country, Cotodel offers a flexible fleet expense management platform tailored for your payment needs. 
																				Also, if you have a fleet of trucks, buses, cars, bikes or autos, our solution is applicable to all vehicle types! 
	   																		</div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingTwo">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	   																			Can I onboard contractors or temporary drivers for driver spend management? 
	   																		</button>
	   																	</h2>
	   																	<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Yes, Cotodel streamlines driver expense management by eliminating the need for KYC requirements to onboard a new driver partner. 
																				Fleet operators can issue UPI digital vouchers to any driver’s mobile number instantly, enabling seamless spend control even for temporary or contract drivers. </div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingThree">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseThree" aria-expanded="false"
	   																			aria-controls="collapseThree">
	   																				What category UPI digital vouchers can we issue for our driver partners?  
	   																			</button>
	   																	</h2>
	   																	<div id="collapseThree" class="accordion-collapse collapse"
	   																		aria-labelledby="headingThree" data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Cotodel’s UPI digital vouchers are interoperable and fully programmable. Fleet managers can issue vouchers for fuel (replacing traditional fuel cards or cash/parchi system for their petrol or diesel needs), vehicle maintenance and repair, FASTag toll payments, and meal allowances.
																				 Vouchers can be targeted to specific merchants or merchant categories for enhanced spend control. 
																				 Even if a business wants to issue a generic voucher which need not be locked at a specific category, even that can be done for all miscellaneous spends!</div>
	   																	</div>
	   																</div>
																	<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingThree31">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
	   																			What happens to fleet's bank account balance once a voucher is issued to a driver? 
	   																		</button>
	   																	</h2>
	   																	<div id="collapseThree31" class="accordion-collapse collapse"
	   																		aria-labelledby="headingThree31" data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			With Cotodel, the money stays in your company’s bank account until the driver actually uses it. When you issue a voucher, the amount is just blocked—not spent. 
																				If the driver doesn’t use it and the voucher expires, the money is automatically unblocked and available again.</div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingFour">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseFour" aria-expanded="false"
	   																			aria-controls="collapseFour">
	   																			Can I access driver or vehicle-level expense reports? 
	   																		</button>
	   																	</h2>
	   																	<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Yes, Cotodel features a robust analytics dashboard that provides detailed vehicle-level and driver-level expense reports. 
																				Our objective is to let fleet owners and fleet managers see trip expense sheets if needed either at a driver or vehicle level. 
																				Fleet owners gain insights into fuel usage, maintenance costs, food allowances, and more, making Cotodel a smart choice for optimized fleet expense tracking. </div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingFive">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseFive" aria-expanded="false"
	   																			aria-controls="collapseFive">
	   																			How long does it take to integrate Cotodel with my fleet operations? 
	   																		</button>
	   																	</h2>
	   																	<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Cotodel is a plug-and-play fleet management solution for all of your fleet’s operational payments. It can be integrated quickly if the fleet business uses an existing solution or can also be used independently as a standalone platform. 
																				The setup time involved to get onboarded is minimal and can be done without having any tech team as well by the fleet business!
	   																		</div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingSix">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseSix" aria-expanded="false"
	   																			aria-controls="collapseSix">
	   																			If I already use a Fuel card, then can I use your UPI Digital Vouchers for my fleet spends? 
	   																		</button>
	   																	</h2>
	   																	<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Yes, Cotodel’s UPI-based fuel and expense vouchers complement existing fuel card systems. 
																				With the option of locking spend on Fuel or any other category while utilizing the form factor of the existing UPI ecosystem for payments, Cotodel’s solution does not demand any change in driver or petrol pumps behaviour for making or accepting payments!</div>
	   																	</div>
	   																</div>
	   																
	   																<!--<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingOne1">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
	   																			Your solution is for which industry and company?
	   																		</button>
	   																	</h2>
	   																	<div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Cotodel’s solution can be implemented across all types of industries and we have
	   																			different solutions for each company, no matter how small or big your business
	   																			is.
	   																		</div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingTwo2">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
	   																			Can a company implement Flexi-benefit and Reward & Recognition solutions as well through this?
	   																		</button>
	   																	</h2>
	   																	<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Yes, we can provide our UPI-enabled vouchers to any company, irrespective of their size or industry, to implement Flexi-benefit and Reward & Recognition solutions. 
	   																			Be it for Food Allowances, Fuel, LTA, Telecom or Health & Wellness spends, we have got you covered. Be it 5 employees or 5000, we will provide you with the best benefits your employees truly deserve!
	   																		</div>
	   																	</div>
	   																</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingThree3">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
	   																			What are the guidelines and regulations around these UPI Digital vouchers?
	   																		</button>
	   																	</h2>
	   																	<div id="collapseThree3" class="accordion-collapse collapse"
	   																		aria-labelledby="headingThree3" data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Cotodel is working along with National Payments Corporation of India (NPCI) and multiple Indian Banks to provide these solutions to companies and their employees. 
	   																			NPCI and RBI have opened mandate for these vouchers to be issued by the private sector and we are complying with all the necessary guidelines and regulations for the same!
	   																		</div>
	   																	</div>
	   																</div>-->
	   																<!--<div class="accordion-item">
	   																<h2 class="accordion-header" id="headingThree31">
	   																	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																		data-bs-target="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
	   																		What are the guidelines and regulations around these UPI-enabled vouchers?
	   																	</button>
	   																</h2>
	   																<div id="collapseThree31" class="accordion-collapse collapse"
	   																	aria-labelledby="headingThree31" data-bs-parent="#accordionExample">
	   																	<div class="accordion-body">
	   																		Cotodel is working along with National Payments Corporation of India (NPCI) and 
	   																		multiple Indian Banks to provide these solutions to companies and their employees.
	   																		 NPCI and RBI have opened mandate for these vouchers to be issued by the private sector and 
	   																		 we are complying with all the necessary guidelines and regulations for the same!</div>
	   																</div>
	   															</div>
	   																<div class="accordion-item">
	   																	<h2 class="accordion-header" id="headingFour44">
	   																		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
	   																			data-bs-target="#collapseFour4" aria-expanded="false"
	   																			aria-controls="collapseFour4">
	   																			What is your pricing to implement an expense management solution for my business?
	   																		</button>
	   																	</h2>
	   																	<div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour44"
	   																		data-bs-parent="#accordionExample">
	   																		<div class="accordion-body">
	   																			Pricing details can be discussed once we have given a demo and explained the benefits and use cases to your concerned company stakeholders. 
	   																			Please get in touch with our business team at business@cotodel.com or reach out to us via WhatsApp below and we would want to solve your problem at a cost convenient for you. 
	   																			Since you are our early supporter, Cotodel would like to support you as well!
	   																		</div>
	   																	</div>
	   																</div>-->
																	
	   															</div>
																<!-- Image (Right Column) -->
														     
	   														</div>
															<div class="col-12 col-lg-5 d-flex justify-content-end align-items-end mt-4 mt-lg-0">
															  <img src="img/FAQs Fleet.webp"
															       alt="FAQs for Fleet expense management"
																   title="Q&A for everything related to UPI Digital vouchers for Fleet expense management"
															       class="img-fluid"
															       style="width: 370px; height: 368px; border-radius: 20px; margin-top: 40px; margin-left: -20px;">
															</div>
	   													</div>
	   											</section>
												<footer class="custom-footer">
																																  <div class="container">
																																    <!-- Top navigation -->
																																    <div class="d-flex flex-wrap justify-content-start align-items-center footer-top">
																																		<a  href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends">
																																		<img src="img/Cotodel Logo_Footer.svg" alt="Cotodel Business Payments logo" title="Cotodel Business Payments logo" class="footer-logo me-4">
																																		</a>
																																	</div>
																																    <br>

																																    <nav class="footer-nav text-white">
																																      <a href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends">Home</a>
																																      <a href="/#Solutions" title="Cotodel's Solutions Page to understand about UPI Digital Vouchers for your corporate expense management and fleet expense management" target="_blank">Solutions</a>
																																      <a href="/blogs" title ="Cotodel's Blogs Page to understand about UPI Digital Vouchers for your business spends " target="_blank">Blogs</a>
																																      <a href="/about" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends"target="_blank">About Us</a>
																																      <a href="/contact" title="Contact Cotodel's Business team to onboard your business & fleet spends on UPI " target="_blank">Contact Us</a>
																																    </nav>

																																    <!-- Contact info -->
																																    <div class="footer-contact mt-4 mb-2 d-flex justify-content-start gap-5 flex-wrap">
																																      <div>
																																        <span class="footer-heading">ADDRESS</span>
																																        <p>WeWork, Eldeco Centre, Malviya Nagar<br>New Delhi - 110017</p>
																																      </div>
																																      <div>
																																        <span class="footer-heading">EMAIL</span>
																																        <p><a href="mailto:business@cotodel.com" title="Contact & mail Cotodel's Business team to onboard your business & fleet spends on UPI ">business@cotodel.com</a></p>
																																      </div>
																																    </div>

																																    <hr class="bg-secondary m-0">
																																    <br>

																																    <div class="row footer-bottom align-items-center text-white gy-2">
																																      <div class="col-12 col-md-6 text-center text-md-start">
																																     	
																																		<nav class="footer-nav">
																																	    <span class="footer-heading"> © 2025 Cotodel - All rights reserved </span>
																																		 <a href="/termsconditions" title="Cotodel's Terms & Conditions policy to understand about UPI Digital Vouchers for your business spends " class="footer-heading" target="_blank">Terms & Conditions</a>
																																		<a href="/refundpolicy" title="Cotodel's Refund Policy to understand about UPI Digital Vouchers for your business spends " class="footer-heading" target="_blank">Refund Policy</a>
																																
																																	    </nav>														      
																																	 </div>

																																      <div class="col-12 col-md-2 text-center">
																																      </div>

																																      <div class="col-12 col-md-4 text-center text-md-end d-flex flex-column flex-md-row justify-content-center justify-content-md-end align-items-center">
																																          <div class="social-icons d-flex gap-3">
																																          <a href="https://www.linkedin.com/company/cotodel/" target="_blank" title="Linkedin page for Cotodel - Business Payments on UPI"><i class="fab fa-linkedin"></i></a>
																																          <a href="https://www.instagram.com/cotodelsolutions/" target="_blank" title="Instagram page for Cotodel - Business Payments on UPI"><i class="fab fa-instagram"></i></a>
																																          <a href="https://www.youtube.com/@Cotodel" target="_blank" title="YouTube channel for Cotodel - Business Payments on UPI"><i class="fab fa-youtube"></i></a>
																																		  <a href="https://twitter.com/CotodelSolution" target="_blank" title="X/Twitter page for Cotodel - Business Payments on UPI">
																																		    <i class="bi bi-twitter-x"></i>
																																		  </a>
																																          <a href="https://www.facebook.com/profile.php?id=61555427067314" target="_blank" title="Facebook page for Cotodel - Business Payments on UPI"><i class="fab fa-facebook-f"></i></a>
																																        </div>
																																      </div>
																																    </div>
																																  </div>
																																</footer>
									
									  
									   

		<!-- Modal -->
		 <div class="modal fade custom-modal" id="demoModal" tabindex="-1" aria-hidden="true">
		   <div class="modal-dialog">
		     <div class="modal-content">
		       <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
		       <div class="modal-header-custom">
		         <h5>Book a Demo</h5>
		       </div>
		       <p class="text-center">
		         18 billion UPI transactions are happening every month!<br>
		         Time to get your Business payments on UPI as well?
		       </p>
		       <div class="btn-group-custom">
				<a href="https://calendly.com/business-cotodel/30min" title="Contact & book a 30 mins slot with Cotodel's Business team to onboard your business & fleet spends on UPI " target="_blank" class="btn btn-success">
				  Schedule Call <i class="bi bi-calendar ms-1"></i>
				</a>
		         <span>OR</span>
		         <button class="btn btn-success">
		           Chat with Us <i class="bi bi-whatsapp ms-1"></i>
		         </button>
		       </div>
		     </div>
		   </div>
		 </div>

		   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		   <!-- Bootstrap Icons -->
		   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
		   <!-- Modal1 -->
		   <div class="modal fade custom-modal" id="demoModal1" tabindex="-1" aria-hidden="true">
		   		   <div class="modal-dialog">
		   		     <div class="modal-content">
		   		       <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
		   		       <div class="modal-header-custom">
		   		         <h5>Join the Waitlist</h5>
		   		       </div>
		   		       <p class="text-center">
		   		         18 billion UPI transactions are happening every month!<br>
		   		         Time to get your Business payments on UPI as well?
		   		       </p>
		   		       <div class="btn-group-custom">
						<a class="btn btn-success" href="/waitlist" title="Join the waitlist to get exclusive access to Cotodel's expense management solution to bring your business spends and fleet expenses on UPI">
							
        				   Submit Details 
						   <i class="bi bi-arrow-right"></i>
 		   		         </a>
		   		         <span>OR</span>
		   		         <button class="btn btn-success" id="whatsappButton">
		   		           Chat with Us <i class="bi bi-whatsapp ms-1"></i>
		   		         </button>
		   		       </div>
		   		     </div>
		   		   </div>
		   		 </div>
				 <script>	document.getElementById('whatsappButton').addEventListener('click', function () {
				   				window.open('https://wa.me/919910558848', '_blank'); // Open the URL in a new tab
				   			});</script>
	   <script>
	      let modalShown = false;

	      window.addEventListener("scroll", function () {
	        const scrollPosition = window.scrollY + window.innerHeight;
	        const pageHeight = document.documentElement.scrollHeight;

	        if (!modalShown && scrollPosition >= pageHeight / 2) {
	          const demoModal = new bootstrap.Modal(document.getElementById('demoModal1'));
	          demoModal.show();
	          modalShown = true;
	        }
	      });
	    </script>
   </body>

</html>