<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <title>Refund Policy | Cotodel - Business Payments on UPI</title>
	<meta name="author" content="cotodel.com">
	<meta name="description" content="This policy has the refund terms for Cotodel's clients who want to shift their business expenses & fleet expenses on UPI. This is the smartest way to pay and manage your business spends">
	<meta name="keywords" content="Refund Policy, Business expense management, Fleet expense management, Expense solution for business, UPI Digital vouchers, Corporate expense management, Fleet management">
	<link rel="icon" href="/img/favicon.png" type="image/png">
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/tiny-slider.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="css/style-new.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	  <!-- Bootstrap Icons -->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	 
	 <!-- Google tag (gtag.js) -->
	 	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>
	 	<script>
	 	  window.dataLayer = window.dataLayer || [];
	 	  function gtag(){dataLayer.push(arguments);}
	 	  gtag('js', new Date());

	 	  gtag('config', 'G-4RE141954R');
	 	</script>
	 	
	 	<!-- Google Tag Manager -->
	 	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	 	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	 	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	 	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	 	})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
	 	<!-- End Google Tag Manager -->
	 	<!-- Google Tag Manager (noscript) -->
	 	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
	 	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	 	<!-- End Google Tag Manager (noscript) -->

		
		<style>
		  /* Color styling for the highlighted text */
		  .highlight {
		      color: #2F945A; /* Black text for better readability on white */
		      background: linear-gradient(to bottom, #ffffff, #BFDECC); /* White top, Green bottom */
		      padding: 0.3em 0.6em;
		      border-radius: 6px;
		      display: inline-block;
		    }
			p {
				font-family: 'Open Sans', sans-serif;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 140%;
					  letter-spacing: 0%;
			}
			ul {
			  list-style-position: outside;
			  padding-left: 20px; /* or a bit more if needed */
			  margin-left: 0;
			}
	
			ul li {
			  padding-left: 0;
			  text-indent: 0;
			}
		</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light">
	  <div class="container">
			<a  href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends ">
			 <img src="img/Cotodel Logo.svg" class="navbar-brand-item" alt="Cotodel Business Payments logo" title="Cotodel Business Payments logo" fetchpriority="high">
		</a>
	   
	    <ul class="navbar-nav ms-auto ">
	      <li class="nav-link "><a class="nav-link" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends" href="/">Home</a></li>
	    <!--  <li class="nav-link active border-bottom border-success "><a class="nav-link" href="#">Solutions</a></li>-->
	    </ul>
	  </div>	
	</nav>
	<header class="hero d-flex align-items-center  highlight">
	   <div class="container">
	     <div class="row align-items-center">
	       <div class="col-md-6">
	         <h1>
	           <span><strong>Refund Policy</strong></span> 
	         </h1>
	         
	         <div class="mt-3"> 
			
			<!--<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#demoModal">
			     Book a Demo
			   </button>-->
	         </div>
	       </div>
	       <div class="col-md-6 d-none d-md-flex flex-column justify-content-end">
	         <img src="img/Group 1707478017.webp" alt="Refund Policy for Cotodel Technologies" title="Refund Policy for Cotodel Technologies" class="img-fluid float-end">
	       </div>
		
	   </div>
	 </header><br>
	
	<div class="last-add">
    <div class="container">
       
		<div class="black">
		    <h5><strong>Last updated on 03-02-2025 15:25:28</strong></h5>
		    <p>These terms and conditions constitute the refund policy of Cotodel Technologies Private Limited. Thank you for showing your interest in our services and subscribing to our platform. If you are not happy or sure about your purchase, we are here to make it right.</p>

		    <h5><strong>Terms and Conditions for refund:</strong></h5>
		    <ul>
		        <li>The business must file for refund within 24 hours from subscribing to our services on our platform.</li>
		        <li>If a customer is unsatisfied with the services, they must send a mail to our official company account at <a href="mailto:business@cotodel.com" title="Contact & mail Cotodel's Business team to onboard your business & fleet spends on UPI ">business@cotodel.com</a> explaining the reason for the same. Our business support team will reach out to you at the earliest to address your refund query.</li>
		        <li>If you want more information regarding our refund policy, please contact us at <a href="mailto:business@cotodel.com">business@cotodel.com</a>. We will revert to you within 3 business days and try to understand and solve your concern.</li>
		    </ul>
		</div>
		<p>We started with the objective to make your business spends as seamless as your personal payments and we would like to apologise in advance if for some reason we were unable to meet your expectations. Thank you for choosing Cotodel Technologies Private Limited!</p>
		      
    </div>
	</div>
</body>
</html>