<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Request Approve Vouchers</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">

</head>

<body id="page-top" onload="getSavedVoucherList(),getSavedVoucherListForApprove(),getVoucherListWithIcon()">

<div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>

<!-- Page Wrapper -->
<div id="wrapper">


 <!-- Sidebar -->
<div th:insert="fragments/sidenav.html :: sidevav"></div>
 <!-- End of Sidebar -->


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

		<!-- Topbar -->

	   <!--<div th:insert="fragments/header.html :: header"></div>-->
	<nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

	       <!-- Topbar Navbar -->
	       <ul class="navbar-nav top-nav">

	           <!-- Nav Item - User Information -->
	        <!--   <li class="nav-item">
	               <a class="nav-link active" href="#">
	                   <span class="mr-2 small">Dashboard</span>
	                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
	               </a>
	           </li>
	           <li class="nav-item">
	               <a class="nav-link" href="#">
	                   <span class="mr-2 small">Cotodel Approval</span>
	                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
	               </a>
	           </li>-->

	       </ul>

	   <!-- Right Icons + Profile -->
	   			    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
	   			      <!-- Wallet Icon -->
	   			     <!-- <li class="nav-item mr-3">
	   			        <a href="/settings/wallet" role="button">
	   			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
	   			        </a>
	   			      </li>-->
					  <li class="nav-item mr-3" th:switch="${session.user_role}">
	    			        <a th:case="2" role="button">
	    			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
	    			        </a>
	  					<a th:case="*" href="/cotowallet" role="button">
	    			          <img src="img/Wallet-icon.png" alt="Wallet" class="nav-icon-img" >
	    			        </a>
	    			      </li>
	   			      <!-- Notification Icon -->
	   			      <li class="nav-item mr-3">
	   			        <a href="#" role="button">
	   			          <img src="img/Notification-icon.png" alt="Notification" class="nav-icon-img">
	   			        </a>
	   			      </li>

	   			      <!-- Profile Dropdown -->
	   			      <li class="nav-item dropdown no-arrow">
	   			        <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	   			          <img class="img-profile rounded-circle" src="img/undraw_profile.svg" alt="User" style="width: 32px; height: 32px;">
	   			        </a>
	   			        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
	   			          <a class="dropdown-item" href="/ProfileInfo">
	   			            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
	   			          </a>
	   			       <!--   <a class="dropdown-item" href="#">
	   			            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
	   			          </a>-->
	   			          <div class="dropdown-divider"></div>
	   			          <a class="dropdown-item" href="/logout">
	   			            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
	   			          </a>
	   			        </div>
	   			      </li>
	   			    </ul>
	         </nav>
	    <!-- End of Topbar -->

 <!-- Begin Page Content -->
<div class="container-fluid p-0 p-md-1">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-underline">
                <li class="nav-item"><a data-toggle="tab" href="#home" class="nav-link active" id="homeTab">Request Vouchers</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#menu2" class="nav-link" id="menu2Tab">Requested Vouchers</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#menu1" class="nav-link ">Approve Vouchers</a></li>
               <!-- <li><a data-toggle="tab" href="#menu2">Linked Bank Account</a></li>-->
            </ul>

            <div class="tab-content">
           <div id="home" class="tab-pane in active">

            <div class="policies-section">
                <div class="policies-wrap">
         		 <!--  <div
                class="d-flex justify-content-between border-btm modal-head-secd px-0 py-3">
                <div>
                    <h4 class="mb-0">Request Vouchers </h4>
                </div>
          </div>
-->
  <div class="upi-voucher-wrap selectvouchers-bottom" id="selectvouchers-wrap03">
      <div class="d-flex">
          <h3>Request Vouchers </h3>
      </div>

      <div>
          <p>Please input the details for the Request Vouchers.</p>
      </div>

      <div class="table-responsive">
          <table class="table table-reimbursements selectvouchers-table" id="sourceTable">
              <thead>
                  <tr>
                      <th>Voucher Type</th>
                      <th>Amount</th>
                      <th>Remarks</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody id="voucherTableBody">
                 <tr>
                     
                      <td>
                          <input type="text" class="table-input table-input-voucher" onclick="showVoucherModal(this)"
                           placeholder="Select Voucher">  
  						 <input type="hidden" class="table-input table-input-voucher selectMCC"> 
  						 <input type="hidden" class="table-input table-input-voucher selectPurpose"> 
  						 <input type="hidden" class="table-input table-input-voucher selectMCCDescription"> 
  						 <input type="hidden" class="table-input table-input-voucher selectPurposeDescription">   
                      </td>
                     
  					<td>
  					  <input type="text"  class="table-input" placeholder="Enter Amount" id="amount"  maxlength="6"
  					   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); ">
  					</td>
                 
  					<td>
  					  <div style="position: relative;">
  					    <input type="text" class="table-input validity-input"
  					    placeholder="Enter Remarks"style="padding-right: 10px; box-sizing: border-box;" maxlength="50">
  					</td>
                      <td>
                          <a href="#" onclick="deleteRow(this)"><img src="img/delete.svg" alt=""></a>
                      </td>
                  </tr>
              </tbody>
  			<tr class="text-center">
  			  <td colspan="8" style="background: #EAF4EF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
  			    <a href="#" style="color: #2F945A; font-weight: 700;" onclick="addNewVoucher(event)">+ Add New Voucher</a>
  			  </td>
  			</tr>
          </table>
  		<div id="common-error-msg" style="color: rgb(242, 72, 34); display: none;"></div>
      </div>

			      <div class="w-100 my-3 text-right">
			         <!-- <button class="btn btn-border-primary"
			              onclick="window.location.href='/upiVoucherIssuanceNew';">Back</button>-->
			          <button type="button" class="btn btn-primary"id="continueButton1" onclick="getAllVoucherData()">Request Voucher</button>
			      </div>								
					  </div>
				    <input type="hidden" class="form-input" id="employerMobile" name="employerMobile" th:value="${session.mobile}"> 
					<input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}"> 
					<input type="hidden" class="form-input" id="employerName" name="employerName" th:value="${session.username}"> 
					
                    </div>
                </div>

            </div>
            <div id="menu2" class="tab-pane ">
                <div class="policies-section">

                    <div class="policies-wrap">
                        <div
                            class="d-flex justify-content-between border-btm modal-head-secd px-0 py-3">
                            <div>
                                <h4 class="mb-0">Requested Vouchers </h4>
                            </div>
                            <div class="d-flex">
                              
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="policies-wrap-in-table">
                        <div class="table-responsive">
                            <table class="table table-approval-flow" id=requestedVoucherList>
                                <thead>
									<tr>
                                       <!--<th>
                                           <div class="table-check">
                                               <input type="checkbox" id="customCheck3">
                                           </div>
                                       </th>
                                    -->
                                      
								     <th>Name</th>
                                     <th>Mobile No</th>
                                     <th>Voucher Type</th>
                                     <th>Voucher Amount</th>
                                     <th>Creation Date</th>
							         <th>Remarks</th>
							         <th>Status</th>
                                     </tr>
																							
                                </thead>
                                <tbody>
									
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
				<div id="menu1" class="tab-pane ">
				              <div class="policies-section">

				                  <div class="policies-wrap">
				                      <div
				                          class="d-flex justify-content-between border-btm modal-head-secd px-0 py-3">
				                          <div>
				                              <h4 class="mb-0">Approve Vouchers </h4>
				                          </div>
				                          <div class="d-flex">
				                            
				                            </div>
				                          </div>
				                      </div>
				                  </div>

				                  <div class="policies-wrap-in-table">
				                      <div class="table-responsive">
				                          <table class="table table-approval-flow" id=approveVoucherList>
				                              <thead>
												<tr>
				                                     <!--<th>
				                                         <div class="table-check">
				                                             <input type="checkbox" id="customCheck3">
				                                         </div>
				                                     </th>
				                                  -->
				                                    
											     <th>Name</th>
				                                   <th>Mobile No</th>
				                                   <th>Voucher Type</th>
				                                   <th>Voucher Amount</th>
				                                   <th>Creation Date</th>
				                                  <!-- <th>Validity</th>-->
										         <th>Remarks</th>
												 <th>Approve/Rejected By</th>
										         <th>Status</th>
												 
												 <th>Action</th>
				                                   </tr>
																										
				                              </thead>
				                              <tbody>
												
				                              </tbody>
				                          </table>
				                      </div>
				                  </div>
				              </div>

            </div>

        </div>
    </div>
</div>


    </div>
    <!-- /.container-fluid -->

</div>
			
			<input type="hidden" class="form-input" id="username" name="username" th:value="${session.username}">
            <input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}">
            <input type="hidden" class="form-input" id="empId" name="empId" th:value="${session.empId}">
			<input type="hidden" class="form-input" id="employerMobile" name="employerMobile" th:value="${session.mobile}"> 
			<div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			 
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <div id="bs-canvas-right" class="bs-canvas bs-canvas-right position-fixed bg-white h-100">
        <button type="button" class="bs-canvas-close float-left close" aria-label="Close" aria-expanded="false"><span
                aria-hidden="true">&times;</span></button>
        <div class="bs-canvas-top">
            <div class="bs-canvas-top-img">
                <img src="img/profile-pic.svg" alt="">
            </div>
            <h4>Jhon Doe</h4>
            <p>jhondoe@company.com</p>
        </div>

        <div class="bs-canvas-mid">
            <p>Employee ID</p>
            <b>jhondoe@email.com</b>
            <p>Mobile Number</p>
            <b>+91 9910318406</b>
            <p>Designation</p>
            <b>Product Manager</b>
            <p>Location</p>
            <b>India, Gurgaon</b>
            <p>Reporting Manager</p>
            <b>Jhon Wik</b>
            <p>Employment Type</p>
            <b>Full Time</b>
            <p>Hire date</p>
            <b>10th March, 2024</b>
            <p>App Subscriptions</p>
            <div class="bs-icons">
            <a href="#"><img src="img/microsoft-office.svg" alt=""></a>
            <a href="#"><img src="img/icons8-slack 1.svg" alt=""></a>
            <a href="#"><img src="img/icons8-zoom 1.svg" alt=""></a>
            <a href="#"><img src="img/apps.svg" alt=""></a>
            </div>
        </div>

        <div class="bs-canvas-btm">
            <button class="btn btn-green">More Actions</button>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<script type="text/javascript" src="cotodel-js/requestVoucher.js"></script>
	<script type="text/javascript" src="cotodel-js/requestVoucherList.js"></script>

	<script>	
		
	function getVoucherListWithIcon() {
      const voucherList = document.getElementById('voucherList');
      const purposeList = document.getElementById('purposeList');

      $.ajax({
          type: "GET",
          url: "/getVoucherListWithIcon",
          success: function(data) {
              const parsedData = jQuery.parseJSON(data);
              console.log("Get voucher list with data : ", parsedData);

              voucherList.innerHTML = `
                  <ul id="topCategories" class="top-categories-box"></ul>
                  <h5 style="color: #1F212C; margin: 16px 16px 10px 16px; font-size: 16px; font-weight: 600;">Other Categories</h5>
                  <ul id="otherCategories" class="other-categories"></ul>
              `;

              const topCategories = document.getElementById('topCategories');
              const otherCategories = document.getElementById('otherCategories');
              let fuelGasItem = null;

			  parsedData.data.forEach((item, index) => {
			      const li = document.createElement('li');
			      li.classList.add('voucher-item');
			      li.setAttribute('data-value', item.id); // this is likely voucherCode

			      const img = document.createElement('img');
			      img.src = item.voucherIcon ? `data:image/png;base64,${item.voucherIcon}` : '';
			      img.alt = item.voucherName;

			      const span = document.createElement('span');
			      span.textContent = item.voucherName;
			      span.style.fontWeight = '500';

			      // Create hidden input for voucher code
			      const hiddenInput = document.createElement('input');
			      hiddenInput.type = 'hidden';
			      hiddenInput.name = 'voucherCode';
			      hiddenInput.value = item.purposeCode; // fallback if voucherCode is not separate

			      li.appendChild(img);
			      li.appendChild(span);
			      li.appendChild(hiddenInput); // append hidden input

			      if (item.voucherName === "Fuel & Gas") fuelGasItem = li;

			      if (index < 3) topCategories.appendChild(li);
			      else otherCategories.appendChild(li);
			  });

              voucherList.addEventListener('click', event => {
                  const clickedItem = event.target.closest('li.voucher-item');
                  if (clickedItem) {
                      const purposeCode = clickedItem.getAttribute('data-value');

                      [...voucherList.querySelectorAll('li.voucher-item')].forEach(item => item.classList.remove('selected'));
                      [...purposeList.children].forEach(item => item.remove());
                      clickedItem.classList.add('selected');

                      fetchPurposeListByVoucherCode(purposeCode);
                  }
                  document.getElementById("mccDiv").style.display = "block";
              });

              if (fuelGasItem) fuelGasItem.click();
          },
          error: function(e) {
              alert('Error: ' + e.responseText);
          }
      });
  }

  function fetchPurposeListByVoucherCode(purposeCode) {
      const purposeList = document.getElementById('purposeList');

      $.ajax({
          type: "GET",
          url: "/getPurposeListByVoucherCode",
          data: { "id":purposeCode },
          success: function(data) {
              const parsedData = jQuery.parseJSON(data);
              console.log("fetchPurposeListByVoucherCode : ", parsedData);

              const imageElement = document.getElementById('voucherImageId');
              const textElement = document.getElementById('voucherTextId');

              imageElement.src = parsedData.mccMainIcon.mccMainIcon ? `data:image/png;base64,${parsedData.mccMainIcon.mccMainIcon}` : 'img/fuelVouchers.svg';
              textElement.textContent = parsedData.mccMainIcon.voucherName || "";

              parsedData.data.forEach((item, idx) => {
                  const li = document.createElement('li');
                  li.classList.add('purpose-item');
                  li.setAttribute('data-value', item.mcc+"|"+item.purposeCode);

                  const radioInput = document.createElement('input');
                  radioInput.type = 'radio';
                  radioInput.classList.add('voucher-radioinput');
                  radioInput.name = 'selectvouchers';

                  if (idx === 0) radioInput.checked = true;

                  const img = document.createElement('img');
                  img.src = item.mccIcon ? `data:image/png;base64,${item.mccIcon}` : '';
                  img.classList.add('img-fluid');
                  img.style.height = '20px';
                  img.style.width = '20px';

                  const span = document.createElement('span');
                  span.textContent = item.mccDesc;

                  li.appendChild(radioInput);
                  li.appendChild(img);
                  li.appendChild(span);
                  purposeList.appendChild(li);
              });
          },
          error: function(e) {
              alert('Error: ' + e.responseText);
          }
      });
  }
  function addNewVoucher(event) {
      event.preventDefault();
      const tableBody = document.getElementById('voucherTableBody');

      const newRow = document.createElement('tr');

      newRow.innerHTML = `
          <td>
              <input type="text" class="table-input table-input-voucher" onclick="showVoucherModal(this)" placeholder="Select Voucher">
              <input type="hidden" class="table-input table-input-voucher selectMCC"> 
              <input type="hidden" class="table-input table-input-voucher selectPurpose"> 
              <input type="hidden" class="table-input table-input-voucher selectMCCDescription"> 
              <input type="hidden" class="table-input table-input-voucher selectPurposeDescription">
          </td> 
          <td>
              <input type="text" class="table-input" placeholder="Enter Amount"
                  oninput="
                      // Remove invalid characters
                      this.value = this.value.replace(/[^0-9.]/g, '')
                                             .replace(/(\\..*)\\./g, '$1')
                                             .replace(/^(\\.)/, '0.');
                      
                      // Limit to 6 digits total (ignoring dot)
                      const digitsOnly = this.value.replace(/\\./g, '');
                      if (digitsOnly.length > 6) {
                          // Trim excess digits
                          let allowed = 6;
                          let result = '';
                          for (let ch of this.value) {
                              if (ch !== '.' || result.includes('.')) {
                                  if (ch !== '.' && allowed-- <= 0) break;
                              }
                              result += ch;
                          }
                          this.value = result;
                      }
                  "
              >
          </td>
          <td>
              <div style="position: relative;">
                  <input type="text" class="table-input validity-input" 
                      placeholder="Enter Remarks" style="padding-right: 10px; box-sizing: border-box;" maxlength="50">
              </div>
          </td>
          <td>
              <a href="#" onclick="deleteRow(this)"><img src="img/delete.svg" alt=""></a>
          </td>
      `;

      tableBody.appendChild(newRow);
  }
		function showVoucherModal(inputElement) {
		        const modal = document.getElementById('modalforvccategoryforbulkissuance');
		        modal.style.display = 'block';
		    }
		    function closeModal() {
		        const modal = document.getElementById('modalforvccategoryforbulkissuance');
		        modal.style.display = 'none';
		    }
		    // Ensure modals are closed properly
		    window.onclick = function(event) {
		        const modal = document.getElementById('modalforvccategoryforbulkissuance');
		        if (event.target == modal) {
		            modal.style.display = 'none';
		        }
		    };
	    function deleteRow(button) {
	        const tableBody = document.getElementById("voucherTableBody");
	        const rows = tableBody.querySelectorAll("tr");

	        if (rows.length <= 1) {
	            alert("Cannot delete the first row.");
	            return;
	        }

	        const row = button.parentElement.parentElement;
	        tableBody.removeChild(row);
	    }
		
		async function getAllVoucherData() {
			const username = document.getElementById("username").value;
			   const usermobile = document.getElementById("employerMobile").value;
			   const orgId = document.getElementById("employerId").value;
			   const empId = document.getElementById("empId").value;

			   const tableBody = document.getElementById('voucherTableBody');
			   const rows = tableBody.querySelectorAll('tr');
			   const allVoucherData = [];

			   let isValid = true;

			   rows.forEach(row => {
			       const voucherInput = row.querySelector('.table-input-voucher');
			       const amountInput = row.querySelector('input[placeholder="Enter Amount"]');
			       const remarksInput = row.querySelector('.validity-input');

			       // Reset border color
			       voucherInput.style.borderColor = '';
			       amountInput.style.borderColor = '';
			       remarksInput.style.borderColor = '';

			       // Validation
			       if (!voucherInput.value.trim()) {
			           voucherInput.style.borderColor = 'red';
			           isValid = false;
			       }
			       if (!amountInput.value.trim() || isNaN(amountInput.value) || parseFloat(amountInput.value) <= 0) {
			           amountInput.style.borderColor = 'red';
			           isValid = false;
			       }
			       if (!remarksInput.value.trim()) {
			           remarksInput.style.borderColor = 'red';
			           isValid = false;
			       }

				   if (isValid) {
		               allVoucherData.push({
		                   voucher: voucherInput.value.trim(),
		                   mcc: row.querySelector('.selectMCC')?.value || '',
		                   purpose: row.querySelector('.selectPurpose')?.value || '',
		                   mccDescription: row.querySelector('.selectMCCDescription')?.value || '',
		                   purposeDescription: row.querySelector('.selectPurposeDescription')?.value || '',
		                   amount: amountInput.value.trim(),
		                   remarks: remarksInput.value.trim()
		               });
				   }
				
			});

			if (!isValid) {
				document.getElementById("common-error-msg").innerHTML="Please fill all required fields correctly (Voucher, Amount, Remarks).";
				document.getElementById("common-error-msg").style.display="block";
				return;
			}
			else{
				document.getElementById("common-error-msg").innerHTML="Please fill all required fields correctly (Voucher, Amount, Remarks).";
			}

			console.log(allVoucherData);

			const clientKey = "client-secret-key";
			const secretKey = "0123456789012345";
			const dataString = orgId + empId + clientKey + secretKey;

			const encoder = new TextEncoder();
			const data = encoder.encode(dataString);
			const hashBuffer = await crypto.subtle.digest("SHA-256", data);
			const hashArray = Array.from(new Uint8Array(hashBuffer));
			const hashHex = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

			$.ajax({
				type: "POST",
				url: "/requestVoucher",
				contentType: "application/json",
				data: JSON.stringify({
					orgId: orgId,
					employeeId: empId,
					createdby: usermobile,
					employeeName: username,
					employeeMobile:usermobile,
					voucherRequestData: allVoucherData,
					clientKey: clientKey,
					hash: hashHex
				}),
				success: function (data) {
					var data = jQuery.parseJSON(data);
					console.log("data", data);
					if (data.status === true) {
						
						document.getElementById("homeTab").classList.remove("active");
						document.getElementById("menu2Tab").classList.add("active");
						document.getElementById("home").classList.remove("active");
						document.getElementById("menu2").classList.add("active");
						
						$('#PaymentSuccessModal').modal('show');
						getSavedVoucherListForApprove();
						getSavedVoucherList();
						
		            } else {
		                $("#otfailmsg").text(data1.message);
		                $("#otfailmsgDiv").show();
		            }
				},
				error: function (e) {
					alert('Error: ' + e);
				}
			});
		}

	</script>	

	<script>
		    let currentRowInput;

		    function showVoucherModal(inputElement) {
		        currentRowInput = inputElement;
		        const modal = document.getElementById('modalforvccategoryforbulkissuance');
		        modal.style.display = 'block';
		    }

		    function getVoucherDetail() {
		        // Get the selected voucher data (image and name)
		        const selectedVoucherItem = document.querySelector('.voucher-item.selected');
		        
		        let selectedVoucherName = null;
		        let selectedVoucherCode = null;
		        let selectedPurposeCode = null;
		        let selectedPurposeName = null;

		        if (selectedVoucherItem) {
		            selectedVoucherCode = selectedVoucherItem.querySelector('input[name="voucherCode"]').value;
		            selectedVoucherName = selectedVoucherItem.querySelector('span').textContent;
		        } else {
		            alert('No voucher selected!');
		            return false;
		        }
		        // Get the selected radio button data (Purpose List)
		        const selectedRadioButton = document.querySelector('input[name="selectvouchers"]:checked');
		        if (selectedRadioButton) {
		            selectedPurposeCode = selectedRadioButton.closest('li').getAttribute('data-value');
		            selectedPurposeName = selectedRadioButton.closest('li').querySelector('span').textContent;
		            const show = selectedPurposeName.substring(0, 5);
		        } else {
		            alert('No purpose selected!');
		            return false;
		        }

		        if (currentRowInput) {
		            const currentRow = currentRowInput.closest('tr');
		            //currentRow.querySelector('.table-input-voucher').value = selectedVoucherName.substring(0, 5) + " | " + selectedPurposeName.substring(0, 5) + "...";
					currentRow.querySelector('.table-input-voucher').value = selectedPurposeName;
										
					let parts = selectedPurposeCode.split("|");
					console.log(parts[0]); // "5411"
					console.log(parts[1]); // "3A"
					currentRow.querySelector('.selectMCC').value =  parts[0];// "5411"
		            currentRow.querySelector('.selectPurpose').value  = parts[1]; // "3A"
		            currentRow.querySelector('.selectMCCDescription').value  = selectedVoucherName;
		            currentRow.querySelector('.selectPurposeDescription').value = selectedPurposeName;
		        }
		        // Hide the modal
		        closeModal();
		    }

		    function closeModal() {
		        const modal = document.getElementById('modalforvccategoryforbulkissuance');
		        modal.style.display = 'none';
		    }
			
		</script>
	
	<script>
	    function getVoucherSubTypes() {
	        const selectedVoucherCode = document.getElementById('VoucherType').value;
	        const subTypeDropdown = document.getElementById('VoucherSubType');
	        
	        if (!selectedVoucherCode) {
	            subTypeDropdown.innerHTML = '<option value="">Select Voucher Sub Type</option>';
	            return;
	        }

	        $.ajax({
	            type: "GET",
	            url: "/getPurposeListByVoucherCode",
	            data: { purposeCode: selectedVoucherCode },
	            success: function (data) {
	                const parsedData = jQuery.parseJSON(data);
					console.log("parsed data for /getPurposeListByVoucherCode",parsedData);
	                
	                subTypeDropdown.innerHTML = '<option value="">Select Voucher Sub Type</option>';
	                
	                parsedData.data.forEach(item => {
	                    const option = document.createElement('option');
	                    option.value = item.mcc;
	                    option.textContent = item.mccDesc;
	                    subTypeDropdown.appendChild(option);
	                });
	            },
	            error: function (e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }
	
		function validateAmount() {
				    const availableBalance = document.querySelector(".text-wrapper-3")
				                                     .textContent
				                                     .replace(/[₹,]/g, '')
				                                     .trim();
				    const amountInput    = document.getElementById("amount");
				    const continueButton = document.getElementById("continueButton1");
				    const errorMessage   = document.getElementById("common-error-msg");
				    const accountType    = document.getElementById("accountSeltWallet").value;

				    const balance = parseFloat(availableBalance);
				    const rawValue = amountInput.value.trim();
				    const amount = parseFloat(rawValue);

				    // Reset
				    errorMessage.style.display = "none";
				    continueButton.disabled = false;

				    if (accountType === "Wallet") {
				      if (balance === 0) {
				        errorMessage.textContent = "Please add balance in wallet";
				        errorMessage.style.display = "inline";
				        continueButton.disabled = true;
				      } else if (rawValue === "" || isNaN(amount) || amount <= 0) {
				        // Handle empty, invalid, or zero-like input (0000, 0.00, .)
				        errorMessage.textContent = "Please enter a valid amount";
				        errorMessage.style.display = "inline";
				        continueButton.disabled = true;
				      } else if (amount > balance) {
				        errorMessage.textContent = "Maximum amount allowed is ₹" + balance;
						amountInput.value          = balance;
				        errorMessage.style.display = "inline";
				        continueButton.disabled = true;
				      }
				    }
				  }

	</script>
	
    <script>
		
		$(document).ready(function(){
		 	 $(".innernav").click(function(){
		         $(".dropdownNav").addClass("active");
		     });
		 	 $('li.active').removeClass('active').removeAttr('aria-current'); 
		 	  $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page');   
		 });
		
        $(document).ready(function () {
            $("#hide").click(function () {
                $(".ftr-content").hide();
            });
            $("#show").click(function () {
                $(".ftr-content").show();
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        jQuery(document).ready(function ($) {
            var bsOverlay = $('.bs-canvas-overlay');
            $('[data-toggle="canvas"]').on('click', function () {
                var ctrl = $(this),
                    elm = ctrl.is('button') ? ctrl.data('target') : ctrl.attr('href');
                $(elm).addClass('mr-0');
                $(elm + ' .bs-canvas-close').attr('aria-expanded', "true");
                $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "true");
                if (bsOverlay.length)
                    bsOverlay.addClass('show');
                return false;
            });

            $('.bs-canvas-close, .bs-canvas-overlay').on('click', function () {
                var elm;
                if ($(this).hasClass('bs-canvas-close')) {
                    elm = $(this).closest('.bs-canvas');
                    $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "false");
                } else {
                    elm = $('.bs-canvas')
                    $('[data-toggle="canvas"]').attr('aria-expanded', "false");
                }
                elm.removeClass('mr-0');
                $('.bs-canvas-close', elm).attr('aria-expanded', "false");
                if (bsOverlay.length)
                    bsOverlay.removeClass('show');
                return false;
            });
        });

    </script>
	<script>
	    function getVoucherSubTypes() {
	        const selectedVoucherCode = document.getElementById('VoucherType').value;
	        const subTypeDropdown = document.getElementById('VoucherSubType');
	        
	        if (!selectedVoucherCode) {
	            subTypeDropdown.innerHTML = '<option value="">Select Voucher Sub Type</option>';
	            return;
	        }

	        $.ajax({
	            type: "GET",
	            url: "/getPurposeListByVoucherCode",
	            data: { purposeCode: selectedVoucherCode },
	            success: function (data) {
	                const parsedData = jQuery.parseJSON(data);
					console.log("parsed data for /getPurposeListByVoucherCode",parsedData);
	                
	                subTypeDropdown.innerHTML = '<option value="">Select Voucher Sub Type</option>';
	                
	                parsedData.data.forEach(item => {
	                    const option = document.createElement('option');
	                    option.value = item.mcc;
	                    option.textContent = item.mccDesc;
	                    subTypeDropdown.appendChild(option);
	                });
	            },
	            error: function (e) {
	                alert('Error: ' + e.responseText);
	            }
	        });
	    }
	</script>
	<script>
		
		function closeCustomModal(id) {
		    document.getElementById(id).style.display = 'none';
		}
	  document.addEventListener('click', function (e) {
	    if (e.target.closest('#revokeUPIVcAuthenticate .close')) {
	      document.getElementById('revokeUPIVcAuthenticate').style.display = 'none';
	    }
	  });
	</script>


			<!-- Modal UPI Voucher Revoked -->
			<div class="customModal" id="revokeUPIVcAuthenticate">
			    <div class="modal-dialog modal-dialog-centered" role="document">
			        <div class="modal-content modal-bulk p-0">
			            <div class="modal-top text-center">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <img src="img/modal-close.svg" alt="">
			                </button>
			                <img src="img/modal-success.svg" alt="">
			            </div>
			            <div class="modal-bottom">
			                <span>Voucher Approved Successfully</span>
			            </div>
			        </div>
			    </div>
			</div>

			<!-- Modal UPI Voucher Revoked -->
				<div class="customModal" id="revokeUPIVcAuthenticateReject">
				    <div class="modal-dialog modal-dialog-centered" role="document">
				        <div class="modal-content modal-bulk p-0">
				            <div class="modal-top text-center">
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
								onclick="closeCustomModal('revokeUPIVcAuthenticateReject')">
				                    <img src="img/modal-close.svg" alt="">
				                </button>
				                <img src="img/modal-success.svg" alt="">
				            </div>
				            <div class="modal-bottom">
				                <span>Voucher Reject Successfully</span>
				            </div>
				        </div>
				    </div>
				</div>

			
			<!-- Modal UPI Voucher Revoked -->
			<div class="customModal" id="revokeUPIVcAuthenticateFail">
			    <div class="modal-dialog modal-dialog-centered" role="document">
			        <div class="modal-content modal-bulk p-0">
			            <div class="modal-top text-center">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <img src="img/modal-close.svg" alt="">
			                </button>
			                <img src="img/table-fail.svg" alt="">
			            </div>
			            <div class="modal-bottom">
			                <span>UPI Voucher Approval Failed</span>
			            </div>
			        </div>
			    </div>
			</div>

			<!-- Modal UPI Voucher Revoked -->
			<div class="customModal" id="revokeUPIVcAuthenticateFailReject">
			    <div class="modal-dialog modal-dialog-centered" role="document">
			        <div class="modal-content modal-bulk p-0">
			            <div class="modal-top text-center">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <img src="img/modal-close.svg" alt="">
			                </button>
			                <img src="img/table-fail.svg" alt="">
			            </div>
			            <div class="modal-bottom">
			                <span>UPI Voucher Rejecton Failed</span>
			            </div>
			        </div>
			    </div>
			</div>
			
			<!-- Modal Issue Vouchers -->
			<div class="customModal" id="revokeModal">
			    <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-xxl" role="document">
			        <div class="modal-content modal-bulk p-0">
			            <div class="modal-header pb-0 text-center">
			                <h5 class="modal-title w-100" id="exampleModalCenterTitle">Are you sure?</h5>
			            </div>
			            <hr>
			            <p class="text-dark">Please confirm if you would like to ‘Approve’ this  Voucher Request.</p>
			            <div class="modal-body text-center">
			              
						<div class="table-responsive">
			                <div class="table table-reimbursements table-upivouchers">
			                    <div class="tablehead">
									<input type="hidden" id="revokeId">
			                        <div class="tabletheadtr">
			                            <span>Name <img src="img/Sort.png" alt=""></span>
										<span></span>
			                            <span>Mobile</span>
										<span>Amount </span>
			                           <!-- <span>Bank A/c </span>-->
			                           <!-- <span>Voucher &amp; Type <img src="img/Sort.png" alt=""></span>-->
			                            <span>Status <img src="img/Sort.png" alt=""></span>
			                            <span>Requested Date</span>
										<span></span>
										<span></span>
			                        </div>
			                    </div>

			                    <div class="tablebody">
			                        <div class="tablebodytr">
			                            <span id="popupFieldName"></span>
			                            <span id="popupFieldMobile"></span>
										<span id="popupFieldAmount"></span>
			                           
			                            <span id="popupFieldpurposeDesc">
			                               
			                            </span>
			                            <span><label>Active</label></span>
			                            <span id="popupFieldStartDate"></span>
			                            <span  id="popupFieldExpiryDate"></span>
			                        </div>
			                    </div>
								<div class="tablebody">
									
				                        <div class="tablebodytr">
				                          <span id="rejectLabel">Enter Reject Remark</span> <input type="text" id="rejectRemark" name="rejectRemark" >
				                        </div>
										<div class="error-msg" id="rejectRemarkerror" style="color:red"></div>
																		
				                    </div>
			                </div>
			            </div>
			                <div class="d-flex justify-content-center mt-3">
			                    <button class="btn btn-border w-100" id="btnRevoke" onclick="approveReject()" >Approve</button>
			                    <button class="btn btn-primary w-100" id="cancelbtn" onclick="rejectVoucher()" >Reject</button>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

			   
	<div class="modalView" id="VoucherRequestSuccess">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-bulk p-0">
                <div class="modal-top text-center">
                    <button type="button" class="close p-0"  data-dismiss="modal" id="approvedClose" onclick="approvedClose()" aria-label="Close" style="right: 10px; top: 0;">
                        <img src="img/modal-close.svg" alt="">
                    </button>
                    <img src="img/modal-success.svg" alt="">
                </div>
                <div class="modal-bottom">
                   <span>Data saved SuccessFully!</span>
                </div>
            </div>
        </div>
    </div>
	<script>
				
				let revokeValue = null;

				function openRevokeDialog(rowData) {
					
					if (typeof rowData === "string") {
					     rowData = JSON.parse(decodeURIComponent(rowData));
					  }
					  document.getElementById("revokeId").value = rowData.id; // Example
					  document.getElementById("popupFieldName").innerText = rowData.name; 
					  document.getElementById("popupFieldMobile").innerText = rowData.mobile; 
					  document.getElementById("popupFieldAmount").innerText = rowData.amount; 
					  document.getElementById("popupFieldStartDate").innerText = rowData.creationDate; 
				      revokeValue = rowData.value; // Store the button value
				      document.getElementById("revokeModal").style.display = "flex";
				}
				function closeRevokeDialog() {
				    document.getElementById("revokeModal").style.display = "none";
				}
				function confirmRevokeDialog() {
				    console.log("Revoke confirmed for value:", revokeValue);
				    revoke(revokeValue);
				    closeRevokeDialog();
				}
			let resendValue = null;

						function sendSMSModal(rowData) {
							
							if (typeof rowData === "string") {
							     rowData = JSON.parse(decodeURIComponent(rowData));
							  }
						    resendValue = rowData.value; // Store the button value
						    document.getElementById("sendSMSModal").style.display = "flex";
						}
						function closeresendDialog() {
						    document.getElementById("sendSMSModal").style.display = "none";
						}

						function confirmRevokeDialog() {
						    console.log("Revoke confirmed for value:", resendValue);
						    resendsms(resendValue);
						    closeresendDialog();
						}
					//	document.getEle
					
					
	</script>
 

    <!-- Modal Confirm -->
    <div class="modal fade" id="ModalExpensesSubmitted" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-bulk">
                <div class="modal-top text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="img/modal-close.svg" alt="">
                    </button>
                    <img src="img/modal-success.svg" alt="">
                </div>
                <div class="modal-bottom">
                    <div class="count"><span>4</span><strong>10</strong></div>
                    <br>
                    <span>Expenses submitted Successfully!</span>
                </div>
            </div>
        </div>
    </div>


<!-- Modal Issue Vouchers -->
   <div class="customModal" id="modalforvccategoryforbulkissuance">
       <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-xxl" role="document">
           <div class="modal-content modal-bulk my-2">                 
               <div class="modal-body text-left p-0">
                   <div class="tab-content m-0">
                       <div class="upi-voucher-wrap m-0 p-0">
                           <div>
                               <h3>Select Voucher Category for Voucher Issuance </h3>
                               <p>Select Vouchers from the selection provided below, and continue to enter details for issuance. </p>
                           </div>

                           <hr>

                           <div class="row">
                               <div class="col-12 col-md-4">
                                   <div class="leftselctVoucehrs" >
                                       <h4>Vouchers Categories</h4>
                                       <ul id="voucherList">
                                          
                                       </ul>
                                   </div>
                               </div>
                               <div class="col-12 col-md-8 pl-sm-0">
                                   <div class="rightselctVoucehrs" id="mccDiv" style="display: none;">
                                       <div class="row">
                                           <div class="col-12 col-md-3">
                                               <div class="select-upivouchers">
                                                   <img id="voucherImageId" src="img/fuelVouchers.svg" alt="" class="img-fluid" height="150px" width="200px">
                                               </div>
                                           </div>
                                           <div class="col-12 col-md-7">
                                               <div class="cards-upivouchers-desc">
                                                   <h4><span id="voucherTextId"></span> Vouchers</h4>
                                                   <p>To issue e-RUPI Voucher, please select a category, a sub-category or an associated brand: </p>
                                               </div>
                                           </div>
                                       </div>

                                       <hr>

                                       <div class="row">
                                           <div class="col-12">
                                               <div class="selctedVoucehr">
                                                   <ul id="purposeList">
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col-12 text-right mt-3">
                                  <!-- <button class="btn btn-border-primary mb-1" onclick="window.location.href='create-upi-voucher-issue-manually.html';">Back</button>-->
							   <button class="btn btn-border-primary mb-1" onclick="closeModal()">Back</button>
                      			   <button class="btn btn-primary mb-1" onclick="getVoucherDetail()">Continue</button>
							 </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
<div class="modal fade" id="PaymentSuccessModal" tabindex="-1" role="dialog" aria-labelledby="paymentSuccessModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content rounded-3" style="width: 500px; height: 308px; border-radius: 20px; opacity: 1; padding: 50px; gap: 40px;">
	      <!--<button
	        type="button"
	        class="voucher-close-btn bs-canvas-close btn btn-link p-0"
	        aria-label="Close"
	        data-dismiss="modal"
	        style="margin-right: -65px; outline: none; box-shadow: none;"
	      >
	        <i class="fas fa-times voucher-close-icon"></i>
	      </button>-->
	      <div class="modal-body text-center py-5" style="margin-top: -45px;">
	        <div class="success-icon mb-4">
	          <img src="img/green-check-circle-filled.png" alt="Success" style="width: 48px; height: 48px;">
	        </div>
	        <h5 class="mb-3" id="paymentSuccessModalTitle" style="color:#1F212C; font-weight:700;">Done</h5>
	        <p class="text-muted mb-4">
	          Voucher Requested Successfully
	        </p>
	        <button type="button" class="btn btn-pay-now w-100 mt-4" data-dismiss="modal">OK</button>
	      </div>
	    </div>
	  </div>
	</div>
</html>
<style>	/* Top box categories */
	/* Page root optional cleanup */
	body {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    font-family: Arial, sans-serif;
	}

	/* Parent container */
	/* Parent container */
	#voucherList {
	    width: 100%;
	    max-width: 1200px;
	    padding-left: 16px;
	    padding-right: 16px;
	    margin: 0 auto;
	    box-sizing: border-box;
	   /* overflow-y: scroll;*/
	    height: 400px;

	 /*   scrollbar-width: thin;*/
	  /*  scrollbar-color: #2F945A #EAF4EF;*/
	}

	#voucherList::-webkit-scrollbar {
	    width: 8px;
	}

	#voucherList::-webkit-scrollbar-track {
	    background: #EAF4EF;
	    border-radius: 8px;
	}

	#voucherList::-webkit-scrollbar-thumb {
	    background-color: #2F945A;
	    border-radius: 8px;
	    border: 2px solid #EAF4EF;
	}

	/* Top box categories */
	.top-categories-box {
	    background-color: #EAF4EF;
	    padding: 20px;
	    border-radius: 20px;
	    list-style: none;
	    width: 100%;
	    max-width: 600px; /* optional to control max width of the box */
	    margin: 10px auto;
	    box-sizing: border-box;
	}

	/* Section title */
	#voucherList h5 {
	    color: #1F212C;
	    margin: 10px 0;
	    font-size: 16px;
	    font-weight: 600;
	}

	/* Other categories list */
	.other-categories {
		margin-top: 10px;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    max-width: 600px;
	    margin: 0 auto;
	    box-sizing: border-box;
	}

	/* List item */
	.voucher-item {
	    display: flex;
	    align-items: center;
	    gap: 12px;
	    padding: 8px 12px;
	    border-radius: 8px;
	    cursor: pointer;
	    transition: background-color 0.1s ease, color 0.1s ease;
	    width: 100%;
	    box-sizing: border-box;
	    background-color: transparent;
	    position: relative;
	    z-index: 1;
	}

	/* Hover effect */
	.voucher-item:hover {
	    background-color: #2F945A !important;
	    color: #FFFFFF !important;
	}

	.voucher-item:hover span {
	    color: #FFFFFF !important;
	}

	/* Selected item stays green */
	.voucher-item.selected {
	    background-color: #2F945A;
	    color: #FFFFFF;
	}

	.voucher-item.selected span {
	    color: #FFFFFF;
	}

	/* Image style */
	.voucher-item img {
	    height: 32px;
	    width: 32px;
	    flex-shrink: 0;
	}


</style>
