<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block>


<body id="page-top" onload="getUserWithRole(),editUserRoleWithMoreUser()">

    <div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
			      
		<div th:insert="fragments/erupi-sidenav.html :: sidevav"></div>
		
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav top-nav">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span class="mr-2 small">Dashboard</span>
                                <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                            </a>
                        </li>
						<li class="nav-item">
                           <a class="nav-link" href="#">
                               <span class="mr-2 small">Role Access</span>
                               <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
                           </a>
                       </li>

                    </ul>
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="mr-2 d-none d-lg-inline text-gray-600 small" > <p th:text="${session.username}"></p> </span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/ProfileInfo}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                              
                               <!--  <div class="dropdown-item dropdown-footer form-group mb-0" >
					            <a class="float-right btn text-white custom-btn-dark btn-sm mb-0"  th:href="@{/logout}">
							          <i class="fas fa-user-circle"></i> Logout         
							        </a>
					          </div> -->  
                              <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" > </i>
                                    Logout
                                </a>
                            </div>
                        </li>
					 </ul>		

                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs expense-tabs">
                                <li class="active"><a data-toggle="tab" href="#home1">Role Access</a></li>
                                <li><a data-toggle="tab" href="#menu11">Employee Bands</a></li>
                                <li><a data-toggle="tab" href="#menu22">Bank A/C Linking</a></li>
                                <li><a data-toggle="tab" href="#menu33">Expenses & Advance</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home1" class="tab-pane in active">
                                    <div class="role-access-wrap" id="RoleAaccessWrap01">
                                        <div class="role-access-wrapin-top">
                                            <div class="role-access-wrapin-topflex d-flex justify-content-between py-3">
                                                <div>
                                                    <h4 class="mb-0">Following users have access to selected controls:
                                                    </h4>
                                                </div>
                                                <div>
                                                <button class="btn btn-border-primary mr-1 mb-1"
                                                    id="btnroleAcess">Role Access <img src="img/rollAccessIcon.png" alt="" /></button>
												 <!--<button class="btn btn-primary mb-1" id="addEditroleAccess" th:if="${session.user_role == 9}">Add/Edit View</button>-->
												 <button class="btn btn-primary mb-1" id="addEditroleAccess">Add/Edit View</button>
												                                          
                                                </div>
                                            </div>
                                        </div>
                                        <div class="role-access-wrapin-bottom">
                                            <div class="table-responsive">
                                                <table class="table table-reimbursements" id="userTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>User Name</th>
                                                            <th>Email</th>
                                                            <th>Mobile</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="role-access-wrap" style="display: none;" id="RoleAaccessWrap02">
                                        <div class="role-access-wrapin-top">
                                            <div class="organisation-wrap">
                                                <h3 class="mb-2">Edit View Activated</h3>
                                            </div>
                                            <div class="role-access-wrapin-topflex d-flex justify-content-between py-3">
                                                <div>
                                                    <h4 class="mb-0">Following users have access to selected controls:
                                                    </h4>
                                                </div>
                                                <div>
                                                    <button class="btn btn-border-primary mr-1 mb-1"
                                                        id="btnroleAcess1">Role Access <img src="img/rollAccessIcon.png"
                                                            alt="" /></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="role-access-wrapin-bottom">
                                            <div class="table-responsive">
                                                <table class="table table-reimbursements" id="editUserRole">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Mobile</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    </tbody>
                                                </table>
										      	<div class="table table-reimbursements">
	                                              <!-- <a href="#" class="text-green">Add +</a>-->
												  
                                                  <div colspan="8" align="right">
                                                      <button class="btn mr-1 mb-1 no-bg border-0" id="lastrowaddBtn">Add +</button>                                                            
                                                  </div>
                                                
												<!-- <button class="text-green" id="addRowButton">Add +</button>-->
	                                           </div>
                                            </div>

                                            <div class="unstyled centered d-flex mt-2">
                                                <input class="styled-checkbox" id="styled-checkbox-40" type="checkbox"
                                                    value="value1">
                                                <label for="styled-checkbox-40"></label>
                                                <p class="d-inline mb-0 ml-2">I confirm that the changes made are to the
                                                    best of my knowledge, and are approved by the competent authority in
                                                    my organization.</p>
                                            </div>
											<div class="error-msg" id="styled-checkbox-40Error" style="color:red"></div>
                                            <hr>
											<input type="hidden" class="form-input" id="employerId" name="employerId" th:value="${session.id}"> 
											<input type="hidden" class="form-input" id="employerName" name="employerName" th:value="${session.username}"> 
											<input type="hidden" class="form-input" id="userMobile" name="userMobile" th:value="${session.mobile}"> 
                                            <div class="d-block text-right">
                                                <button class="btn btn-border-primary mr-1 mb-1" id="BackroleAcess">Back</button>
												<!--	<button class="btn btn-primary mb-1" onclick="roleUpdate()">Confirm Changes</button>
-->                                             <button class="btn btn-primary mb-1" id="editRole" onclick="getOTP()">Confirm Changes</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="menu11" class="tab-pane">
									
								 </div>
                                <div id="menu22" class="tab-pane"> </div>
                                <div id="menu33" class="tab-pane"> </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
		

		<div class="lds-spinner" id="signinLoader" style="display: none">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="customModal modal btnroleAcessModal">
        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg">
            <div class="modal-content modal-bulk p-0">
                <div class="modal-header pb-0">
                    <h5 class="modal-title">Role Access</h5>
                    <span id="closeBtn" class="close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customModal modal btnroleAcessModal1">
        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg">
            <div class="modal-content modal-bulk p-0">
                <div class="modal-header pb-0">
                    <h5 class="modal-title">Role Access</h5>
                    <span id="closeBtn1" class="close">&times;</span>
                </div>
                <div class="modal-body pt-0">
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                    <div class="roleAccessModal-wrap">
                        <h5>Title:</h5>
                        <ul>
                            <li>Exhausted Vouchers: Completely redeemed</li>
                            <li>Revoked Vouchers: Partially redeemed</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="customModal modal" id="roleAcessOTPModal">
        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg">
            <div class="modal-content modal-bulk p-0">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100">Confirm Role Access Changes</h5>
                </div>				
				<div class="modal-body text-center">
				    <div class="otp-box-onboarding justify-content-center">
					
						<input  class="form-control form-control-sm test" type="password" id="password1" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password1" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="password" id="password2" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password2" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="password" id="password3" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password3" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="password" id="password4" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password4" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="password" id="password5" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password5" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="password" id="password6" 
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
					        name="password6" maxlength="1" autocomplete="off" onkeydown="focusBack()">
					        <input  class="form-control form-control-sm test" type="hidden" id="orderId" 
					        name="orderId" >
				    </div>
				   <label class="time-otp ml-0 text-dark" for="" id="countdown" style="color: green;"></label>
				  <!-- <div class="text-center" id="countdown" style="color: green;"></div>-->
					<p id="resendCode">Didn’t receive the code?  <a href="#" onclick="resendVoucherOTP()">Resend OTP</a></p>
				    <div class="tip-wrap justify-content-center">
				        <p class="mb-0">OTP code has been sent to your phone. Enter OTP to validate issuance.</p>
				    </div>
					
					<div class="error-msg" id="otpError" style="color:red"></div>
					
				    <div class="d-flex justify-content-center mt-3">
						<!--
				        <button class="btn btn-primary w-100" id="authenticatereport">Authenticate</button>
						-->
						<button class="btn btn-primary w-100" id="authenticate"  onclick="verfyIssueVoucherOTP()">Authenticate</button>
				    </div>
				</div>

				
            </div>
        </div>
    </div>

	<div class="customModal modal" id="addRoleAcessOTPModal">
	        <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-lg">
	            <div class="modal-content modal-bulk p-0">
	                <div class="modal-header text-center">
	                    <h5 class="modal-title w-100">Confirm Add Users Roles</h5>
	                </div>				
					<div class="modal-body text-center">
					    <div class="otp-box-onboarding justify-content-center">
						
							<input  class="form-control form-control-sm test" type="password" id="password11" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password1" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="password" id="password22" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password2" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="password" id="password33" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password3" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="password" id="password44" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password4" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="password" id="password55" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password5" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="password" id="password66" 
								oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
						        name="password6" maxlength="1" autocomplete="off" onkeydown="focusBack()">
						        <input  class="form-control form-control-sm test" type="hidden" id="orderId" 
						        name="orderId" >
					    </div>
					   <label class="time-otp ml-0 text-dark" for="" id="countdown" style="color: green;"></label>
					  <!-- <div class="text-center" id="countdown" style="color: green;"></div>-->
						<p id="resendCode">Didn’t receive the code?  <a href="#" onclick="resendVoucherOTP()">Resend OTP</a></p>
					    <div class="tip-wrap justify-content-center">
					        <p class="mb-0">OTP code has been sent to your phone. Enter OTP to validate issuance.</p>
					    </div>
						
						<div class="error-msg" id="otpError" style="color:red"></div>
						
					    <div class="d-flex justify-content-center mt-3">
							<!--
					        <button class="btn btn-primary w-100" id="authenticatereport">Authenticate</button>
							-->
							<button class="btn btn-primary w-100" id="authenticateAdd"  onclick="verfyAddRoleOTP()">Authenticate</button>
					    </div>
					</div>

					
	            </div>
	        </div>
	    </div>

	<div id="popup">
	        <h3>Employee Details</h3>
	        <p id="popupContent"></p>
	        <button onclick="closePopup()">Close</button>
	</div>
	
	<div class="customModal modal lastrowaddBtnWrap">
	    <div class="modal-dialog modal-dialog-centered modal-approval-wrap modal-xl">
	        <div class="modal-content modal-bulk p-0">
	            <div class="modal-header">
	                <h5 class="modal-title">Add Role </h5>
	                <span id="closeBtn0" class="close">&times;</span>
	            </div>
	            <div class="modal-body pt-0">
	                <div class="role-access-wrapin-bottom role-access-wrapin-bottom-add">
	                    <div class="table-responsive">
	                        <table class="table table-reimbursements" id="resultTable">
								<thead id="tableHeader">
					               <!-- Headers will be dynamically generated -->
						           </thead>
						           <tbody id="tableBody">
					               <!-- Rows will be dynamically generated -->
					           </tbody>
	                        </table>
							
							<div>
                                <div class="autocomp-input-wrap">
                                    <!--<input type="text" class="autocomp-input" id="search"
                                    placeholder="Search Employee..."
                                    autocomplete="off">-->
									<input type="text" class="autocomp-input" id="searchBox" placeholder="Search Employee..." oninput="searchEmployee()" />
                                <div id="autocomplete-suggestions"
                                    class="autocomplete-dropdown"></div>
                                </div>                                                                
                            </div>
							<div class="unstyled centered d-flex mt-2">
                               <input class="styled-checkbox" id="styled-checkbox-41" type="checkbox"
                                   value="Yes">
                               <label for="styled-checkbox-41"></label>
                               <p class="d-inline mb-0 ml-2">I confirm that the changes made are to the
                                   best of my knowledge, and are approved by the competent authority in
                                   my organization.</p>
                           </div>
						   <div class="error-msg" id="styled-checkbox-41Error" style="color:red"></div>
	                    </div>

	                    <div class="d-block text-right">
	                        <button class="btn btn-primary mb-1" onclick="getAddOTP()" id="addSubmit">Submit</button>
						  <!-- <button class="btn btn-primary mb-1" onclick="addRole()()">Submit</button>-->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <div class="customModal modal" id="roleAcessModalSuccessful">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-bulk p-0">
                <div class="modal-top text-center">
                    <button type="button" class="close p-0" id="roleAcessSuccessfulClose" data-dismiss="modal" aria-label="Close" style="right: 10px; top: 0;">
                        <img src="img/modal-close.svg" alt="">
                    </button>
                    <img src="img/modal-success.svg" alt="">
                </div>
                <div class="modal-bottom">
                    <span>Role Acess Modal Successful</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
	<script type="text/javascript" src="cotodel-js/user-role-access.js"></script>
	 
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		  $('li.active').removeClass('active').removeAttr('aria-current'); 
		  $('a[href="' +'/roleAccess"]').closest('li').addClass('active').attr('aria-current', 'page');   
		  
	   $(".innernav").click(function(){
	       $(".dropdownNav").addClass("active");
	   });
	});

	</script>
	
    <script>
		
		$(document).ready(function () {
           // Show the modal when the button is clicked
           $("#lastrowaddBtn").click(function () {
               $(".lastrowaddBtnWrap").show();
           });

           // Hide the modal when the close button is clicked
           $("#closeBtn0").click(function () {
               $(".lastrowaddBtnWrap").hide();
           });

           // Optionally, hide the modal if the user clicks outside the modal content
           $(window).click(function (event) {
               if ($(event.target).is(".lastrowaddBtnWrap")) {
                   $(".lastrowaddBtnWrap").hide();
               }
           });
       });
			   
        $(document).ready(function () {
            // Show the modal when the button is clicked
            $("#btnroleAcess").click(function () {
                $(".btnroleAcessModal").show();
            });

            // Hide the modal when the close button is clicked
            $("#closeBtn").click(function () {
                $(".btnroleAcessModal").hide();
            });

            // Optionally, hide the modal if the user clicks outside the modal content
            $(window).click(function (event) {
                if ($(event.target).is(".btnroleAcessModal")) {
                    $(".btnroleAcessModal").hide();
                }
            });
        });
        ////////////////////////
        $(document).ready(function () {
            // Show the modal when the button is clicked
            $("#btnroleAcess1").click(function () {
                $(".btnroleAcessModal1").show();
            });

            // Hide the modal when the close button is clicked
            $("#closeBtn1").click(function () {
                $(".btnroleAcessModal1").hide();
            });

            // Optionally, hide the modal if the user clicks outside the modal content
            $(window).click(function (event) {
                if ($(event.target).is(".btnroleAcessModal1")) {
                    $(".btnroleAcessModal1").hide();
                }
            });
        });

        ////////////////////////
        $(document).ready(function () {
            // Show the modal when the button is clicked
            $("#AuthenticateClose").click(function () {
                $("#roleAcessOTPModal").hide();
                $("#roleAcessModalSuccessful").show();
            });

        });

        ///////////////////

        $(document).ready(function () {
            // When the button is clicked, show the div
            $("#ConfirmroleAccess").click(function () {
                $("#roleAcessOTPModal").show();  // Show the div
            });
        });


         ///////////////////

         $(document).ready(function () {
            // When the button is clicked, show the div
            $("#roleAcessSuccessfulClose").click(function () {
                $("#roleAcessModalSuccessful").hide();  // Show the div
            });
        });

        // Get the elements
        var addEditroleAccess = document.getElementById("addEditroleAccess");
        var RoleAaccessWrap01 = document.getElementById("RoleAaccessWrap01");
        var RoleAaccessWrap02 = document.getElementById("RoleAaccessWrap02");

        // Add event listener to the button
        addEditroleAccess.onclick = function () {
            // Toggle the visibility of the divs
            if (RoleAaccessWrap01.style.display !== "none") {
                RoleAaccessWrap01.style.display = "none"; // Hide the first div
                RoleAaccessWrap02.style.display = "block"; // Show the second div
            } else {
                firstDiv.style.display = "block"; // Show the first div
                RoleAaccessWrap02.style.display = "none"; // Hide the second div
            }
        }
        ///////////////
        // Get the elements
        var addEditroleAccess = document.getElementById("addEditroleAccess");
        var RoleAaccessWrap01 = document.getElementById("RoleAaccessWrap01");
        var RoleAaccessWrap02 = document.getElementById("RoleAaccessWrap02");

        // Add event listener to the button
        BackroleAcess.onclick = function () {
            // Toggle the visibility of the divs
            if (RoleAaccessWrap02.style.display !== "none") {
                RoleAaccessWrap02.style.display = "none"; // Hide the first div
                RoleAaccessWrap01.style.display = "block"; // Show the second div
            }
        }

    </script>
		
		<script>
		    // Function to search employee
		    function searchEmployee() {
		        const searchBox = document.getElementById('searchBox').value;
		        const employerId = document.getElementById('employerId').value;
				var userMobile = document.getElementById("userMobile").value;
		        // Show loader
		        document.getElementById("signinLoader").style.display = "flex";
				

		        $.ajax({
		            type: "POST",
		            url: "/userSearch",
		            dataType: 'json',
		            data: {
		                "orgId": employerId,
		                "userName": searchBox,
						"userMobile": userMobile
		            },
		            success: function (data) {
		                document.getElementById("signinLoader").style.display = "none";

		                if (data && data.status && data.data.length > 0) {
		                    const roleHeaders = generateHeaders(data.data);
		                    generateRows(data.data, roleHeaders);
		                } else {
		                    alert("No data found for the given search.");
		                }
		            },
		            error: function (e) {
		                document.getElementById("signinLoader").style.display = "none";
		                console.error('Error:', e);
		                alert('An error occurred while fetching the data.');
		            }
		        });
		    }

		    // Function to Generate Table Headers Dynamically
		    function generateHeaders(users) {
		        const tableHeader = document.getElementById('tableHeader');
		        tableHeader.innerHTML = "";

		        // Static headers
		        let headerHTML = `
		            <tr>
		                <th>ID</th>
						<th>Username</th>
						<th>Email</th>
		                <th>Mobile</th>
		        `;

		        // Extract unique role descriptions for dynamic headers
		        const roleHeaders = new Set();
		        users.forEach(user => {
		            user.userRole.forEach(role => roleHeaders.add(role.roleDesc));
		        });

		        // Add role headers
		        roleHeaders.forEach(roleDesc => {
		            headerHTML += `<th>${roleDesc}</th>`;
		        });

		        // Add the action column
		       // headerHTML += `<th>Action</th></tr>`;
		        tableHeader.innerHTML = headerHTML;

		        // Return ordered role descriptions for later use
		        return Array.from(roleHeaders);
		    }

		    // Function to Generate Table Rows
		    function generateRows(users, roleHeaders) {
		        const tableBody = document.getElementById('tableBody');
		        tableBody.innerHTML = "";

		        users.forEach(user => {
		            const row = document.createElement('tr');

		            // Start with basic user details
		            let rowHTML = `
		                <td>${user.id}</td>
						<td>${user.username || '-'}</td>
						<td>${user.email || '-'}</td>
		                <td>${user.mobile || '-'}</td>
		            `;

		            // Generate role checkboxes in columns
					roleHeaders.forEach(roleHeader => {
					    const role = user.userRole.find(r => r.roleDesc === roleHeader);
					    const isChecked = role && role.checked ? 'checked' : '';
					    const roleId = role ? role.roleId : null;

					    rowHTML += `
					        <td data-roledesc="${roleHeader}">
					            <input type="checkbox" 
					                   class="form-check-input role-checkbox" 
					                   data-userid="${user.id}" 
					                   data-roleid="${roleId}" 
					                   ${isChecked}>
					        </td>
					    `;
					});
		            // Add action column
		           // rowHTML += `
		            //    <td>
		           //         <button class="btn btn-sm btn-primary" onclick="addAction(${user.id})">Add</button>
		           //     </td>
		           // `;

		            row.innerHTML = rowHTML;
		            tableBody.appendChild(row);
		        });

		        // Add event listeners for checkboxes
		        document.querySelectorAll('.role-checkbox').forEach(checkbox => {
		            checkbox.addEventListener('change', handleCheckboxChange);
		        });
		    }

	function getOTP(){
		
		const checkbox = document.getElementById("styled-checkbox-40");
		var userMobile = document.getElementById("userMobile").value;
		  if (checkbox.checked) {
			$.ajax({
				type: 'POST',
		        url:"/smsOtpSender",
				data: {
							"mob": userMobile,
						},
				dataType: 'json',
				success: function(data) {
				var obj = data;
		        if (obj['status'] == "SUCCESS") {
		            // If successful, open the OTP modal
					var timeleft = "60";
					var downloadTimer = setInterval(function() {
						document.getElementById("countdown").innerHTML = "00:"+timeleft;
						timeleft -= 1;
						//document.getElementById("optBtn").style.display = "none";
						document.getElementById("orderId").value= obj['orderId'];
						//document.getElementById("verifyotpdiv").style.display = "block";
						if (timeleft <= 0) {
							clearInterval(downloadTimer);	
						}	
					}, 1000);
		            $("#roleAcessOTPModal").show();  
		          } else {
		            alert("Error: " + response.message);
		          }
		        },
		        error: function() {
				  //$('#otpModal').fadeIn();
		         // alert("An error occurred. Please try again.");
		        }
		      });
 		 } 		  
 		 else {
			document.getElementById("styled-checkbox-40Error").innerHTML="Please check consent";
			
		    //alert("Please check consent");
		  }
		
	}
	
	// otp for add role
	
	function getAddOTP(){
		const checkbox = document.getElementById("styled-checkbox-41");
		var userMobile = document.getElementById("userMobile").value;
		if (checkbox.checked) {
			$.ajax({
				type: 'POST',
		        url:"/smsOtpSender",
				data: {
							"mob": userMobile,
						},
				dataType: 'json',
				success: function(data) {
				var obj = data;
		        if (obj['status'] == "SUCCESS") {
					$(".lastrowaddBtnWrap").hide();
					$("#addRoleAcessOTPModal").show();
					//addRoleAcessOTPModal
		            // If successful, open the OTP modal
					var timeleft = "60";
					var downloadTimer = setInterval(function() {
						document.getElementById("countdown").innerHTML = "00:"+timeleft;
						timeleft -= 1;
						//document.getElementById("optBtn").style.display = "none";
						document.getElementById("orderId").value= obj['orderId'];
						//document.getElementById("verifyotpdiv").style.display = "block";
						if (timeleft <= 0) {
							clearInterval(downloadTimer);	
						}	
					}, 1000);
		            $("#roleAcessOTPModal").show();  
		          } else {
		            alert("Error: " + response.message);
		          }
		        },
		        error: function() {
				  //$('#otpModal').fadeIn();
		         // alert("An error occurred. Please try again.");
		        }
		      });
			  }
			  else {
	  		    document.getElementById("styled-checkbox-41Error").innerHTML="Please check consent";
	  		  }
		}
	 // Handle Checkbox State Changes
		    function handleCheckboxChange(event) {
		        const checkbox = event.target;
		        const userId = checkbox.dataset.userid;
		        const roleId = checkbox.dataset.roleid;
		        const isChecked = checkbox.checked;

		        console.log(`User ID: ${userId}, Role ID: ${roleId}, Checked: ${isChecked}`);
		        // Add your backend update logic here if needed
		    }

		    // Action Button Click Handler
			function addAction(userId) {
			    // Find the row containing the clicked button
			    const orgId = document.getElementById("employerId").value;
				// Find the row containing the clicked button
				  const row = event.target.closest('tr');

				  // Extract the static data from the row
				  const id = row.cells[0].innerText;
				  const mobile = row.cells[2].innerText;
				  const username = row.cells[3].innerText;

				  // Collect checked role descriptions
				  const roleDesc = [];
				  row.querySelectorAll('.role-checkbox').forEach(checkbox => {
				      if (checkbox.checked) {
				          const roleDescription = checkbox.closest('td').getAttribute('data-roledesc');
				          if (roleDescription) {
				              roleDesc.push({ roleDesc: roleDescription });
				          }
				      }
				  });

				  // Build the final JSON object
				  const rowData = {
				     // orgId: "70", // Static orgId
				      id: id,
				      username: username,
				      mobile: mobile,
				      roleDesc: roleDesc
				  };

				  // Output the result in the desired format
				  console.log(rowData);
				  //alert("Row Data: " + JSON.stringify(rowData));
			    // Send data to backend via AJAX
			    $.ajax({
			        url: '/editUserRole',
			        type: 'POST',
			        dataType: 'json',
			        data: {
			            //orgId: orgId,
						"orgId":70,
						"id":rowData.id,
						"username":rowData.username,
						"mobile":rowData.mobile,
						"roleDesc": rowData.roleDesc.map(role => role.roleDesc) // Directly send the roleDesc array
			        },
			        success: function(response) {
						window.location.href = "/roleAccess";
			        },
			        error: function(err) {
			            console.error("Error sending user data:", err);
			        }
			    });
			}
					 
			    function focusNext(currentInput) {
			        // Move focus to the next input box
			        var maxLength = parseInt(currentInput.getAttribute("maxlength"));
			        var currentLength = currentInput.value.length;

			        if (currentLength >= maxLength) {
			            var nextIndex = Array.from(currentInput.parentElement.children).indexOf(currentInput) + 1;
			            var nextInput = currentInput.parentElement.children[nextIndex];

			            if (nextInput) {
			                nextInput.focus();
			            }
			        }
			    }

			function focusBack(){
				  var elts = document.getElementsByClassName('test')
				  Array.from(elts).forEach(function(elt) {
				  elt.addEventListener("keydown", function(event) {
				    // Number 13 is the "Enter" key on the keyboard
				    if (event.keyCode === 13 ||
				        event.keyCode !== 8 && elt.value.length === Number(elt.maxLength)
				    ) {
				      // Focus on the next sibling
				      elt.nextElementSibling.focus()
				    }
				    if (event.keyCode == 8) {
				      elt.value = '';
				      if (elt.previousElementSibling != null) {
				        elt.previousElementSibling.focus();
				        event.preventDefault();
				      }
				    }
				  });
				})
			}
			

			function verfyIssueVoucherOTP() {
				document.getElementById("authenticate").disabled = true;
			  	var password1 = document.getElementById("password1").value;
			  	var password2 = document.getElementById("password2").value;
			  	var password3 = document.getElementById("password3").value;
			  	var password4 = document.getElementById("password4").value;
			  	var password5 = document.getElementById("password5").value;
			  	var password6 = document.getElementById("password6").value;
			  	var orderId = document.getElementById("orderId").value;
			  	var userMobile = document.getElementById("userMobile").value;
			  	 if (password1 == "" && password1.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password1.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	 if (password2 == "" && password2.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password2.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	 if (password3 == "" && passwor3.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password3.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	 if (password4 == "" && password4.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password4.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	 if (password5 == "" && password5.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password5.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	 if (password6 == "" && password6.length < 1) {
			  		document.getElementById("mobError").innerHTML="";
			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
			  		x = false;
			  	}
			  	 else if (password6.length < 1) {
			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
			  		x = false;
			  	}
			  	else{
			  		document.getElementById("otpError").innerHTML="";
			  	}
			  	
			  	$.ajax({
			  			type: "POST",
			  			url:"/verifyOTP",
			  			dataType: 'json',
			  			data: {
			  				"password1": password1,
			  				"password2": password2,
			  				"password3": password3,
			  				"password4": password4,	
			  				"password5": password5,
			  				"password6": password6,
			  				"mob": userMobile,
			  				"orderId": orderId,
			  				"userName":userMobile
			  			},
			  			success: function(data) {
			  				var obj = data;

			  				if (obj['status']== true) {
								roleUpdate();
								$("#roleAcessOTPModal").hide();
								$("#roleAcessModalSuccessful").show();
								window.location.href="/roleAccess";
			  				}else if (obj['status'] == false) {
							
							} else {
			  				
			  				}
			  			},
			  			error: function(e) {
			  				alert('Error: ' + e);
			  			}
			  		});
			  }
	
			  function verfyAddRoleOTP() {
  				document.getElementById("authenticate").disabled = true;
  			  	var password1 = document.getElementById("password11").value;
  			  	var password2 = document.getElementById("password22").value;
  			  	var password3 = document.getElementById("password33").value;
  			  	var password4 = document.getElementById("password44").value;
  			  	var password5 = document.getElementById("password55").value;
  			  	var password6 = document.getElementById("password66").value;
  			  	var orderId = document.getElementById("orderId").value;
  			  	var userMobile = document.getElementById("userMobile").value;
  			  	 if (password1 == "" && password1.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password1.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	 if (password2 == "" && password2.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password2.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	 if (password3 == "" && passwor3.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password3.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	 if (password4 == "" && password4.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password4.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	 if (password5 == "" && password5.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password5.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	 if (password6 == "" && password6.length < 1) {
  			  		document.getElementById("mobError").innerHTML="";
  			  		document.getElementById("otpError").innerHTML="Please Enter OTP..";
  			  		x = false;
  			  	}
  			  	 else if (password6.length < 1) {
  			  		document.getElementById("otpError").innerHTML="Please Enter Valid OTP..";
  			  		x = false;
  			  	}
  			  	else{
  			  		document.getElementById("otpError").innerHTML="";
  			  	}
  			  	
  			  	$.ajax({
  			  			type: "POST",
  			  			url:"/verifyOTP",
  			  			dataType: 'json',
  			  			data: {
  			  				"password1": password1,
  			  				"password2": password2,
  			  				"password3": password3,
  			  				"password4": password4,	
  			  				"password5": password5,
  			  				"password6": password6,
  			  				"mob": userMobile,
  			  				"orderId": orderId,
  			  				"userName":userMobile
  			  			},
  			  			success: function(data) {
  			  				var obj = data;

  			  				if (obj['status']== true) {
  								addRole();
  								$("#AddRoleAcessOTPModal").hide();
  								$("#roleAcessModalSuccessful").show();
  								window.location.href="/roleAccess";
  			  				}else if (obj['status'] == false) {
  							
  							} else {
  			  				
  			  				}
  			  			},
  			  			error: function(e) {
  			  				alert('Error: ' + e);
  			  			}
  			  		});
  			  }
			  			  		  
			  function  roleUpdate(){
			  	
				const employerId = document.getElementById("employerId").value;
				const employerName = document.getElementById("employerName").value;
				const userMobile = document.getElementById("userMobile").value;
				const checkvalue=null;
				const checkbox = document.getElementById("styled-checkbox-40");

				  if (checkbox.checked) {
				    checkvalue =yes;
				  } else {
				    checkvalue =no;
				  }
			  	document.getElementById("password1").value="";
			  	document.getElementById("password2").value="";
			    document.getElementById("password3").value="";
			  	document.getElementById("password4").value="";
			  	document.getElementById("password5").value="";
			    document.getElementById("password6").value="";
				
				// Retrieve all rows from the table body
					const rows = document.querySelectorAll("#editUserRole tbody tr");
					const allRowsData = [];

					// Loop through each row to extract data
					rows.forEach(row => {
					    // Extract basic user information
					    const cells = row.querySelectorAll("td");
					    const id = cells[0].textContent.trim();
					    const username = cells[1].querySelector("input") 
					                     ? cells[1].querySelector("input").value.trim() 
					                     : cells[1].textContent.trim();
					    const email = cells[2].querySelector("input") 
					                  ? cells[2].querySelector("input").value.trim() 
					                  : cells[2].textContent.trim();
					    const mobile = cells[3].querySelector("input") 
					                   ? cells[3].querySelector("input").value.trim() 
					                   : cells[3].textContent.trim();

					    // Extract roles
					    const userRole = [];
					    const headers = document.querySelectorAll("thead th");
					    for (let i = 4; i < cells.length - 1; i++) { // Skip ID, username, email, mobile, and actions
					        const checkbox = cells[i].querySelector("input[type='checkbox']");
					        if (checkbox && checkbox.checked) {
					            const roleDesc = headers[i].textContent.trim();
					            userRole.push({ roleDesc }); // Add more role details if needed
					        }
					    }

					    // Add row data to the array
					    allRowsData.push({
					        id,
					        username,
					        email,
					        mobile,
					        userRole,
					    });
					});

					// Log the collected data (optional)
					console.log(allRowsData);
					//alert(JSON.stringify(allRowsData, null, 2));
					// AJAX call to send the data
					document.getElementById("signinLoader").style.display = "flex";
					$.ajax({
					    type: "POST",
					    url: "/editUserRole",
					    dataType: 'json',
						contentType: 'application/json',
					    data: JSON.stringify({
							orgId: employerId,
  					        employerId: employerId,
							userMobile: employerMobile,
							consent: checkvalue,
  					        createdby: "employerName",
					        userDTO: allRowsData, // Send all rows as an array
					    }),
					    success: function(data) {
					        console.log("Success:", data);
					        document.getElementById("signinLoader").style.display = "none";
					    },
					    error: function(e) {
					        console.error("Error:", e);
					        alert('Error: ' + e.responseText || e.statusText);
					        document.getElementById("signinLoader").style.display = "none";
					    }
					});
   
			  }
			  function  addRole(){
							
				const employerId = document.getElementById("employerId").value;
				const employerName = document.getElementById("employerName").value;
				const userMobile = document.getElementById("userMobile").value;
				const checkvalue=null;
				const checkbox = document.getElementById("styled-checkbox-41");

				  if (checkbox.checked) {
				    checkvalue =yes;
				  } else {
				    checkvalue =no;
				  }
  			  	document.getElementById("password11").value="";
  			  	document.getElementById("password22").value="";
  			    document.getElementById("password33").value="";
  			  	document.getElementById("password44").value="";
  			  	document.getElementById("password55").value="";
  			    document.getElementById("password66").value="";
				
  				// Retrieve all rows from the table body
				const rows = document.querySelectorAll("#resultTable tbody tr");
				const allRowsData = [];

				// Loop through each row to extract data
				rows.forEach(row => {
				    // Extract basic user information
				    const cells = row.querySelectorAll("td");
				    const id = cells[0].textContent.trim();
				    const username = cells[1].querySelector("input") 
				                     ? cells[1].querySelector("input").value.trim() 
				                     : cells[1].textContent.trim();
				    const email = cells[2].querySelector("input") 
				                  ? cells[2].querySelector("input").value.trim() 
				                  : cells[2].textContent.trim();
				    const mobile = cells[3].querySelector("input") 
				                   ? cells[3].querySelector("input").value.trim() 
				                   : cells[3].textContent.trim();

				    // Extract roles
				    const userRole = [];
				    const roleColumns = Array.from(document.querySelectorAll("#resultTable thead th"))
				                             .slice(4, -1); // Adjust for the actual roles column range

				    for (let i = 4; i < cells.length - 1; i++) { // Skip ID, username, email, mobile, and actions
				        const checkbox = cells[i].querySelector("input[type='checkbox']");
				        if (checkbox && checkbox.checked) {
				            const roleDesc = roleColumns[i - 4].textContent.trim(); // Align headers with role columns
				            userRole.push({ roleDesc });
				        }
				    }

				    // Add row data to the array
				    allRowsData.push({
				        id,
				        username,
				        email,
				        mobile,
				        userRole,
				    });
				});

				// Log the collected data (optional)
				console.log(allRowsData);
				//alert(JSON.stringify(allRowsData, null, 2));
  					// AJAX call to send the data
  					document.getElementById("signinLoader").style.display = "flex";
  					$.ajax({
  					    type: "POST",
  					    url: "/editUserRole",
  					    dataType: 'json',
  						contentType: 'application/json',
  					    data: JSON.stringify({
  					        orgId: employerId,
  					        employerId: employerId,
							userMobile: employerMobile,
							consent: checkvalue,
  					        createdby: "employerName",
  					        userDTO: allRowsData, // Send all rows as an array
  					    }),
  					    success: function(data) {
  					        console.log("Success:", data);
							window.location.href = "/roleAccess";
  					        document.getElementById("signinLoader").style.display = "none";
  					    },
  					    error: function(e) {
  					        console.error("Error:", e);
  					        alert('Error: ' + e.responseText || e.statusText);
  					        document.getElementById("signinLoader").style.display = "none";
  					    }
  					});
     
  			  }
		</script>
</body>

</html>