<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Fleet Management</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">

</head>

<body>

    <div class="loginNew-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 logoNewLeft">
                    <div class="logoNew">
                        <img src="img/cotodel_logoNew.svg" alt="">
                    </div>
                    <div class="logoNewBtm">
                       <h2><span>Business Payments</span> made seamless like <br>your UPI spends</h2>
                       <ul>
                        <li><img src="img/loginCheck.svg" alt="">Issue UPI-enabled vouchers on driver's UPI app</li>
                        <li><img src="img/loginCheck.svg" alt="">Lock purpose of spend at Fuel stations</li>
                        <li><img src="img/loginCheck.svg" alt="">Trace money flow digitally without transferring Capital</li>
                        <li><img src="img/loginCheck.svg" alt="">Existing QR-code network of merchants to be used</li>
                       </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="logoNewForm">
                        <div class="logoNewFormtop">
                            <img src="img/logoFavicon.svg" alt="">
                            <div class="logoNewFormWelcome">Welcome to <b>Cotodel</b></div>
                            <h4>Get started with your email or phone number</h4>
                            <!--<form action="">
                                <input type="text" class="form-control" placeholder="Enter your Email or Mobile Number">
                                <p>We will send you an email with OTP</p>
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="or text-center"><span>or</span></div>
                                <p class="text-center">New to Cotodel?</p>
                                <button class="btn btn-outline-primary btn-user btn-block">Signup</button>
                            </form>-->
							<form autocomplete="of" id="loginForm" name="loginForm">
							                        <input class="form-control" placeholder="Enter Your Email or Mobile No." type="text" id="mobile" name="mobile"
							                        autocomplete="off" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
							                        <div class="error-msg" id="mobError" style="color:red"></div>
							                        <div  id="loginIdDiv" style="display: none" >
							                        <span>We have sent you an email with OTP</span>

							                        
							                        <div class="otp-box d-flex" id="otpInputBox" >
							                           <!--  <input  class="form-control form-control-sm" type="password" id="password" 
							                            name="password" maxlength="1" autocomplete="off"> -->
							                            <input  class="form-control form-control-sm test" type="password" id="password1"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password1" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="password" id="password2"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password2" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="password" id="password3"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password3" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="password" id="password4"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password4" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="password" id="password5"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password5" maxlength="1" autocomplete="off" onkeypress="focusNext(this)" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="password" id="password6"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');"
												        name="password6" maxlength="1" autocomplete="off" onkeydown="focusBack()">
												        <input  class="form-control form-control-sm test" type="hidden" id="orderId" name="orderId" >
														
														<div>
															
																<input type="hidden" id="errorMessage" th:value="${message}" ></input>
																<input type="hidden" id="mo" th:value="${mobile}" ></input>
																<input type="hidden" id="orderid" th:value="${orderid}" ></input>
															
													   </div>
							                            <span id="toggleOtpVisibility" onclick="toggleOtpVisibility()" style="font-size: 14px; cursor: pointer; display: inline-block; margin-bottom: 5px;">
							                                <i class="fas fa-eye"></i>
							                            </span>
							                           
							                        </div>
							                        </div>
							                        
							                       <div id="otpError" style="color:red"></div>	
							                       <div id="errorOtp" style="color:red"></div>	
							                       <!-- <div class="text-center" id="countdown" style="color: green;"></div>
													<p id="successmessage"></p> -->
													<label for="countdown" id="countdown" style="color: green;" ></label>
													
													<div class="form-group">
																	<div class="row">
																		<div class="col-sm-12 col-sm-offset-3">
																			<div id="successError">
																				<p id="error" style="color: red" th:if="${message ne null}">
																					<span id="orderid" th:text="${message}" style="color: red;"></span>
																				 </p>
																			</div>
																		</div>
																	</div>
													</div>
													
							                        <p id="resendOTPText" style="display: none; ">Didn’t receive the code?<a href="#" onclick="resendOTP()">Resend OTP</a></p>
							                        <div class="d-grid">
							                            <button class="btn btn-primary btn-user btn-block" id="optBtn" type="button"  onclick="getOTP()" >Login</button>
							                        </div>
							                        <div class="d-grid">
							                            <button type="button"  style="display:none" onclick="submitAction()" id="verifyotpdiv" class="btn btn-primary btn-user btn-block">Verify OTP and Sign In</button>
							                        </div>
							                        
							                         <div class="or text-center"><span>or</span></div>
							                        <p class="text-center">New to <a href="#">Cotodel?</a></p>
							                        <div class="d-grid">
							                            <a class="btn btn-outline-primary btn-user btn-block" type="button" th:href="@{/signup}" >Signup</a>
							                        </div>
							                    </form>
                        </div>
                        <div class="logoNewFormbtm">
                            <img src="img/powered-by.png" alt="">
                        </div>
                    </div>
					<div class="lds-spinner" id="loginLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                </div>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
	<script type="text/javascript" src="cotodel-js/mobileotp.js"></script>

	<script>
		
		$(document).ready(function() {
		    var loginuser = document.getElementById("loginRepute").value;
		    if (loginuser === "reputeUser") {
				document.title = "Expence Management";
		        var loginWrap = document.getElementById("loginWrap");
		        loginWrap.classList.remove("loginNew-wrap");
		        loginWrap.classList.add("loginNew-wrap-repute");
				
				document.getElementById("qr1").innerHTML="Issue vouchers on-demand without transferring Capital";
				document.getElementById("qr2").innerHTML="Trace money flow digitally from issuance to redemption";
				document.getElementById("qr3").innerHTML="Lock purpose of spend at Category/Brand level";
				document.getElementById("qr4").innerHTML="Extend vouchers for administering Flexi-Tax Benefits";
		    }
		});
				
		$( document ).ready(function() {
			var newUser = localStorage.getItem("userName");
			$('#mobile').val(newUser);
			getOTP();
			});
			
	$( document ).ready(function() {
		var error = document.getElementById("errorMessage").value;
		var mo = document.getElementById("mo").value;
		var orderid = document.getElementById("orderid").value;
		
		if(error==="Invalid Request !!"){
	    document.getElementById("loginIdDiv").style.display="none";
	    document.getElementById("optBtn").style.display="block";
	    }
		else if(error==="Incorrect OTP !!"){
			  startCountdown();
			  document.getElementById("mobile").value=mo;
			  document.getElementById("orderId").value=orderid;
			  document.getElementById("loginIdDiv").style.display="block";
			  document.getElementById("optBtn").style.display = "none";
			  document.getElementById("verifyotpdiv").style.display = "block";
		}
		else if(error==="No Role assigned to User. Please contact to Organisation Admin !!"){
			document.getElementById("loginIdDiv").style.display="none";
		    document.getElementById("optBtn").style.display="block";
		}else{
			
		}
	});


	  $(document).ready(function() {
	    $('#successError').delay(5000).fadeOut(600);
	});

	</script>
	<style>#toggleOtpVisibility {
	    color: #007bff; /* Primary color for the icon */
	    position: relative;
	    z-index: 1;
	    font-size: 18px;
	}
	#toggleOtpVisibility:hover {
	    color: #0056b3; /* Darker shade on hover */
	}
	</style>
	</body>

	</html>