<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Cotodel - Business Payments</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="cotodel.com">
	<meta name="description" content="Business Payments on UPI">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap"
		rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/tiny-slider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-4RE141954R');
	</script>
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

</head>

<body>
	<header class="navbar-transparent navbar-sticky-bg-white navbar-sticky">

		<!-- Logo Nav START -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Logo START -->
				<a class="navbar-brand" href="home.html">
					<img src="img/logo.svg" class="navbar-brand-item" alt="cotodel logo" fetchpriority="high">
				</a>
				<!-- Logo END -->

				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto">
					<a class="nav-link pe-0" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button"
						aria-controls="offcanvasEnd">
						<span class="navbar-toggler-icon" data-bs-target="#offcanvasEnd"> </span>
					</a>
				</button>

				<!-- Main Menu START -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll ms-auto">
						<li class="nav-item"> <a class="nav-link text-body" href="/">Home</a> </li>
						<!-- <li class="nav-item"> <a class="nav-link text-body" href="#Services">Services</a> </li> -->
						<li class="nav-item"> <a class="nav-link text-body" href="/solutions">Solutions</a> </li>
						<li class="nav-item"> <a class="nav-link text-body" href="/about">About Us</a> </li>
						<li class="nav-item"> <a class="nav-link text-body" href="/faqs">FAQs</a> </li>
					    <li class="nav-item"> <a class="nav-link text-body" href="/blogs">Blogs</a> </li>
						<li class="nav-item"> <a class="nav-link text-body" href="/contact">Contact Us</a> </li>
						<li class="nav-item"> <a class="nav-link" href="/policy">Policy</a> </li>
				</ul>
				</div>
				<!-- Main Menu END -->
			</div>
		</nav>
		<!-- Logo Nav END -->
	</header>
	<!-- =======================
Header END -->

	<!-- Offcanvas end START -->
	<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEnd"
		style="background-image:url(img/pattern/03.png); background-position: center left; background-size: cover;">
		<div class="offcanvas-header">
			<a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
				<i class="fas fa-times p-0"></i>
			</a>
		</div>
		<div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-4 px-md-6">
			<ul class="nav flex-column w-100 pb-4 pe-0 pe-lg-5">
				<li class="nav-item"> <a class="nav-link text-body" href="/">Home</a> </li>
				<!-- <li class="nav-item"> <a class="nav-link text-body" href="#Services">Services</a> </li> -->
				<li class="nav-item"> <a class="nav-link text-body" href="/solutions">Solutions</a> </li>
				<li class="nav-item"> <a class="nav-link text-body" href="/about">About Us</a> </li>
				<li class="nav-item"> <a class="nav-link text-body" href="/faqs">FAQs</a> </li>
				<!-- <li class="nav-item"> <a class="nav-link text-body" href="#Blogs">Blogs</a> </li> -->
			</ul>
			<div class="mt-auto mb-5">
				<a href="#" class="font-heading text-white text-primary-hover"><img src="img/envelopesimple.svg" alt="" class="me-2">business@cotodel.com</a>
			</div>
			<!-- Offcanvas inner END -->
		</div>
	</div>
	<!-- Offcanvas end END -->


	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================Solutions HTML -->
		<section class="solution-wrap bg-primary" id="Solutions">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 mb-3 mb-lg-3">
						<h1 class="text-white h2-bold text-center text-md-center color-prime-500 animate__animated animate__fadeInUp animate__delay-3s">
						 </h1></br>
							<h2 class="text-white h2-bold text-center text-md-center color-prime-500 animate__animated animate__fadeInUp animate__delay-3s">
							Solutions for Different Industries </h2>
						<p class="head-p text-white text-center text-md-center animate__animated animate__fadeInUp animate__delay-4s pt-2">
							Making your spends more targeted & intelligent with UPI
						</p>
					</div>
				</div>

				<div class="row card-hero-wrap">
					<div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-3s">
						<div class="card-hero02">
							<div class="card-img-wrap">
								<img src="img/fuel-payments.webp" alt="Fuel Payments" fetchpriority="high">
							</div>
							<div class="card-content">
								<p class="title-2 fw-bold color-secnd-900">Transport & Logistics</p>
								<p class="text-prime color-prime-500 mt-1 mb-3">Fleet Expense Management</p>
								<hr class="bg-primary m-0">
								<p class="text-secnd-500 color-secnd-500 my-3">Land transport & Logistics fleet
									aggregators across industries
								</p>

								<!--<button type="button" class="no-btn" data-bs-toggle="modal"
									data-bs-target="#solution01Modal">
									View More
								</button>-->
								<a  class="btn-primary" href="/transport" target="_blank">View More</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-4s">
						<div class="card-hero02">
							<div class="card-img-wrap">
								<img src="img/channel-incentives.webp" alt="Channel Incentives">
							</div>
							<div class="card-content">
								<p class="title-2 fw-bold color-secnd-900">Retail & Trade</p>
								<p class="text-prime color-prime-500 mt-1 mb-3">Channel Partner Incentives</p>
								<hr class="bg-primary m-0">
								<p class="text-secnd-500 color-secnd-500 my-3">Wholesale & Retail trade for all
									organised products & services
								</p>
								<!--<button type="button" class="no-btn" data-bs-toggle="modal"
									data-bs-target="#solution02Modal">
									View More
								</button>-->
								<a type="button" class="no-btn" href="/retail" target="_blank">View More</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-5s">
						<div class="card-hero02">
							<div class="card-img-wrap">
								<img src="img/corporate-reimbursements.webp" alt="Corporate Reimbursements" fetchpriority="high">
							</div>
							<div class="card-content">
								<p class="title-2 fw-bold color-secnd-900">Consulting & Advisory Companies</p>
								<p class="text-prime color-prime-500 mt-1 mb-3">Expense Reimbursements & Benefits
								</p>
								<hr class="bg-primary m-0">
								<p class="text-secnd-500 color-secnd-500 my-3">Financial services, Insurance,
									Consulting, Information service activities
								</p>
								<!--<button type="button" class="no-btn" data-bs-toggle="modal"
									data-bs-target="#solution03Modal">
									View More
								</button>-->
								<a type="button" class="no-btn" href="/consulting" target="_blank">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="why-ctd">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 mb-3 mb-lg-3">
						<h1 class="h2-bold text-black text-center text-md-center color-prime-500 animate__animated animate__fadeInUp animate__delay-3s">Why Cotodel?</h1>
						<p class="head-p color-secnd-900 text-center text-md-center animate__animated animate__fadeInUp animate__delay-4s pt-2">
							Everything you need to shift from existing prepaid cards/digital wallet solutions
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-3 why-ctd-wrap">
						<div class="why-ctd-in">
							<img src="img/no-kyc.png" alt="">
							<h4>Easier & Faster Onboarding</h4>
							<p>KYC is not needed for each beneficiary, with contractual and part-timers able to access payment solutions effectively</p>
						</div>
					</div>

					<div class="col-12 col-md-3 why-ctd-wrap">
						<div class="why-ctd-in">
							<img src="img/UPI-qrcode.png" alt="">
							<h4>Higher Redemption Touchpoints</h4>
							<p>Biggest merchant acceptance network, with redemption at existing merchant UPI QR codes as well as POS Machines</p>
						</div>
					</div>

					<div class="col-12 col-md-3 why-ctd-wrap">
						<div class="why-ctd-in">
							<img src="img/working-capital.png" alt="">
							<h4>Money never leaves your Bank A/c</h4>
							<p>No need to block funds in a 3rd Party’s bank account, with money not leaving your Bank A/c till the spend takes place</p>
						</div>
					</div>

					<div class="col-12 col-md-3 why-ctd-wrap">
						<div class="why-ctd-in why-ctd-in-last">
							<img src="img/UPI.png" alt="">
							<h4>Convenient Form Factor</h4>
							<p>Redeem from any existing UPI app, with no requirement of issuing a card  or downloading a new app on your phone</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container">				

				<div class="row">
					<div class="col-12 col-md-4">
						<div class="footer-links my-2 my-md-0">
							<div class="col-12 text-center text-md-start mb-5">
								<img src="img/logo-white.svg" alt="">
							</div>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/solutions">Solutions</a></li>
								<li><a href="/about">About Us</a></li>
								<li><a href="/faqs">FAQs</a></li>
								<li><a href="/blogs">Blogs</a></li>
							</ul>
							<ul class="mt-0 mt-md-1 mt-md-0 sociallink">
								<li class="text-white"><a href="https://www.linkedin.com/company/cotodel/"><i
											class="fab fa-linkedin"></i></a></li>
								<li class="text-white"><a href="https://www.instagram.com/cotodelsolutions/"><i
											class="fab fa-instagram"></i></a></li>
								<li class="text-white"><a href="https://www.youtube.com/@Cotodel"><i
											class="fab fa-youtube"></i></a></li>
								<li class="text-white"><a href="https://twitter.com/CotodelSolution"><i
											class="fab fa-twitter"></i></a></li>
								<li class="text-white"><a
										href="https://www.facebook.com/profile.php?id=61555427067314"><i
											class="fab fa-facebook-f"></i></a></li>
								<li class="text-white"><a href="mailto:business@cotodel.com"><i
											class="fa fa-envelope"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-12 col-md-4">
						<div class="footer-midd">
							<span>Email</span>
							<p>business@cotodel.com</p>
						</div>

						<div class="footer-midd">
							<span>ADDRESS</span>
							<p class="mb-0">WeWork, Eldeco Centre, Malviya Nagar <br>
								New Delhi - 110017</p>
						</div>
					</div>
					
					<!--<a href="terms.html">Terms & Conditions</a>-->
					<!--<div
						class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
						<div class="footer-midd">
							<p href="/Terms&Conditions" class="me-2">Terms & Conditions</p>
						</div>
						
						<div class="footer-midd">
													<p href="/Terms&Conditions" class="me-2">© 2025 — Copyright</p>
												</div>
						<div class="copyright-text text-white" >© 2025 — Copyright</div>
						
					</div>-->
					<div class="col-12 col-md-4 ">
							<div class="footer-midd">
								
								<a href="/termsConditions" class="me-2" target="_blank">Terms & Conditions</a>
							</div><br>
							<div class="footer-midd">
								
								<a href="/refundPolicy" class="me-2" target="_blank">Refund Policy</a>
							</div><br>

							<div class="footer-midd">
								
								<p href="/Terms&Conditions" class="me-2">© 2025 — Copyright</p>
							</div>
						</div>
					
				</div>
			</div>
		</footer>

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- Back to top -->
	<div class="back-top">
		<!-- <div class="scroll-line"></div> -->
		<span class="scoll-text"><i class="fab bi-arrow-up-circle-fill"></i></span>
	</div>


	<!-- =======================
JS libraries, plugins and custom scripts -->

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>


	<!-- Vendors -->
	<script src="js/jarallax.min.js"></script>
	<script src="js/tiny-slider.js"></script>

	<!-- Template Functions -->
	<script src="js/functions.js"></script>
	<!-- Slick JS -->
	<script src="js/slick.js"></script>

	<script>
		$('.responsive').slick({
			slidesToShow: 8,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			lazyLoad: 'ondemand',
			responsive: [
				{
					breakpoint: 1199,
					settings: {
						slidesToShow: 7,
						slidesToScroll: 3,
						infinite: true,
						dots: false
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 3,
						infinite: true,
						dots: false
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				}
			]
		});

		$('.blogs-slider').slick({
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			lazyLoad: 'ondemand',
			responsive: [
				{
					breakpoint: 1199,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 1,
						infinite: true,
						dots: false
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 1,
						infinite: true,
						dots: false
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});

	</script>

	<script>


		$(window).scroll(function () {
			if ($(this).scrollTop() > 1200) {
				$('#dynamic').addClass('newClass');
			} else {
				$('#dynamic').removeClass('newClass');
			}
		});

		function myFunction() {
			document.getElementById("dynamic").style.display = "none";
		}


		$('.nav-link').on('click', function () {
			$('.nav-link').removeClass('active'); // Remove .active from all links
			$(this).addClass('active'); // Add .active to the clicked link
		});

		
	</script>

</body>

</html>
