<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body id="page-top" onload="getOrderDetail()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        
        <div th:insert="fragments/sidenav.html :: sidevav"></div>
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
              
               <!--<div th:insert="fragments/header.html :: header"></div>-->
			   <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">

			                       <!-- Topbar Navbar -->
			                       <ul class="navbar-nav top-nav">

			                           <!-- Nav Item - User Information -->
			                           <li class="nav-item">
			                               <a class="nav-link active" href="#">
			                                   <span class="mr-2 small">Dashboard</span>
			                                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			                               </a>
			                           </li>
			                           <li class="nav-item">
			                               <a class="nav-link" href="#">
			                                   <span class="mr-2 small">Payment Status</span>
			                                   <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
			                               </a>
			                           </li>

			                       </ul>

			   					<ul class="navbar-nav ml-auto">
			   		                        <li class="nav-item dropdown no-arrow">
			   		                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   		                               <span class="mr-2 d-none d-lg-inline text-gray-600 small" > <p th:text="${session.username}"></p> </span>
			   		                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
			   		                            </a>
			   		                            <!-- Dropdown - User Information -->
			   		                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			   		                                <a class="dropdown-item" th:href="@{/ProfileInfo}">
			   		                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			   		                                    Profile
			   		                                </a>
			   		                              <!--  <a class="dropdown-item" href="#">
			   		                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			   		                                    Settings
			   		                                </a>-->
			   		                              
			   		                               <!--  <div class="dropdown-item dropdown-footer form-group mb-0" >
			   							            <a class="float-right btn text-white custom-btn-dark btn-sm mb-0"  th:href="@{/logout}">
			   									          <i class="fas fa-user-circle"></i> Logout         
			   									        </a>
			   							          </div> -->  
			   		                              <div class="dropdown-divider"></div>
			   		                                <a class="dropdown-item" th:href="@{/logout}">
			   		                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" > </i>
			   		                                    Logout
			   		                                </a>
			   		                            </div>
			   		                        </li>

			   		                   </ul>		
			                         </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 p-md-1">
               <!--<h5>Payment Status</h5>
			   
			       <div style="text-align: center;">
					
					<div> Customer ID : <span id="customerId"></span></div>
			          <div>Customer Name : <span id="name"></span></div>
					  <div>Customer Phone Number : <span id="customerPhone"></span></div>
					  <div>Customer Email : <span id="customerEmail1"></span></div>
					  <div>Order Amount : <span id="amount"></span></div>
					  <div>order Currency : <span id="currency"></span></div>
					  <div>Order Status : <span id="order_status"></span></div>
					  <div>Payment Date : <span id="created_at"></span></div>
					  <div>Payment Confirmation Id : <span id="cf_order_id"></span></div>
					  <div>Customer Order Id : <span id="orderId"></span></div>
					 
			      </div>-->
				<input type="hidden" id="order_id" th:value="${order_id}">
				<div class="bg-white p-2 p-md-4 mb-4 w-100 br-10 Primary-details-section">
						                                                   <h5>Payment Receipt</h5>
						                                                   <div class="primary-Details-wrap">
																			<div class="Primary-details-info">
																                  <label> Customer ID</label>
																                  <p id="customerId"></p>
																              </div>
																			<div class="Primary-details-info">
																			                  <label>Name</label>
																			                  <p id="name"></p>
																			              </div>
																			              
																			              <div class="Primary-details-info">
																			                  <label>Order Amount</label>
																			                  <p id="amount"></p>
																			              </div>
																						  <div class="Primary-details-info">
																		                  <label>Service Charge</label>
																		                  <p id="serviceCharge"></p>
																		              		</div>
																						  <div class="Primary-details-info">
																			                  <label>Service Tax</label>
																			                  <p id="serviceTax"></p>
																			              </div>
																					  		<div class="Primary-details-info">
																		                  <label>Settlement Amount</label>
																			                  <p id="settlementAmount"></p>
																			              </div>
																						  <div class="Primary-details-info">
  																			                  <label>Order Status</label>
  																			                  <p id="order_status"></p>
  																			              </div>
																			              <div class="Primary-details-info">
																			                  <label>order Currency</label>
																			                  <p id="currency"></p>
																			              </div>
																			              <div class="Primary-details-info">
																			                  <label>Customer Email</label>
																			                  <p id="customerEmail1"></p>
																			              </div>
																			              <div class="Primary-details-info">
																			                  <label>Payment Date</label>
																			                  <p id="created_at"></p>
																			              </div>
																						  <div class="Primary-details-info">
																			                  <label>Payment Confirmation Id </label>
																			                  <p id="cf_order_id"></p>
																			              </div>
																						  <div class="Primary-details-info">
																			                  <label>Payment Methods</label>
																			                  <p id="payment_methods"></p>
																			              </div>
																						  <div class="Primary-details-info">
																			                  <label>Customer Phone Number</label>
																			                  <p id="customerPhone"></p>
																			              </div>
																						  <div class="Primary-details-info">
	  																			                  <label>Customer Order Id</label>
	  																			                  <p id="orderId"></p>
	  																			              </div>
																							 </div>
						                                               </div>
               </div>
              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
		
		<div class="lds-spinner" id="signinLoader" style="display: none">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				
			
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<div class="lds-spinner" id="signinLoader" style="display:none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

	<script type="text/javascript" src="cotodel-js/cashfree.js"></script>
	
	
</body>

</body>

</html>
