<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions - Cotodel Technologies</title>
	<meta name="author" content="cotodel.com">
	<meta name="description" content="Business Payments on UPI">
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/tiny-slider.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Bootstrap Icons -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
   <!-- Modal1 -->
	
	<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-4RE141954R');
		</script>
		
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
		<!-- End Google Tag Manager -->
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		
		<style>
		  /* Color styling for the highlighted text */
		  .highlight {
		      color: #2F945A; /* Black text for better readability on white */
		      background: linear-gradient(to bottom, #ffffff, #BFDECC); /* White top, Green bottom */
		      padding: 0.3em 0.6em;
		      border-radius: 6px;
		      display: inline-block;
		    }
			p {
				font-family: 'Open Sans', sans-serif;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 140%;
					  letter-spacing: 0%;
			}
		</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light">
	  <div class="container">
			<a  href="/">
			 <img src="img/Cotodel Logo.svg" class="navbar-brand-item" alt="cotodel logo" fetchpriority="high">
		</a>
	   
	    <ul class="navbar-nav ms-auto ">
	      <li class="nav-link "><a class="nav-link" href="/">Home</a></li>
	    <!--  <li class="nav-link active border-bottom border-success "><a class="nav-link" href="#">Solutions</a></li>-->
	    </ul>
	  </div>	
	</nav>
	<header class="hero d-flex align-items-center  highlight">
	   <div class="container">
	     <div class="row align-items-center">
	       <div class="col-md-6">
	         <h1>
	           <span >Terms & Conditions</span> 
	         </h1>
	         
	         <div class="mt-3"> 
			
			<!--<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#demoModal">
			     Book a Demo
			   </button>-->
	         </div>
	       </div>
	       <div class="col-md-6 d-none d-md-flex flex-column justify-content-end">
	         <img src="img/corporateManWomen.webp" alt="corporateManWomen" class="img-fluid float-end">
	       </div>
		
	   </div>
	 </header><br>
	
	<div class="last-add">
    <div class="container">
       
	<div class="black">
        <h5><strong>Last updated on 03-02-2025 15:25:28</strong></h5>
        <p>These Terms and Conditions, along with our Privacy Policy and other terms (“Terms”) constitute a binding agreement between COTODEL TECHNOLOGIES PRIVATE LIMITED (“Website Owner”, “we”, “us”, “our”) and you (“you”, “your”) regarding the use of our website, goods, or services (collectively, “Services”).</p>
        
        <h5><strong>Acceptance of Terms</strong></h5>
        <p>By using our website and Services, you acknowledge that you have read and accepted these Terms. We reserve the right to modify these Terms at any time. It is your responsibility to review these Terms periodically.</p>
        
         <h5><strong>Usage Conditions</strong></h5>
        <ul>
            <li>You must provide accurate and complete information during registration and are responsible for all activities under your account.</li>
            <li>We do not guarantee the accuracy, timeliness, or suitability of information on the website.</li>
            <li>Your use of the Services is at your own risk; ensure they meet your requirements.</li>
            <li>The content of the Website and Services is proprietary; you do not gain any intellectual property rights.</li>
            <li>Unauthorized use of the Website or Services may lead to legal action.</li>
            <li>You agree to pay the charges associated with availing the Services.</li>
            <li>You shall not use the website or Services for unlawful activities.</li>
            <li>Third-party website links are subject to their respective terms and policies.</li>
            <li>By initiating a transaction, you enter a legally binding contract with us.</li>
            <li>Refunds are available if we cannot provide the Service within the specified timeline.</li>
            <li>Force majeure events may exempt parties from performance obligations.</li>
        </ul>
        
         <h5><strong>Governing Law & Jurisdiction</strong></h5>
        <p>These Terms are governed by the laws of India, and any disputes shall be subject to the exclusive jurisdiction of the courts in Delhi.</p>
        
        <h5><strong>Contact Information</strong></h5>
        <p>For any concerns, please reach us at <a href="mailto:business@cotodel.com">business@cotodel.com</a>.</p>
		</div>
    </div>
	</div>
</body>
</html>