<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What is eRUPI | Cotodel - Business Payments on UPI</title>
  <meta name="author" content="cotodel.com">
  <meta name="description" content="eRUPI is UPI Digital Vouchers that can be issued at a person as well as purpose level. Since UPI is the preferred mode of payment, eRUPI becomes the alternate to prepaid instruments and corporate cards/fuel cards. At Cotodel, we are trying to bring business spends on UPI by leveraging eRUPI which is approved by NPCI">
  <meta name="keyword" content="UPI, Digital Spends, eRUPI, NPCI, UPI Innovation">
  
  <link rel="icon" href="/img/favicon.png" type="image/png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/tiny-slider.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  	
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE141954R"></script>
  
  <script>
  	  window.dataLayer = window.dataLayer || [];
  	  function gtag(){dataLayer.push(arguments);}
  	  gtag('js', new Date());

  	  gtag('config', 'G-4RE141954R');
  	</script>
  	
  	<!-- Google Tag Manager -->
  	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  	})(window,document,'script','dataLayer','GTM-P6GX7GDP');</script>
  	<!-- End Google Tag Manager -->
  	<!-- Google Tag Manager (noscript) -->
  	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GX7GDP"
  	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  	<!-- End Google Tag Manager (noscript) -->


  <style>
	.custom-green{
		color :#2F945A;
	}
    body { font-family: 'Open Sans', sans-serif; line-height: 1.6; }
	p {
		color: #4A4E69;
		  font-family: 'Open Sans', sans-serif;
		  font-weight: 400;
		  font-size: 20px;
		  line-height: 140%;
		  letter-spacing: 0%;
		 

	}
    h2, h3 { margin-top: 2rem; }
    .section { padding: 2rem 0; }
   
    .hero h1 { color: #1b7e3c; }
    .highlight { color: #1F212C; font-weight: bold;display: inline; }
    .step-number { font-weight: bold; color: #1b7e3c; }
    footer { background: #f1f1f1; padding: 2rem 0; margin-top: 3rem; }
    .cover-image {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
	.meta {
	      color: #6c757d;
	      font-size: 0.9rem;
	    }
	    .meta span::after {
	      content: " \2022"; /* bullet character */
	      margin-left: 0.5rem;
	      margin-right: 0.5rem;
	    }
	    .meta span:last-child::after {
	      content: "";
	      margin: 0;
	    }
		.section ul li {
		  color: #1F212C; /* force normal black text for list items */
		  
		  margin-bottom: 1rem;
		}
		.custom-cta-btn {
		    width: 200px;
		    height: 55px;
		    padding: 20px;
		    border-radius: 16px;
		    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Optional thin top border */
		    font-weight: 600;
		    font-size: 1.1rem;
		    background-color: #2F945A; /* adjust to match green if needed */
		    color: white;
		  }
		  .custom-cta-btn:hover {
		    background-color: #2F945A;
		    text-decoration: none;
		    color: white;
		  }
		  .custom-secondary-for-blogs {
		  						color:#86889B;
		  					    font-weight: 400;
		  					    font-size: 48px;
		  					    line-height: 140%;
		  					    letter-spacing: 0%;
		  					  }
  </style>
</head>
<body>
  <div class="container-fluid p-0">
    <!-- Full Width Cover Image -->
    <img src="img/blogcover1.webp" alt="What is eRUPI" class="cover-image" title="Explanation of eRUPI - How does it work & Benefits">
  </div>

  <div class="container">
    <!-- Header -->
	<section class="section container">
		     <h1 class="custom-green">eRUPI: What is it & How does it work?</h1>
			 <h1 class="custom-secondary-for-blogs">UPI Vouchers  for your Digital Spends</h1>
			 <p>Vidit Sidana</p>

			   <p class="meta">
				<span>Cotodel</span>
			     <span>Apr 14, 2025</span>
			     <span>3 min read</span>
			   </p>
			
		     <p>With 18 billion+ transactions happening on UPI every month in India, the National Payments Corporation of India (NPCI) has truly changed how all of us pay digitally! There is no better time than right now to continuously innovate and leverage the existing UPI ecosystem.</p>

			<p>And this is where eRUPI comes into the picture. Let us try to understand how your business spends can come on UPI through these UPI Vouchers called eRUPI! </p> 
			 </section>
			 
			 <section class="section container">
			 	     <h1 class="text-strong">What is eRUPI?</h1>
					 <p>These are prepaid digital UPI vouchers that can be issued to specific people with the spend use-case locked at a Merchant level for each beneficiary.</p>
					 <p>Imagine Direct Benefit Transfer (DBT) done for any government scheme but onto the beneficiary’s UPI app directly with the spend case locked for the scheme’s intended purpose only! Just like how DBT eliminated the need of middlemen for subside disbursement by the subsidy amount being directly debited into the beneficiary’s bank account, eRUPI takes it a step ahead by also locking the use-case for which the intended spend is supposed to be done!</p>
			                 
			 	 </section>
				 
	 <section class="container" >
	   <div class="d-flex justify-content-center">
	     <img src="img/blogpageimg1.webp" alt="Utilizing eRUPI for business spends" title="UPI Digital vouchers for business spends (corporate expenses & fleet expenses) for employees and drivers"class="img-fluid" style="max-width: 120%; height: auto;">
	   </div><br>
	    <p>So if a beneficiary was to get Rs. 2,000 for Girl child education, the amount will go to the beneficiary’s mobile number on UPI with the spend being locked at Schools/Books/Uniform outlets. The beneficiary can scan the existing merchant code at these outlets and pay using their existing UPI app using these UPI-enabled digital vouchers called eRUPI!</p>
		<p>However, there is limited public awareness of this new payment instrument. The first thing that comes to our mind when we hear the term eRUPI is something to do with digital currency but that is eRupee or Central Bank Digital Currency (CBDC), a digital rupee network launched by multiple banks, which is different from eRUPI that we are talking about. </p> 
		<p>For most Indians, UPI is the mode of payment that all of us use to make our payments and since eRUPI is nothing but prepaid digital vouchers that run on UPI, it is bound to become the new form of payment instrument!</p>   
		<p>This is exactly where Cotodel comes into the picture as we intend to solve for your business expenses. We want to make your business payments as seamless as your personal UPI spends</p>
</section>		 

 <section class="container" >
	   <div class="d-flex justify-content-center">
	     <img src="img/blogpageimg2.webp" alt="UPI Ecosystem for targeted business spends" title="Digital UPI Vouchers require no change in consumer or merchant" class="img-fluid" style="max-width: 120%; height: auto;">
	   </div>
	   </section>		
	   
	   <section class="contact-section pt-0" >
	   							<div class="container">
	   								<div class="row">
	   									<div class="col-12">
	   										<div class="contact-form  text-start" >
	   											<h2 class="h2-bold mb-4 color-prime-500">Join the Waitlist</h2>
	   											<p class="title-2 color-secnd-500 mb-2">18 billion UPI transactions are happening every month!  Time to get your Business payments on UPI as well?
	   											</p>
	   											<!--<p class="title-2 color-secnd-500">Drop in your details to connect with us</p>-->


	   											<div
	   												class="d-flex mt-2 mt-lg-4 flex-column flex-md-row align-items-md-center justify-content-start">
													<a class="btn btn-lg btn-primary bradius-8 text-white mb-0" id="submitButton01"
													target="_blank" href="/waitlist" title="Join the waitlist to get exclusive access to Cotodel's expense management solution to bring your business spends and fleet expenses on UPI">Submit Details
													<i class="bi bi-arrow-right"></i>	
												</a>
	   												<p class="or">OR</p>
	   												<button class="btn btn-lg btn-primary bradius-8 text-white mb-0"
	   													id="whatsappButton"><img src="img/whatsapp.svg" alt="Connect with Cotodel for Corporate Expense Management" title="Message us to implement Smart Digital UPI Vouchers to simplify your business spends." class="me-2">Chat
	   													with us</button>
	   											</div>
	   										</div>
	   									</div>
	   								</div>
	   							</div>
	   						</section>			 

   

    <!-- How UPI Vouchers Work -->
    <div class="section">
      <h2>How do these UPI Vouchers work?</h2>
	  <p>UPI vouchers leverage the existing UPI ecosystem with no change in consumer or merchant behaviour, making the learning curve almost non-existent for any type of user!</p>
	  <p>Here is how a business can issue these UPI vouchers for their targeted business spends:</p>
     
        <P>1. Onboard & sign-up your business with Cotodel.</P>
		<P>2. Add your employees’ mobile numbers to onboard them. No separate KYC is needed for each employee.</P>
		<P>3. Define Voucher amount, Validity & Purpose of Spend (let us assume Fuel for this example)</P>
		<P>4. The total voucher amount gets blocked in the Company’s Bank Account and does not get transferred to each employee’s account on issuance.</P>
		<P>5. Employee receives the voucher on their existing UPI app, which is linked to their mobile number.</P>
		<P>6. Employee activates the voucher from the UPI app of their choice, which they are already using, without downloading any new app.</P>
		<P>7. The employee goes to the Petrol pump and scans the UPI QR code, which is already installed at the fuel station.</P>
		<P>8. Fuel voucher automatically pops up right below the employee’s bank account on their UPI app, without them having to enter or find any gift coupon/code.</P>
		<P>9. The employee can then select the Fuel Voucher instead of their Bank Account and pay using the same, just like how they complete a regular UPI transaction.</P>
		<P>10. Once the employee enters the UPI Pin and transaction is successful, then the transaction amount gets deducted from the Company’s Bank Account and it is a direct debit transaction for the merchant.</P>
		<P>11. Complete Digital trail for reconciliation is provided to Cotodel’s clients through the Dashboard, helping them track and monitor the expenses being done by their employees.</P>
        
    </div>

    <!-- Comparison Section -->
    <div class="section">
      <h1>How is Cotodel’s solution better than current expense management solutions such as Zaggle/Pluxee by Sodexo/Happay etc.?</h1>
	  <div class="d-flex justify-content-center">
	  	     <img src="img/blogpageimg3.webp" alt="Cotodel UPI Digital Vouchers superior to prepaid cards" title="Shift your business spends on UPI Digital Vouchers " class="img-fluid" style="max-width: 120%; height: auto;">
	  	   </div>
      <br>
      <ul>
        <li><span class="highlight">UPI is the form factor of payment</span>  used by all of us for our personal spends on a daily basis. Then why should it be any different for our business spends? There is no need to issue a new corporate card or download another app to do transactions via a new digital card.</li>
        <li><span class="highlight">Redemption network of QR codes</span> dominates POS machines hands-down. Cotodel wants to leverage the existing UPI ecosystem and is building a layer on top of that to solve for targeted business expenses for businesses. This may look like a new payment instrument but because of UPI, the learning curve involved here is negligible.</li>
        <li><span class="highlight">No KYC is needed</span> for an individual to start issuing vouchers to them which simplifies the onboarding process multi-fold. For a company, they can issue UPI vouchers to even part-time/contractual workers without handing everyone a physical credit card.</li>
        <li><span class="highlight">Money never leaves the company’s bank account</span> till the time the actual transaction is done whereas in the case of cards, the money is transferred from the account to the third party’s container at the time of issuance only. </li>
        
      </ul>
	 
    </div><br>
	<p>Time to start going digital on UPI through vouchers as well now!</p>

    <!-- CTA -->
	<footer class="footer-cta bg-white border-top py-4"> 
	  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
	    <h5 class="text-primary fw-semibold mb-3 mb-md-0">
	      At Cotodel, we’re building smart solutions that enable Targeted Business Spends on UPI. 
	      So, let us make your Business spends as seamless as your personal UPI spends!
	    </h5>
	    <a href="/" title="Cotodel Home Page to understand about UPI Digital Vouchers for your business spends " class="btn custom-cta-btn d-flex align-items-center justify-content-center gap-2">
	      Explore More <span class="ms-1">→</span>
	    </a>
	  </div>
	</footer>
  </div>
  <script>	document.getElementById('whatsappButton').addEventListener('click', function () {
      				window.open('https://wa.me/919910558848', '_blank'); // Open the URL in a new tab
      			});</script>
</body>
</html>